body .wrapper {
    font-family: "Roboto", sans-serif;
}
$color-main: #22924c;
body .wrapper {
    font-family: "Roboto", sans-serif;
}
header {
    background: $color-main;
    .logo {
        img {
            height: 43px;
            object-fit: contain;
        }
    }
    .nav-custom {
        min-height: 54px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
        padding: 15px 10px;
    }

    .navbar-light .navbar-nav .active > .nav-link {
        color: #fff;
        padding: 15px 10px;
    }
    .navbar-light .navbar-nav .active {
        background: #007e33;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        color: #fff;
        background: #007e33;
    }
    .navbar-light .navbar-toggler-icon {
        // background-image: url('https://image.flaticon.com/icons/svg/1828/1828863.svg');
    }
}

.active {
    // color: #f00!important;
}