<div class="wrapper">
    <!-- start header -->
    <header>
        <div class="container">
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg navbar-light nav-custom">
                <a class="navbar-brand logo" routerLink="/"><img src="../../../assets/img/logo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact :true}">
                            <a class="nav-link" routerLink="/">Trang 
                                Chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/b1-list-work/0/0/none/none/none/none/none">Tuyển Dụng</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/c1-list-candidate/0/0/none/none/none/none/none">Ứng
                                Viên</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/d1-list-company/0/0/none">Công Ty</a>
                        </li>
                        <li class="nav-item dropdown" routerLinkActive="active">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Tài Khoản
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" routerLink="/f1-company">Nhà Tuyển Dụng</a>
                                <a class="dropdown-item" routerLink="/logincandidate">Ứng Viên</a>
                            </div>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/e1-coaching">Coaching</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/g1-contact">Liên Hệ</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </header>
    <!-- end header -->

    <!-- begin main -->
    <router-outlet></router-outlet>
    <!-- end main -->

    <!-- start footer -->
    <app-footer></app-footer>
    <!-- end footer -->
</div>