<div class="main" style="background-image: url('../../../../assets/img/body-bg.jpg'); margin-bottom:25px">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mt-4 mb-4 col-f2login ">
                <div class="box-text mb-4 text-white">
                    <h3 class="mr-4"><i class="far fa-newspaper mr-2"></i>Đăng tin miễn phí</h3>
                    <h3><i class="fas fa-search mr-2"></i>Lọc hồ sơ ứng viên</h3>
                </div>
                <div class="col-md-12 mb-4">
                    <div class="round stat ml-n">
                        <h4>+4M</h4>
                        <p class="pl-15 pr-15">Ứng viên</p>
                    </div>
                    <div class="round stat">
                        <h4>+700K</h4>
                        <p class="pl-15 pr-15">Nhà tuyển dụng</p>
                    </div>
                    <div class="round stat">
                        <h4>+1.6M</h4>
                        <p class="pl-15 pr-15">Việc làm<br></p>
                    </div>
                    <div class="round stat">
                        <h4>+14M</h4>
                        <p class="pl-15 pr-15">Lượt ứng tuyển</p>
                    </div>
                </div>

                <div class="box-info ml-4">
                    <p><i class="far fa-check-circle"></i>&nbsp;+4,000,000 ứng viên tiếp cận thông tin tuyển dụng</p>
                    <p><i class="far fa-check-circle"></i>&nbsp;Hơn 20 hồ sơ ứng tuyển cho 1 việc làm đăng tuyển tại
                        MyWork</p>
                    <p><i class="far fa-check-circle"></i>&nbsp;Tăng hiệu quả 4 - 5 lần so với các phương thức tuyển
                        dụng khác</p>
                    <p><i class="far fa-check-circle"></i>&nbsp;+2,000 lượt xem trung bình cho 1 việc làm</p>
                </div>
                <div class="col-md-12">
                    <div class="hotline">
                        <div class="well">
                            Hotline tư vấn dành cho Nhà tuyển dụng
                        </div>
                        <div >
                            <div class="row">
                                <div class="col-md-6 text-center ">
                                    <h4 class="text-white">Miền Bắc</h4>
                                    <a href="tel:024710 88688" class="number"><img
                                            src="../../../../assets/img/phone-icon.gif" class="img-register">(024) 710
                                        88688</a>
                                </div>
                                <div class="col-md-6 text-center ">
                                    <h4 class="text-white">Miền Nam</h4>
                                    <a href="tel:024710 88688" class="number"><img
                                            src="../../../../assets/img/phone-icon.gif" class="img-register">(028) 710
                                        88688</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 mt-4 mb-4">
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Đăng ký tài khoản nhà tuyển dụng</h3>

                        </div>
                        <div class="card-body card-from">
                            <form>
                                <fieldset>
                                    <legend>Tài khoản</legend>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Mật khẩu">
                                    </div>


                                </fieldset>
                                <fieldset>
                                    <legend>Thông tin công ty</legend>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Tên người liên hệ">
                                    </div>

                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Số điện thoại liên hệ">
                                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Tên công ty">
                                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-users"></i></span>
                                        </div>
                                        <select class="custom-select" style="width:100%;">
                                            <option [disabled]="personalscale.value==0" *ngFor="let personalscale of personalscales" [value]="personalscale.value">
                                                {{personalscale.viewValue}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Địa chỉ công ty">
                                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-city"></i></span>
                                        </div>
                                        <select class="custom-select" style="width:100%;">
                                            <option [disabled]="city.id==0" *ngFor="let city of citys" [value]="city.id">
                                                {{city.name}}
                                            </option>
                                        </select>
                                    </div>


                                </fieldset>

                                <div class="row align-items-center remember mb-2">
                                    <input type="checkbox">Đồng ý với thỏa thuận sử dụng của MyWork
                                </div>
                                <div class="form-group text-center">
                                    <input type="submit" value="Đăng ký" class="btn login_btn">
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                                Bạn đã có tài khoản?<a routerLink="/f2-login-company">Đăng nhập</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>