main {
    font-size: 16px;
    line-height: 1.8;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-weight: 400;
    margin: 0px;
}
.box-text {
    display: -webkit-inline-flex;
    h3 {
        color: #fff;
        font-size: 26px;
    }
}
.col-box {
    margin-top: 6rem;
}
.card-from{
    padding: 0px 1.25rem;

}
.card {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #22924c;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
    font-size: 135%;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -11px;
}

.input-group-prepend span {
    width: 45px;
    background-color: #22924c;
    color: #fff;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: #fff;
    background-color: #22924c;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

////////////////////////
.box-info {
    h1 {
        color: #fff;
    }
    p {
        color: #fff;
    }
}

.round.stat {
    width: 103px;
    height: 103px;
    margin: auto;
    display: inline-block;
    border-radius: 50%;
    margin: 0 12px;
    color: #fff;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.27843);
    vertical-align: top;
}
.round.stat p {
    font-size: 16px;
}
.round.stat h4 {
    margin-top:15px;
}
.number {
    color: #f39c12;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.well {
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    -webkit-box-shadow: none;
    box-shadow: none; 
    text-align: center;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
}
.img-register{
    width: 50px;
}
fieldset {
    border: 1px solid #eeeeee69;
    padding: 0px 10px;
    margin-bottom: 15px;
    border-radius: 3px; 
}
legend{
    display: inline;
    width: auto;
    padding: 0 5px;
    font-size: 15px;
    line-height: inherit;
    border: 0;
    border-bottom: none;
    font-weight: 400;
    margin-bottom: 5px;
    color: #fff;
}
@media (max-width: 480px) {
    .remember {
        font-size: 90%;
    }
}

@media screen and (max-width: 500px){
    .col-f2login{
        text-align: center;
    }
    .round.stat {
        margin-bottom: 16px;
    }
    .well{
        margin-right: 0px
    }
    .box-text{ 
        display:none;
    }
    .card-header{
        h3{
            font-size: 125%;
        }
    }
}
