<div class="container">
    <div class="row">
        <div class="col-sm-12 mb-4">
            <div class="tab-title">
                <h2  class="sl_title">
                    <span  class="text"> Checkout </span>
                    <span  class="line"></span></h2>
            </div>
        </div>
        <div class="col-sm-7  mb-4 pr-4">
            <div class="check-border">
                <div>
                    <h4 class="mb-2">Enter Your Credit Card Information</h4>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-id-card"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Credit Card Number" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group ">
                    <div class="col-sm-6 input-pl-0">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="fab fa-centercode"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Zip Code" aria-label="Zip Code"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-sm-6 input-pr-0">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Month(MM)" aria-label="Month"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-sm-6 input-pl-0">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Year(YYYY)" aria-label="Year"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-sm-6 input-pr-0">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="fas fa-shield-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Security Code"
                                aria-label="Security Code" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div>
                    <p>Got a promo code?<a href="#">Enter it here</a></p>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value=""> I agree to the <a href="#">The Muse
                            Terms</a> and <a href="#">Privacy Policy</a>
                    </label>
                </div>
                <p style="margin-top: 10px">What comes next? Good question! After you submit your order, you'll get an
                    email and instructions for scheduling time with your coach.</p>
            </div>
        </div>
        <div class="col-sm-5  mb-4">
            <div class="checkout-confirmation">
                <div class="coach-info">
                    <div class="coach-picture">
                        <a routerLink="e4-checkout-coaching">
                            <img class="circle" src="{{information.avatar}}">
                        </a>
                    </div>
                    <div class="coach-data">
                        <p class="mb-2"><i>Your Coach</i></p>
                        <h4>{{information.fullname}}</h4>
                        <p>Coach $$</p>
                    </div>
                </div>
                <div class="cart-container">
                    <div class="check-line mt-2 mb-2">
                        <table class="mt-2 mb-2">
                            <thead>
                                <tr class="check-th ">
                                    <th>Package</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="check-td">
                                    <td>{{packages.name}}</td>
                                    <td>
                                        <select [(ngModel)]="quantityId" 
                                            class="custom-select" style="width:100%;">
                                            <option *ngFor="let item of quantity" [value]="item.value">{{item.value}}</option>
                                        </select>
                                    </td>
                                    <td>${{packages.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: right" class="mb-2 mt-2">
                        <h5 ><strong>Total: ${{total(packages.price,quantityId)}}</strong></h5>
                    </div>
                    <div style="text-align: center;">
                        <a style="width: 100%;border-radius: 30px;color: #fff;" (click)="onSubmit()"
                            class="btn btn-success">BOOK NOW</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>