p,.form-check-label,.form-control{
  font-size: 14px;
}
table{
  width: 100%;
}
.tab-title {
  padding-top: 40px; 
}
.tab-liner {
  width: 100%;
  height: 1px;
  background-color: #000;
  
}
.check-th th {
  padding: 5px 20px; 
}
.check-td td {
  padding: 5px 20px;
}
.check-line {
  border-top: 1px solid #80808070;
  border-bottom: 1px solid #80808070; 
}
.check-size-contai {
  padding: 20px 0px; 
}
.check-border {
  box-shadow: 2px 1px 7px 1px grey;
  padding: 20px;
  border-radius: 5px;
}
@media screen and (max-width: 1024px){
  .coach-info .coach-picture img{
    width: 100% !important; ;
  }
  .coach-data{
    h4{ 
      font-size:95%;
    }
  }
  .coach-info{
    padding-bottom: 0 !important;
  }
  .check-th th {
    padding: 5px 10px; 
  }
  .check-td td {
    padding: 5px 10px;
  }
}
@media screen and (max-width: 500px) {
  .check-img {
    width: 100%;
  }
  .check-size-contai {
    padding-right: 0px;
  }
  .input-pl-0{
    padding-right: 0 !important;
  }
  .input-pr-0{
    padding-left: 0 !important;
  }
  .coach-info{
    padding-bottom: 0 !important;
  }
  .coach-info .coach-picture img{
    width: 100% !important; ;
  }
  .coach-data{
    h4{ 
      font-size:125%;
    }
  }
  th,td{
    font-size: 14px;
  }
  
}
.sl_title {
  overflow: hidden;
  font-weight: 600;
  font-size: 28px;
  border-left: 5px solid #22924c;
  padding: 0 10px;
  line-height: 29px;
  margin-bottom: 15px;
  padding-right: 0;
  position: relative;
  margin-bottom: 0px;
  text-transform: uppercase;
  .line{
    background-color: #D7D7D7;
    bottom: 0;
    height: 1px;
    margin-bottom: auto;
    margin-left: 10px;
    margin-top: auto;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
#basic-addon1{
  background-color: #22924c;
  color: #fff;
}
.input-pl-0{
  padding-left: 0 !important;
}
.input-pr-0{
  padding-right: 0 !important;
}

.checkout-confirmation { 
  padding: 0px 20px; 
}
.coach-info {  
  margin-bottom: 20px; 
  display: table;
  width: 100%;
}

.coach-info .coach-picture, .coach-info .coach-data {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    h4{
      color:#22924c;
    }
    
}
.coach-info .coach-picture {
  border-radius: 100%;
  margin: 0px auto;
}
.coach-info .coach-picture img {
  max-width: 100%;
  width: 200px;
  height: 200px;
  border-radius: 50%; 
  object-fit: cover;
}

