<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Hồ sơ đã xem</p>
        </div>
    </div>
</mat-card>

<mat-card class="system-custom col-md-12" style="padding: 16px 0px;">
    <div class="row content">
        <div class="col-md-12 title-main">
            <mat-form-field class="example-full-width">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Nhập từ khoá">
            </mat-form-field>
            <div class="col-md-12">
                <a (click)="onDeleteClick()" routerLink="/manager/company/c2-viewed-profile" class="button-action del">
                    <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                    <span>Xóa</span>
                </a>
                <div class="clear"></div>
            </div>
            <!-- end button crud-->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-profile">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Số thứ tự -->
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let row"> {{row.stt}}</td>
                </ng-container>

                <!-- ID hồ sơ -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID hồ sơ </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}}</td>
                </ng-container>

                <!-- Họ và tên -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef>Họ và tên</th>
                    <td mat-cell *matCellDef="let row">{{row.fullname}}</td>
                </ng-container>

                <!-- Số điện thoại -->
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef>Số điện thoại</th>
                    <td mat-cell *matCellDef="let row">{{row.phone}}</td>
                </ng-container>

                <!-- Ngày xem -->
                <ng-container matColumnDef="startdate">
                    <th mat-header-cell *matHeaderCellDef>Ngày xem</th>
                    <td mat-cell *matCellDef="let row">{{row.startdate}}</td>
                </ng-container>

                <!-- Số điểm -->
                <ng-container matColumnDef="point">
                    <th mat-header-cell *matHeaderCellDef>Số điểm</th>
                    <td mat-cell *matCellDef="let row"> {{row.point}} </td>
                </ng-container>

                <!-- Xem -->
                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef>
                        Xem
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <a routerLink="#" class="button-action add">
                            <i class="fa fa-eye" aria-hidden="true" title="Xem"> </i>
                        </a>
                    </td>
                </ng-container>

                <!-- sửa -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>
                        Xoá
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <i (click)="onDeleteClick()" class="fa fa-trash icon-trash text-center"
                            aria-hidden="true" title="Xoá"> </i>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
            </table>
            <!-- end table -->
            <mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons>
            </mat-paginator>