<!-- change password -->
<mat-card class="title-block mt-4 col-md-12">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Thay đổi Mật khẩu</p>
        </div>
    </div>
</mat-card>
<mat-card class="system-custom col-md-12">
    <div class="row">
        <div class="col-md-12 title-main">

            <!-- begin form -->
            <form [formGroup]="form2">
                <div class="example-container ">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Nhập mật khẩu cũ</mat-label>
                        <input formControlName="passwordedit" [(ngModel)]="passwordedit" matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="button-password">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div *ngIf="form2.controls['passwordedit'].invalid && (form2.controls['passwordedit'].dirty || form2.controls['passwordedit'].touched)" class="alert alert-danger form-custom">
                        <div *ngIf="form2.controls['passwordedit'].errors.required">
                            Bạn phải nhập mật khẩu cũ
                        </div>
                        <div *ngIf="form2.controls['passwordedit'].errors.maxlength">
                            Mật khẩu không quá 50 ký tự
                        </div>
                    </div>
                </div>
                <div class="example-container">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Nhập mật khẩu mới</mat-label>
                        <input formControlName="newpassword" [(ngModel)]="newpassword" matInput [type]="hide1 ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1" class="button-password">
                            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div *ngIf="form2.controls['newpassword'].invalid && (form2.controls['newpassword'].dirty || form2.controls['newpassword'].touched)" class="alert alert-danger form-custom">
                        <div *ngIf="form2.controls['newpassword'].errors.required">
                            Bạn phải nhập mật khẩu mới
                        </div>
                        <div *ngIf="form2.controls['newpassword'].errors.maxlength">
                            Mật khẩu không quá 50 ký tự
                        </div>
                    </div>
                </div>
            </form>

            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button (click)="onChangePassword()" class="mb-2 mr-2 btn-transition btn btn-primary button-update">Cập
                    nhật
                </button>
                <button (click)="onNoClick()" class="mb-2 mr-2 btn-transition btn btn-primary button-destroy">Hủy bỏ
                </button>
            </div>
        </div>
    </div>
</mat-card>