<div>
    <!-- Thông tin tài khoản -->
    <mat-card class="title-block col-md-12">
        <div class="row">
            <div class="col-md-12 title-main">
                <p>Thông tin tài khoản </p>
            </div>
        </div>
    </mat-card>
    <mat-card class="system-custom col-md-12">
        <div class="row content">
            <div class="col-md-12 title-main">
                <table class="table-dialog">
                    <tr>
                        <th>Tên đăng nhập:</th>
                        <td>{{company.email}}</td>
                        <td>
                            <a routerLink="/manager/company/e1-change-password" class="a-information">
                                <i class="nav-link-icon nav-menu-icon fa fa-lock"> </i> Đổi mật khẩu</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Số điểm tài khoản:</th>
                        <td><span class="a-point">{{company.point}}</span></td>
                        <td>
                            <a (click)="openCheckoutDialog()" routerLink="/a1-information-company" class="a-information">
                                <i class="nav-link-icon nav-menu-icon fa fa-university"> </i> Nạp thêm</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-card>
    <!-- end Thông tin tài khoản -->

    <!-- Thông tin công ty -->
    <mat-card class="title-block col-md-12">
        <div class="row">
            <div class="col-md-12 title-main">
                <p>Thông tin công ty </p>

            </div>
        </div>
    </mat-card>
    <mat-card class="system-custom col-md-12">
        <div class="row content">
            <div class="col-md-8 title-main">
                <!-- begin form -->
                <form [formGroup]="form">
                    <div class="row">

                        <!-- Tên công ty  -->
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Tên công ty <span class="text-red">*</span></mat-label>
                                <input formControlName="companyname" [(ngModel)]="company.companyname" matInput placeholder="Nhập tên công ty">
                            </mat-form-field>
                            <div *ngIf="form.controls['companyname'].invalid && (form.controls['companyname'].dirty || form.controls['companyname'].touched)" class="alert alert-danger form-custom">
                                <div *ngIf="form.controls['companyname'].errors.required">
                                    Bạn phải nhập tên công ty
                                </div>
                                <div *ngIf="form.controls['companyname'].errors.maxlength">
                                    Tên công ty không quá 100 ký tự
                                </div>
                                <div *ngIf="form.controls['companyname'].errors.pattern">
                                    Bạn không được nhập khoảng trắng đầu tiên
                                </div>
                                <div *ngIf="form.controls['companyname'].errors.minlength">
                                    Bạn không được nhập dưới 5 ký tự
                                </div>
                            </div>
                        </div>

                        <!-- Địa chỉ  -->
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Địa chỉ<span class="text-red">*</span></mat-label>
                                <input formControlName="address" [(ngModel)]="company.address" matInput placeholder="Nhập địa chỉ">
                            </mat-form-field>
                            <div *ngIf="form.controls['address'].invalid && (form.controls['address'].dirty || form.controls['address'].touched)" class="alert alert-danger form-custom">
                                <div *ngIf="form.controls['address'].errors.required">
                                    Bạn phải nhập địa chỉ công ty
                                </div>
                                <div *ngIf="form.controls['address'].errors.maxlength">
                                    Địa chỉ công ty không quá 100 ký tự
                                </div>
                                <div *ngIf="form.controls['address'].errors.pattern">
                                    Bạn không được nhập khoảng trắng đầu tiên
                                </div>
                                <div *ngIf="form.controls['address'].errors.minlength">
                                    Bạn không được nhập dưới 5 ký tự
                                </div>
                            </div>
                        </div>

                        <!-- Thành phố  -->
                        <div class="col-md-6">
                            <label for="city"><b style="color: red;">*</b>
                                Tỉnh/Thành Phố:</label>
                            <select formControlName="city" [(ngModel)]="company.city" class="custom-select" style="width:100%;">
                                <option *ngFor="let city of citys" [value]="city.id">
                                    {{city.name}}
                                </option>
                            </select>
                            <div *ngIf="form.controls['city'].invalid && (form.controls['city'].dirty || form.controls['city'].touched)" class="alert alert-danger form-custom">
                                <div *ngIf="form.controls['city'].errors.required">
                                    Bạn phải chọn thành phố
                                </div>
                            </div>
                        </div>

                        <!-- Quy mô  -->
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Quy mô công ty<span class="text-red">*</span></mat-label>
                                <mat-select formControlName="personalscale" [(ngModel)]="company.personalscale">
                                    <mat-option *ngFor="let personalscale of personalscales " [value]="personalscale.value">
                                        {{personalscale.viewValue}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>
                            <div *ngIf="form.controls['personalscale'].invalid && (form.controls['personalscale'].dirty || form.controls['personalscale'].touched)" class="alert alert-danger form-custom">
                                <div *ngIf="form.controls['personalscale'].errors.required">
                                    Bạn phải chọn quy mô công ty
                                </div>
                            </div>
                        </div>

                        <!-- Phone -->
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Số điện thoại<span class="text-red">*</span></mat-label>
                                <input formControlName="companyphone" [(ngModel)]="company.companyphone" matInput placeholder="Nhập số điện thoại">
                            </mat-form-field>
                            <div *ngIf="form.controls['companyphone'].invalid && (form.controls['companyphone'].dirty || form.controls['companyname'].touched)" class="alert alert-danger form-custom">
                                <div *ngIf="form.controls['companyphone'].errors.required">
                                    Bạn phải nhập số điện thoại công ty
                                </div>
                                <div *ngIf="form.controls['companyphone'].errors.pattern">
                                    Bạn phải nhập đúng số điện thoại
                                </div>
                                <div *ngIf="form.controls['companyphone'].errors.maxlength">
                                    Số điện thoại không quá 11 số
                                </div>
                                <div *ngIf="form.controls['companyphone'].errors.minlength">
                                    Số điện thoại không được dưới 10 số
                                </div>
                            </div>
                        </div>

                        <!-- Website  -->
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width ">
                                <mat-label>Website<span class="text-red">*</span></mat-label>
                                <input formControlName="website" [(ngModel)]="company.website" matInput placeholder="Nhập Website">
                            </mat-form-field>
                            <div *ngIf="form.controls['website'].invalid && (form.controls['website'].dirty || form.controls['website'].touched)" class="alert alert-danger form-custom">
                                <div *ngIf="form.controls['website'].errors.required">
                                    Bạn phải nhập website công ty
                                </div>
                                <div *ngIf="form.controls['website'].errors.maxLength">
                                    Website công ty không quá 50 ký tự
                                </div>
                                <div *ngIf="form.controls['website'].errors.pattern">
                                    Website không được có khoảng cách đầu tiên
                                </div>
                            </div>
                        </div>

                        <!-- Ngành nghề -->
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Ngành nghề<span class="text-red">*</span></mat-label>
                                <input formControlName="career" [(ngModel)]="company.career" matInput placeholder="Nhập ngành nghề công ty">
                            </mat-form-field>
                            <div *ngIf="form.controls['career'].invalid && (form.controls['career'].dirty || form.controls['career'].touched)" class="alert alert-danger form-custom">
                                <div *ngIf="form.controls['career'].errors.required">
                                    Bạn phải nhập ngành nghề công ty
                                </div>
                                <div *ngIf="form.controls['career'].errors.maxlength">
                                    Bạn không được nhập quá 100 ký tự
                                </div>
                                <div *ngIf="form.controls['career'].errors.pattern">
                                    Bạn không được nhập khoảng cách đầu tiên
                                </div>
                            </div>
                        </div>
                        <!--  Mô tả công ty -->
                        <div class="col-md-12">
                            <mat-label>Mô tả sơ lược về công ty</mat-label>
                            <ckeditor formControlName="about" [(ngModel)]="company.about" [config]="{uiColor: '#2BBBAD'}" [readonly]="false" debounce="500">
                            </ckeditor>
                        </div>
                    </div>
                </form>



            </div>
            <div class="col-md-4 title-main">
                <div class="logo-company">

                    <!-- update image logo company -->
                    <div class="col-md-6" style="text-align: center">
                        <img *ngIf="isUpdate == true" [src]="imgURL" width="200px" style="margin-top: 10px;" />
                        <img *ngIf="isUpdate == false" [src]="company.logo" width="200px" style="margin-top: 10px;" />
                        <div class="logo-company">
                            <div style="text-align:center; margin-top: 30px;">
                                <input #file type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" (change)="preview(file.files)" />
                                <mat-card style="box-shadow:none;">
                                    <mat-card-actions style="margin-bottom:2px;">
                                        <button mat-button color="warn" (click)="onClick()" style="padding: 3px;width: 200px;text-align: center;background: #2bbbad;box-shadow: 1px 1px 6px 1px;;color:#fff">
                                            <mat-icon>file_upload</mat-icon>
                                            Hình ảnh LOGO
                                        </button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="license-company">

                    <!-- update image logo company -->
                    <div class="col-md-6" style="text-align: center">
                        <img *ngIf="isUpdateBanner == true" [src]="imgURLBanner" width="200px" style="margin-top: 10px;" />
                        <img *ngIf="isUpdateBanner == false" [src]="company.bussinesslicence" width="200px" style="margin-top: 10px;" />
                        <div class="logo-company">
                            <div style="text-align:center; margin-top: 30px;">
                                <input #fileBanner type="file" #fileUploadBanner id="fileUploadBanner" name="fileUploadBanner" multiple="multiple" accept="image/*" style="display:none;" (change)="previewBanner(fileBanner.files)" />
                                <mat-card style="box-shadow:none;">
                                    <mat-card-actions style="margin-bottom:2px;">
                                        <button mat-button color="warn" (click)="onClickBanner()" style="padding: 3px;width: 200px;text-align: center;background: #2bbbad;box-shadow: 1px 1px 6px 1px;;color:#fff">
                                            <mat-icon>file_upload</mat-icon>
                                            Giấy phép kinh doanh
                                        </button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </mat-card>
    <!-- end Thông tin Công ty -->

    <!-- Thông tin người liên hệ -->
    <mat-card class="title-block col-md-12">
        <div class="row">
            <div class="col-md-12 title-main">
                <p>Thông tin người liên hệ </p>

            </div>
        </div>
    </mat-card>
    <mat-card class="system-custom col-md-12">
        <div class="row content">
            <div class="col-md-12 title-main">

                <!-- begin form -->
                <form [formGroup]="form1">
                    <div class="row">
                        <!-- Tên người liên hệ  -->
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width ">
                                <mat-label>Tên người liên hệ<span class="text-red">*</span></mat-label>
                                <input formControlName="fullname" [(ngModel)]="company.fullname" matInput placeholder="Nhập tên người liên hệ">
                            </mat-form-field>
                            <div *ngIf="form1.controls['fullname'].invalid && (form1.controls['fullname'].dirty || form1.controls['fullname'].touched)" class="alert alert-danger form-custom">
                                <div *ngIf="form1.controls['fullname'].errors.required">
                                    Bạn phải nhập tên người liên hệ
                                </div>
                                <div *ngIf="form1.controls['fullname'].errors.maxlength">
                                    Tên người liên hệ không quá 30 ký tự
                                </div>
                                <div *ngIf="form1.controls['fullname'].errors.pattern">
                                    Không được nhập khoảng trắng đầu tiên
                                </div>
                            </div>
                        </div>

                        <!-- Số điện thoại -->
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Số điện thoại<span class="text-red">*</span></mat-label>
                                <input formControlName="phone" [(ngModel)]="company.phone" matInput placeholder="Nhập số điện thoại">
                            </mat-form-field>
                            <div *ngIf="form1.controls['phone'].invalid && (form1.controls['phone'].dirty || form1.controls['phone'].touched)" class="alert alert-danger form-custom">
                                <div *ngIf="form1.controls['phone'].errors.required">
                                    Bạn phải nhập số điện thoại
                                </div>
                                <div *ngIf="form1.controls['phone'].errors.pattern">
                                    Bạn phải nhập đúng số điện thoại
                                </div>
                                <div *ngIf="form1.controls['phone'].errors.maxlength">
                                    Số điện thoại không quá 11 số
                                </div>
                                <div *ngIf="form1.controls['phone'].errors.minlength">
                                    Số điện thoại không được dưới 10 số
                                </div>
                            </div>
                        </div>

                        <!-- Email  -->
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width ">
                                <mat-label>Email<span class="text-red">*</span></mat-label>
                                <input formControlName="personalemail" type="email" name="email" [email]="true" [(ngModel)]="company.personalemail" matInput placeholder="Nhập Email">
                            </mat-form-field>
                            <div *ngIf="form1.controls['personalemail'].invalid && (form1.controls['personalemail'].dirty || form1.controls['personalemail'].touched)" class="alert alert-danger form-custom">
                                <div *ngIf="form1.controls['personalemail'].errors.required">
                                    Vui lòng điền trường này
                                </div>
                                <div *ngIf="form1.controls['personalemail'].errors.pattern">
                                    Bạn phải nhập đúng kiểu email
                                </div>
                                <div *ngIf="form1.controls['personalemail'].errors.maxlength">
                                    Email không quá 50 ký tự
                                </div>
                                Chưa đúng định dạng email vui lòng nhập lại
                            </div>
                        </div>

                        <!-- Chức vụ -->
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Chức vụ</mat-label>
                                <input formControlName="position" [(ngModel)]="company.position" matInput placeholder="Nhập chức vụ">
                            </mat-form-field>
                            <div *ngIf="form1.controls['position'].invalid && (form1.controls['position'].dirty || form1.controls['position'].touched)" class="alert alert-danger form-custom">
                                <div *ngIf="form1.controls['position'].errors.pattern">
                                    Không được có khoảng trắng đầu tiên
                                </div>
                                <div *ngIf="form1.controls['position'].errors.maxlength">
                                    Bạn không được nhập quá 150 ký tự
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-card>
    <!-- end Thông tin người liên hệ -->
    <div class="example-button-row text-center">
        <button (click)="onUpdateCompany()" class="mb-2 mr-2 btn-transition btn btn-primary button-update">Cập
            nhật
        </button>
        <button (click)="OnCancel()" class="mb-2 mr-2 btn-transition btn btn-primary button-destroy">Hủy bỏ
        </button>
    </div>
</div>