<footer>
    <div class="block-contact py-4">
        <div class="container">
            <div class="title">
                <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
                <p class="sub-title">Hãy liên hệ với chúng tôi nếu bạn có bất cứ thắc mắc nào.</p>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <span>Trụ sở Đà Nẵng</span>
                            <div class="pl-md-2 pt-md-2 pt-1">
                                <i class="fas fa-map-marker-alt"></i>
                                <a class="address" style="opacity: 1;">
                                    <p class="mb-1">183 Quách Thị Trang</p>
                                </a>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <span>Số điện thoại</span>
                            <div class="pl-md-2 pt-md-2 pt-1">
                                <i class="fas fa-phone-alt"></i>
                                <a class="address" style="opacity: 1;">
                                    <p class="mb-1">(+84) 028-3526-8202</p>
                                </a>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <a href="" class="btn_mailct"><i class="far fa-paper-plane"></i><span>LIÊN HỆ QUA E-MAIL</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p class="title">Youngpinejob.com - Website Việc Làm Lớn Nhất Việt Nam</p>
        <div class="container">
            <!-- <div class="top-logo">
          <a href="" class="d-inline-block"><img class="img-fluid" src="img/logo.PNG" alt=""></a>
        </div> -->
            <div class="row">
                <div class="col-md-4 block-info">
                    <div class="info-item">
                        <h3>Trụ sở Đà Nẵng</h3>
                        <p>Tầng 3, 183 Quách Thị Trang, Cẩm Lệ, Đà Nẵng</p>
                    </div>
                    <div class="info-item">
                        <h3>Hotline</h3>
                        <p>0782.105.516 - 0905.123.456</p>
                    </div>
                    <div class="info-item">
                        <h3>Email hỗ trợ</h3>
                        <p>phamtu613@gmail.com</p>
                    </div>
                </div>
                <div class=" col-md-4 block-cate">
                    <ul class="foot-cod foot-show list-unstyled">
                        <li><a rel="nofollow" routerLink="/"><i class="fas fa-caret-right"></i>Trang chủ</a></li>
                        <li><a rel="nofollow" routerLink="/c1-list-candidate/0/0/none/none/none/none/none"><i class="fas fa-caret-right"></i>Danh sách ứng viên</a></li>
                        <li><a rel="nofollow" routerLink="/d1-list-company/0/0/none"><i class="fas fa-caret-right"></i>Danh sách nhà tuyển dụng</a>
                        </li>
                        <li><a rel="nofollow" routerLink="/b1-list-work/0/0/none/none/none/none/none"><i class="fas fa-caret-right"></i>Danh sách việc làm</a></li>
                        <li><a rel="nofollow" routerLink="/e1-coaching"><i class="fas fa-caret-right"></i>Huấn luyện viên của bạn</a></li>
                        <li><a rel="nofollow" routerLink="/g1-contact"><i class="fas fa-caret-right"></i>Liên hệ</a></li>
                    </ul>
                </div>
                <div class=" col-md-4">
                    <iframe
                        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhkqddn%2F&tabs=timeline&width=340&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2449518365367012"
                        width="340" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="inner">
            <p>Copyright 2020 © - Youngpinejob - Một Tìm Kiếm, Triệu Việc Làm</p>
        </div>
    </div>
</footer>