$color-main: #22924c;
body .wrapper {
    font-family: "Roboto", sans-serif;
}
.block-contact {
    background-image: url("https://vieclambank.com/templates/lulo_temp/img/common/footer/bg_contactbox_overlay.jpg");
    .title {
        text-align: center;

        color: #fff;
        h2 {
            font-size: 39px;
            line-height: 46px;
            text-align: center;
            font-weight: 500;
        }
    }
    ul {
        background: #fff;
        padding: 10px 5px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        li {
            width: 49%;
            cursor: pointer;
            span {
                font-size: 18px;
                display: block;
                background: $color-main;
                color: #fff;
                text-align: center;
                font-weight: 500;
                line-height: 26px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                padding: 3px 0px;
            }
            i {
                font-size: 25px;
                padding-right: 10px;
                color: $color-main;
            }
            a.address {
                font-size: 24px;
                font-weight: 500;
                display: inline-block;
                opacity: 1;
                color: $color-main;
            }
        }
    }
    .btn_mailct {
        display: block;
        height: 87px;
        line-height: 87px;
        font-weight: 500;
        background: #fff;
        text-align: center;
        padding-right: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        i {
            font-size: 25px;
            color: #f5121b;
        }
        span {
            font-size: 20px;
            color: #f5121b;
            padding-left: 20px;
            background-size: 37px 25px;
            font-weight: 500;
        }
    }
}

.footer {
    background: $color-main;
    color: #fff;
    p.title {
        font-size: 20px;
        font-weight: 500;
        padding-top: 20px;
        text-align: center;
        margin-bottom: 30px;
    }
    .top-logo {
        img {
            width: 220px;
        }
    }
    .block-info {
        border-right: 1px solid #efefef69;
    }
    .info-item {
        margin: 10px 0px;
        h3 {
            font-size: 18px;
            font-weight: 500;
            padding-left: 13px;
            position: relative;
            text-transform: capitalize;
            line-height: 28px;
            margin-bottom: 4px;
            &:before {
                display: block;
                content: "";
                width: 3px;
                height: 20px;
                background: #fff;
                -webkit-border-radius: 25%;
                -moz-border-radius: 25%;
                border-radius: 25%;
                position: absolute;
                left: 0;
                top: calc(50% - 10px);
            }
        }
        p {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .block-cate {
        border-right: 1px solid #efefef69;
        li {
            a {
                color: #fcfbfb;
                font-size: 16px;
                padding: 5px 0;
                display: block;
                text-decoration: none;
                i {
                    padding-right: 10px;
                }
            }
        }
    }
}
.copyright {
    background: #007e33;
    color: #fff;
    padding: 7px;
    text-align: center;
    p {
        margin-bottom: 0px;
    }
}
// responsive
@media (max-width: 575px) {
    .block-contact .title h2 {
        font-size: 30px;
        margin-bottom: 0px;
    }
    .block-contact ul li {
        width: 48%;
    }
    .block-contact ul li i {
        font-size: 13px;
        padding-right: 0px;
    }
    .block-contact ul li a.address {
        font-size: 14px;
    }
    .block-contact .btn_mailct {
        height: 60px;
        line-height: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
