<div class="employer-right el-col el-col-21">
    <div class="candidate-profile el-row">
        <div class="el-col el-col-24">
            <div class="el-breadcrumb">
                <span>
                    <span class="el-breadcrumb__item__inner">Dashboard</span>
                <span>/</span>
                <span style="color: #97a8be;">Cập nhật hồ sơ</span>
                </span>
            </div>
        </div>
        <!-- start update profile-->
        <div class="el-col el-col-24">
            <div class="sbox">
                <div class="vue-form-wizard sm">
                    <div class="wizard-navigation">
                        <!-- time line-->
                        <div class="box">
                            <div class="wizard-progress-with-circle">
                                <div class="wizard-progress-bar background-progress-bar"> </div>
                            </div>

                            <!-- global menu update document -->
                            <ul class="wizard-nav wizard-nav-pills" style="margin-bottom: 0">
                                <li class="active">
                                    <a routerLink="/manager/candidate/b1-infomation-personal">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info">Thông Tin Cá Nhân</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b2-infomation-document">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-info" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Thông Tin hồ sơ</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b3-education">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Học vấn bằng cấp</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b4-experient">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container  background-active">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Kinh nghiệm làm việc</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b5-skill-work">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-handshake" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Ký Năng làm việc </p>
                                    </a>
                                </li>
                                <button (click)="onUpdateCandidate()" type="button" class="btn btn-primary">Đăng Hồ
                                    Sơ</button>
                            </ul>
                            <!-- end global menu update document -->

                        </div>
                        <!-- end time line-->
                        <div class="wizard-tab-content box">
                            <div class="wizard-tab-container">
                                <div class="block">
                                    <h4 class="heading-title">
                                        Thông Tin Hồ Sơ
                                    </h4>
                                    <hr>

                                </div>
                            </div>
                            <!-- star form-->
                            <div class="form">
                                <form [formGroup]="form">
                                    <div class="row">

                                        <!--contact form-->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="posisionold"><b style="color: red;">*</b> Chức danh / vị
                                                    trí:</label>
                                                <input formControlName="posisionold" [(ngModel)]="candidate.posisionold" type="text" class="form-control" placeholder="Vui lòng nhập chức danh vị trí..." name="posisionold">
                                                <div *ngIf="form.controls['posisionold'].invalid && (form.controls['posisionold'].dirty || form.controls['posisionold'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['posisionold'].errors.required">
                                                        Bạn phải nhập chức danh/vị trí
                                                    </div>
                                                    <div *ngIf="form.controls['posisionold'].errors.minlength">
                                                        Bản phải nhập trên 5 kí tự
                                                    </div>
                                                    <div *ngIf="form.controls['posisionold'].errors.maxlength">
                                                        Bản phải nhập dưới 101 kí tự
                                                    </div>
                                                    <div *ngIf="form.controls['posisionold'].errors.pattern">
                                                        Chức danh / Vị trí không đúng hoặc dùng quá nhiều khoẳng trắng
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="companyold"><b style="color: red;">*</b> Công ty:</label>
                                                <input formControlName="companyold" [(ngModel)]="candidate.companyold" type="text" class="form-control" placeholder="Vui lòng nhập công ty" name="companyold">
                                                <div *ngIf="form.controls['companyold'].invalid && (form.controls['companyold'].dirty || form.controls['companyold'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['companyold'].errors.required">
                                                        Bạn phải nhập tên công ty
                                                    </div>
                                                    <div *ngIf="form.controls['companyold'].errors.minlength">
                                                        Bản phải nhập trên 5 kí tự
                                                    </div>
                                                    <div *ngIf="form.controls['companyold'].errors.maxlength">
                                                        Bản phải nhập dưới 101 kí tự
                                                    </div>
                                                    <div *ngIf="form.controls['companyold'].errors.pattern">
                                                        Công ty không đúng hoặc dùng quá nhiều khoẳng trắng
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="lever"><b style="color: red;">*</b> Thời gian bắt đầu nhập
                                                    học:</label>
                                                <input formControlName="startworked" [(ngModel)]="candidate.startworked" type="date" class="form-control" name="startworked" [max]="maxDate" onkeydown="return false">
                                                <div *ngIf="form.controls['startworked'].invalid && (form.controls['startworked'].dirty || form.controls['startworked'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['startworked'].errors.required">
                                                        Bạn phải nhập thời gian bắt đầu làm
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="nominee"><b style="color: red;">*</b> Thời gian kết
                                                    thúc:</label>
                                                <input formControlName="endworked" [(ngModel)]="candidate.endworked" type="date" class="form-control" name="endworked" [min]="minDate" onkeydown="return false">
                                                <div *ngIf="form.controls['startworked'].invalid && (form.controls['startworked'].dirty || form.controls['startworked'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['startworked'].errors.required">
                                                        Bạn phải nhập thời gian kết thúc chương trình học học
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="lever"><b style="color: red;"></b> Mô tả công việc:</label>
                                                <div class="md-form">
                                                    <ckeditor formControlName="descriptionsoldjob" [(ngModel)]="candidate.descriptionsoldjob" [config]="{uiColor: '#2BBBAD'}" [readonly]="false" debounce="500">
                                                    </ckeditor>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <hr>
                            <button (click)="onUpdateCandidate()" type="button" class="btn btn-primary">Cập
                                Nhật</button>
                            <button (click)="onCancel()" type="button" class="btn btn-warning">Huỷ</button>
                        </div>
                        <!-- end form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>