<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Việc làm đã ứng tuyển</p>
        </div>
    </div>
</mat-card>

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12"> <a (click)="onDeleteClick()" routerLink=""
                class="button-action del"> <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa</span> </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->
<!-- Danh sách hồ sơ đã xem -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8
    table-profile">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() &&
                isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"> </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let
            row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row)
                : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>
    <!-- Số thứ tự -->
    <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let row"> {{row.stt}}</td>
    </ng-container>
    <!-- ID hồ sơ -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Vị trí </th>
        <td mat-cell *matCellDef="let row"> {{row.position}}</td>
    </ng-container>
    <!-- Họ và tên -->
    <ng-container matColumnDef="companyname">
        <th mat-header-cell *matHeaderCellDef>Tên công ty
        </th>
        <td mat-cell *matCellDef="let row">{{row.companyname}}</td>
    </ng-container>
    <!-- Vị trí tuyển dụng -->
    <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef>Mức lương</th>
        <td mat-cell *matCellDef="let row">{{row.salary}}</td>
    </ng-container>

    <!-- Trạng thái-->
    <ng-container matColumnDef="startdate">
        <th mat-header-cell *matHeaderCellDef>Ngày ứng tuyển
        </th>
        <td mat-cell *matCellDef="let row">{{row.startdate}}</td>
    </ng-container>
    <!-- Trạng thái-->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Trạng thái
        </th>
        <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>
    <!-- sửa -->
    <!-- <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Sửa </th>
        <td mat-cell *matCellDef="let row"> <a> <i (click)="openDialogEditProfile(row)" class="fa
                    fa-fw icon-update text-center" aria-hidden="true" title="Sửa" style="cursor:
                    pointer;"></i> </a> </td>
    </ng-container> -->
    <!-- sửa -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Xoá </th>
        <td mat-cell *matCellDef="let row"> <a (click)="onDeleteClick()" routerLink="/manager/candidate/c1-work-apply"
                class="button-action del"> <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i> </a> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:
        displayedColumns" (click)="selection.toggle(row)"></tr>
</table>
<!-- end table -->
<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>