.section-bg {
  height: 100vh;
  background-size: cover;
}
.bg-background {
  background-color: #343a406b;
  height: 100vh;
}
.bg-color {
  background-color: #22924c;
  color: #fff;
}

.nav-cover {
  width: 20% !important;
  text-align: center;
  border-radius: 50% !important;
  z-index: 1;
  h5{
    text-align:left;
    color: #fff;
    margin-top: 5px;
    margin-left: 12px;
  }
}
.nav-item a {
}
.nav-item:hover a,.nav-item:hover h5 {
  color: #000;
}
.nav-link {
  border-radius: 0px !important;
}

.ul-tab {
  padding-top: 20px;
}
.ul-tab li {
  width: 30.3%;
  height: 50px;
  display: inline-block;
  background: #fcb831;
  font-weight: 500;
  color: #000;
  text-align: center;
  border-radius: 30px;
  padding: 12px 0px;
  font-family: roboto;
  margin: 10px;
}
.ul-tab > li:hover {
  background-color: #f6a504;
  transition: 1s;
  cursor: pointer;
}
.height-tab {
  height: 200px;
}

.nav-link-cover {
  width: 40%;
  height: 80px;
  background-color: #fff;
  border: 2px solid !important;
  border-radius: 50% !important;
}
.text-left {
  text-align: left !important;
}
.liner {
  height: 8px;
  background: #ddd;
  position: absolute;
  width: 68%;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 37px;
}
.nav-tab {
  padding-left: 107px;
  padding-top: 30px;
}
.top-fa {
  padding-top: 12px;
  font-size: 30px;
}

.h-text {
  text-align: center;
  color: #fff;
}
.btn-back {
  background-color: #fff;
  color: #22924c;
  text-transform: uppercase;
  border: 0px;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  vertical-align: text-bottom;
  font-weight: 600;
}
.a-tab {
  color: #22924c !important;
}
.text-tab {
  color: #fff;
}
.container-tabs {
  height: 460px;
}
.sl_title {
  line-height: 20px;
}
.sl_title::after {
  content: "";
  width: 160px;
  height: 5px;
  background-color: #22924c;
  display: block;
  margin: 15px auto;
}
.m-section {
  margin-top: 2.5rem;
}
.coach-service-list {
  position: relative;
  list-style: none;
  padding: 0;
  font-size: 0;
}
.coach-service-item {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  box-sizing: border-box;
  width: 25%;
  position: relative;
}
.coach-service-item__link {
  background-color: #000;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 10px;
  height: 110px;
}
.coach-service-item__img {
  margin-left: -2px;
  margin-top: -2px;
  height: 114px;
  filter: blur(1px);
  opacity: 0.7;
}
.coach-service-item__text {
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 28px;
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 1.4em;
  height: 100%;
  text-shadow: 0 0 10px #333;
}
.coach-service-item__text-wrapper {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  width: 100%;
  height: 100%;
}
.coach-how-it-works__step-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto 60px;
  max-width: 1080px;
}
.coach-how-it-works__step {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 220px;
  height: 220px;
}

.coach-how-it-works__step img {
  height: 64px;
}
.step-arrow {
  font-size: 35px;
  color: #888;
}
.coach-how-it-works__subtext {
  font-size: 14px;
  color: #666;
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 20px 0;
}
.coach-how-it-works__step h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  color: #666;
  margin: 20px 0 0;
}

.coach-how-it-works__step h4 {
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 20px;
  color: #333;
  margin: 8px 0;
}
.coach-how-it-works__step p {
  font-size: 14px;
  color: #444;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: left;
}

/*Responsive*/
@media screen and (max-width: 1024px) {
  .bg-background {
    height: 55vh;
  }
  .section-bg {
    height: 55vh;
  }
  .table-text {
    font-size: 60px;
  }
  .nav-link-cover {
    height: 74px;
    width: 74px;
  }
  .liner {
    width: 66%;
  }
  .nav-tab {
    padding-left: 60px;
  }
  .ul-tab {
    li {
      width: 46%;
    }
    
  }
  
  .container-tabs {
    height: 595px;
  }
  .step-arrow {
    display: none;
  }
  .coach-how-it-works__step {
    margin-left: 100px;
    width: 270px;
    height: 250px;
  }
  .coach-how-it-works__step-container {
    margin: 20px auto 0px;
    justify-content: center;
  }
  .coach-how-it-works__subtext {
    margin: 0px 0px 20px;
  }
  .coach-service-item__text {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .ul-tab {
    padding-top: 0px !important;
  }
  .ul-tab li {
    width: 100% !important;
    margin: 5px -17px;
    margin-bottom: 5px;
  }
  .height-tab {
    height: 430px;
  }
  .nav-mobile {
    padding-left: 20px !important;
  }
  .nav-link-cover {
    height: 52px;
    width: 52px;
  }
  .top-fa {
    font-size: 15px;
    padding: 8px 0px 0px 0px;
  }
  .text-left {
    font-size: 8px;
  }
  .liner {
    height: 5px;
    margin-top: 24px;
  }
  .ul-tab li {
    height: 38px;
    font-size: 15px;
    padding: 8px 0px;
  }

  .table-text {
    font-size: 45px;
  }
  .h-text {
    font-size: 21px;
  }
  .btn-back {
    padding: 7px 15px;
    font-size: 12px;
    margin-right: 2px;
  }
  .coach-service-item {
    width: 50%;
  }
  .coach-how-it-works__step {
    margin-left: 0px;
  }
  .container-tabs {
    height: 645px;
  }
  .nav-cover{
    h5{
      margin-left: 7px;
      font-size: 14px;
    }
  }
}
