<!-- Binh comment coaching -->
<section  class="section-bg" style="
background-image: url(https://cdn.pixabay.com/photo/2016/11/18/22/44/blueprints-1837238_960_720.jpg);">

  <div class="pt-5 pb-5 mt-0 align-items-center d-flex bg-background">


    <div class="container-fluid">
      <div class="row  justify-content-center align-items-center d-flex text-center h-100">
        <div class="col-12 col-md-8  h-50 ">
          <h1 class="display-2 text-light mb-2 mt-5 table-text"><strong class="d-block">Find A Coach,</strong><strong> Change Your
              Life</strong> </h1>
          <p class="lead text-light mb-5">Quickly learn how it works or scroll below to browse services and coaches.
          </p>
          <p><a routerLink="/e2-list-coaching" 
              class="btn bg-color shadow-lg btn-round text-light btn-lg btn-rised">Get List Coaching Now</a></p>

          <div class="btn-container-wrapper p-relative d-block zindex-1">
            <a class="btn btn-link btn-lg mt-md-3 mb-4 scroll align-self-center text-light " (click)="onScrollTab()">
              <i class="fa fa-angle-down fa-4x text-light"></i>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section style="background-color: #22924c;" id="search-coaching">
  <div class="container container-tabs">
    <div class="row">
      <div class="col-sm-12">
        <!-- Nav tabs -->
        <ul class="nav nav-mobile nav-tab" >
          <li role="presentation" class="nav-item nav-cover">
            <a  class="nav-link nav-link-cover a-tab" [ngClass]="{'active show':activeA}" aria-controls="home" role="tab" data-toggle="tab"
              ><i class="fas fa-balance-scale top-fa "></i></a>
              <h5>Step 1</h5>

          </li>
          <li role="presentation" class="nav-item nav-cover">
            <a class="nav-link nav-link-cover a-tab" [ngClass]="{'active show':activeB}" aria-controls="home1" role="tab" data-toggle="tab" ><i
                class="fas fa-money-check-alt top-fa "></i></a>
                <h5>Step 2</h5>

          </li>
          <li role="presentation" class="nav-item nav-cover">
            <a class="nav-link nav-link-cover a-tab" [ngClass]="{'active show':activeC}" aria-controls="home2" role="tab" data-toggle="tab" ><i
                class="fas fa-building top-fa "></i></a>
                <h5>Step 3</h5>

          </li>
          <li role="presentation" class="nav-item nav-cover">
            <a class="nav-link nav-link-cover a-tab" [ngClass]="{'active show':activeD}" aria-controls="home3" role="tab" data-toggle="tab" ><i
                class="fas fa-map-marker-alt top-fa "></i></a>
                <h5>Step 4</h5>

          </li>
          <li role="presentation" class="nav-item nav-cover">
            <a class="nav-link nav-link-cover a-tab" [ngClass]="{'active show':activeE}" aria-controls="home4" role="tab" data-toggle="tab" ><i
                class="fas fa-tasks top-fa "></i></a>
                <h5>Step 5</h5>

          </li>
          <div class="liner"></div>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content height-tab">
          <div id="home" class="container tab-pane" [ngClass]="{'active show':activeA}"><br>
            <h3 class="h-text">How can a career coach partner with you?</h3>
            <ul class="ul-tab">
              <li (click)="onStepA('Update resume/cover letter/LinkedIn')">Update resume/cover letter/LinkedIn</li>
              <li (click)="onStepA('I am lost in my job search')">I'm lost in my job search</li>
              <li (click)="onStepA('I am changing careers')">I'm changing careers</li> 
              <li (click)="onStepA('I need to ace my next interview')">I need to ace my next interview</li>
              <li (click)="onStepA('I want to get a raise or promotion')">I want to get a raise or promotion</li>
              <li (click)="onStepA('I feel stuck in my career')">I feel stuck in my career</li>
            </ul>
          </div>
          <div id="menu1" class="container tab-pane fade" [ngClass]="{'active show':activeB}"><br>
            <h3 class="h-text"><button (click)="onButtonBackB()" type="button" class="bnt btn-back waves-effect">← BACK</button>
              What's your price range?</h3>
            <ul class="ul-tab">
              <li (click)="onStepB('I am on a budget')">I'm on a budget</li>
              <li (click)="onStepB('Spending efficiently')">Spending efficiently</li>
              <li (click)="onStepB('Money is no object')">Money's no object</li>
            </ul>
          </div>
          <div id="menu2" class="container tab-pane fade" [ngClass]="{'active show':activeC}"><br>
            <h3 class="h-text"><button (click)="onButtonBackC()" type="button" class="bnt btn-back waves-effect">← BACK</button>
              What's your current career stage?</h3>
            <ul class="ul-tab">
              <li (click)="onStepC('New Graduate')">New Graduate</li>
              <li (click)="onStepC('Early career')">Early-career</li>
              <li (click)="onStepC('Mid career')">Mid-career</li> 
              <li (click)="onStepC('>Executive')">Executive</li>
            </ul>
          </div>
          <div id="menu3" class="container tab-pane fade" [ngClass]="{'active show':activeD}"><br>
            <h3 class="h-text"><button (click)="onButtonBackD()" type="button" class="bnt btn-back waves-effect">← BACK</button>
              Are you targeting a specific industry?</h3>
            <ul class="ul-tab">
              <li (click)="onStepD('Engineering/Tech')">Engineering/Tech</li>
              <li (click)="onStepD('Marketing')">Marketing</li>
              <li (click)="onStepD('PR/Communications')">PR/Communications</li> 
              <li (click)="onStepD('Creative/Arts/Entertainment')">Creative/Arts/Entertainment</li>
              <li (click)="onStepD('HR/Recruiting')">HR/Recruiting</li>
              <li (click)="onStepD('Education')">Education</li> 
              <li (click)="onStepD('Non-profit')">Non-profit</li>
              <li (click)="onStepD('Finance/Business')">Finance/Business</li>
              <li (click)="onStepD('None of these')">None of these!</li>
            </ul>
          </div>
          <div id="menu4" class="container tab-pane fade" [ngClass]="{'active show':activeE}"><br>
            <h3 class="h-text"><button (click)="onButtonBackE()" type="button" class="bnt btn-back waves-effect">← BACK</button>
              Are you a new manager or leader?</h3>
            <ul class="ul-tab">
              <li (click)="onStepE('I want to be a great manager')">I want to be a great manager</li>
              <li (click)="onStepE('I need to build my leadership skills')">I need to build my leadership skills</li>
              <li (click)="onStepE('>Maybe someday')">Maybe someday!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<section class="m-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="sl_title text-center">Our Top Services</h2>
        <ul class="coach-service-list">
          <li class="coach-service-item">
            <a class="coach-service-item__link" href="#">
              <img class="coach-service-item__img" alt="Resume Review"
                src="https://pilbox.themuse.com/image.jpg?url=https%3A%2F%2Fwww.themuse.com%2Fstatic%2Fimages%2Fcoach-connect%2Fofferings%2Fresume-review.jpg%3Fv%3D3285ad359cc32e5cba5ce81e6481ddbdaf51d39fd7bad4c8430aae89f1d3031e&amp;h=100&amp;prog=1">
              <div class="coach-service-item__text-wrapper">
                <span class="coach-service-item__text">Resume Review</span>
              </div>
            </a>
          </li>
          <li class="coach-service-item">
            <a class="coach-service-item__link" href="#">
              <img class="coach-service-item__img" alt="30-Minute Career "
                src="https://pilbox.themuse.com/image.jpg?url=https%3A%2F%2Fwww.themuse.com%2Fstatic%2Fimages%2Fcoach-connect%2Fofferings%2F30-minute-career-consultation.jpg%3Fv%3D2321310c989426657042d1a70f74ef868e8acdf106bbe827b97885bfe4fa1b4c&amp;h=100&amp;prog=1">
              <div class="coach-service-item__text-wrapper">
                <span class="coach-service-item__text">30-Minute Career Q&amp;A</span>
              </div>
            </a>
          </li>
          <li class="coach-service-item ">
            <a class="coach-service-item__link" href="#">
              <img class="coach-service-item__img" alt="Job Search Strategy"
                src="https://pilbox.themuse.com/image.jpg?url=https%3A%2F%2Fwww.themuse.com%2Fstatic%2Fimages%2Fcoach-connect%2Fofferings%2Fjob-search-strategy.jpg%3Fv%3D54ef4d178331bebbc8256e796dd349be46b15737fb231f1bed80c89483279bf1&amp;h=100&amp;prog=1">
              <div class="coach-service-item__text-wrapper">
                <span class="coach-service-item__text">Job Search Strategy</span>
              </div>
            </a>
          </li>
          <li class="coach-service-item">
            <a class="coach-service-item__link" href="#">

              <img class="coach-service-item__img" alt="Resume + LinkedIn Review"
                src="https://pilbox.themuse.com/image.jpg?url=https%3A%2F%2Fwww.themuse.com%2Fstatic%2Fimages%2Fcoach-connect%2Fofferings%2Flinkedin-profile-writing-services.jpg%3Fv%3D68cf24391534a005ccacf30c59da99b9fc30b537451291ceac466f1f6d6b9a56&amp;h=100&amp;prog=1">
              <div class="coach-service-item__text-wrapper">
                <span class="coach-service-item__text">Resume + LinkedIn Review</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section> 
<section class="coach-how-it-works m-section text-center">
  <h2 class="sl_title">How it Works</h2>
  <div class="coach-how-it-works__step-container">
    <div class="coach-how-it-works__step"> 
      <img alt="1 - Choose a service"
        src="../../../../assets/icons/cc-how-it-works-01.png">
      <h3>Step 1</h3>
      <h4>Choose a service</h4>
      <p>Find the best coaching option to help you tackle (and overcome) your current career obstacle.</p>
    </div>
    <i class="fas fa-long-arrow-alt-right step-arrow"></i>
    
    <div class="coach-how-it-works__step"> 
      <img alt="2 - Book a career coach"
        src="../../../../assets/icons/cc-how-it-works-02.png">
      <h3>Step 2</h3>
      <h4>Book a career coach</h4>
      <p>Explore our roster of top-notch career coaches who provide the service you need. Check out reviews from other
        customers to help you pick the right one.</p>
    </div>
    <i class="fas fa-long-arrow-alt-right step-arrow"></i>
    <div class="coach-how-it-works__step"> 
      <img alt="3 - Decide on a time"
        src="../../../../assets/icons/cc-how-it-works-03.png">
      <h3>Step 3</h3>
      <h4>Decide on a time</h4>
      <p>Your career coach will reach out to you within one business day to schedule your first appointment.</p>
    </div>
    <i class="fas fa-long-arrow-alt-right step-arrow"></i>
    <div class="coach-how-it-works__step"> 
      <img alt="4 - Get Started!"
        src="../../../../assets/icons/cc-how-it-works-04.png">
      <h3>Step 4</h3>
      <h4>Get started!</h4>
      <p>Meet with your career coach for a session by phone or video—and kick your career into high gear!</p>
    </div>
  </div>
  <div class="coach-how-it-works__subtext">

    <span>More questions</span> on what to expect? Head on over to our <a href="#coach-faq-anchor">Coaching FAQs</a> or
    contact one of our career experts
  </div>
</section>