<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Danh sách việc làm</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
    <div class="row">
        <div class="col-md-10">
            <mat-form-field>
                <mat-label>Tên Công Ty:</mat-label>
                <mat-select [(ngModel)]="nameCompanyId">
                    <mat-option *ngFor="let item of nameCompany" [value]="item.id">
                        {{item.companyname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <div class="col-md-12 text-center">
                <div class="example-button-row contain-button-filter">
                    <button class="mb-2 mr-2 btn-transition btn btn-outline-primary button-filter" (click)="filterCompany()">Lọc
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-card>
<!--  end select-top -->

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12">


            <a (click)="onDeleteClick()" routerLink="/c2-manager-work" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <label>Xóa công việc</label>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->

<!-- table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 grid-data-custom">
    <!-- Checkbox Column -->sửa
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- STT Column -->
    <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let element">{{element.stt}}</td>
    </ng-container>

    <!-- name -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Tên công việc</th>
        <td mat-cell *matCellDef="let element">{{element.position}}</td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef>Công ty</th>
        <td mat-cell *matCellDef="let element">{{element.companyname}}</td>
    </ng-container>

    <!-- Địa chỉ -->
    <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef>Mức lương</th>
        <td mat-cell *matCellDef="let element">{{element.salary}}</td>
    </ng-container>

    <!-- type_work -->
    <ng-container matColumnDef="work_at">
        <th mat-header-cell *matHeaderCellDef>Nơi làm việc</th>
        <td mat-cell *matCellDef="let element">{{element.addresswork}}</td>
    </ng-container>

    <!-- view -->
    <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef>Điểm</th>
        <td mat-cell *matCellDef="let element">{{element.point}} điểm</td>
    </ng-container>

    <!-- view number-->
    <ng-container matColumnDef="numberview">
        <th mat-header-cell *matHeaderCellDef>Số lượt xem</th>
        <td mat-cell *matCellDef="let element">{{element.numberview}}</td>
    </ng-container>

    <!-- sửa -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>
            Sửa
        </th>
        <td mat-cell *matCellDef="let element">
            <i class="fa fa-fw icon-update" aria-hidden="true" title="Sửa" (click)="openDialogUpdate(element)"></i>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef=" displayedColumns "></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns " (click)="selection.toggle(row) "></tr>
</table>
<!-- end table -->

<!-- button crud -->
<mat-card class="button-system-custom button-system-custom-footer ">
    <div class="row ">
        <div class="col-md-12 ">
            <a (click)="onDeleteClick()" routerLink="/c2-manager-work" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <label>Xóa công việc</label>
            </a>
            <div class="clear "></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->
<mat-paginator class="mb-20 box-shadow " [pageSizeOptions]="[10, 20, 40, 100] " showFirstLastButtons></mat-paginator>