<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Cập nhật công việc</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom contain-dialog">
    <div class="row">
        <form [formGroup]="form" class="col-md-12">
            <div class="row">
                <!-- Chức danh -->
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Chức danh <span class="text-red">*</span></mat-label>
                        <input formControlName="position" matInput placeholder="Tên chức danh..." [(ngModel)]="input.position" />
                    </mat-form-field>
                    <div *ngIf="form.controls['position'].invalid && (form.controls['position'].dirty || form.controls['position'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['position'].errors.minlength">
                            Bạn không được nhập dưới 5 ký tự
                        </div>
                        <div *ngIf="form.controls['position'].errors.required">
                            Bắt buộc nhập tên chức danh
                        </div>
                        <div *ngIf="form.controls['position'].errors.maxlength">
                            Bạn không được nhập quá 100 ký tự
                        </div>
                        <div *ngIf="form.controls['position'].errors.pattern">
                            Bạn không được nhập khoảng trống đầu tiên
                        </div>

                    </div>

                </div>

                <!-- Loại hình công việc -->
                <div class="col-md-6">
                    <mat-form-field class="example-half-width">
                        <mat-label>Nơi Làm Việc <span class="text-red">*</span></mat-label>
                        <input formControlName="addresswork" matInput placeholder="Địa chỉ công ty..." [(ngModel)]="input.addresswork" />
                    </mat-form-field>
                    <div *ngIf="form.controls['addresswork'].invalid && (form.controls['addresswork'].dirty || form.controls['addresswork'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['addresswork'].errors.required">
                            Bắt buộc nhập nơi làm việc
                        </div>
                        <div *ngIf="form.controls['addresswork'].errors.maxlength">
                            Bạn không được nhập quá 150 ký tự
                        </div>
                        <div *ngIf="form.controls['addresswork'].errors.minlength">
                            Bạn không được nhập dưới 5 ký tự
                        </div>
                        <div *ngIf="form.controls['addresswork'].errors.pattern">
                            Bạn không được nhập khoảng trắng đầu tiên
                        </div>
                    </div>
                </div>

                <!-- Mức lương -->
                <div class="col-md-6">
                    <mat-form-field class="example-half-width">
                        <mat-label>Mức lương <span class="text-red">*</span></mat-label>
                        <input formControlName="salary" (keydown.space)="$event.salary();" matInput placeholder="Nhập lương..." [(ngModel)]="input.salary" pattern="[0-9]*" />
                    </mat-form-field>
                    <div *ngIf="form.controls['salary'].invalid && (form.controls['salary'].dirty || form.controls['salary'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['salary'].errors.required">
                            Bắt buộc nhập mức lương
                        </div>
                        <div *ngIf="form.controls['salary'].errors.maxlength">
                            Bạn không được nhập quá 150 ký tự
                        </div>
                        <div *ngIf="form.controls['salary'].errors.pattern">
                            Mức lương phải đúng định dạng và lớn hơn 100.000
                        </div>
                        <div *ngIf="form.controls['salary'].errors.minlength">
                            Bạn không được nhập dưới 6 ký tự
                        </div>
                    </div>
                </div>

                <!-- Ngành nghề -->
                <div class="col-md-6">
                    <mat-form-field class="example-half-width">
                        <mat-label>Ngành nghề <span class="text-red">*</span></mat-label>
                        <input formControlName="career" matInput placeholder="Nhập ngành nghề của bạn..." [(ngModel)]="input.career" />
                    </mat-form-field>
                    <div *ngIf="form.controls['career'].invalid && (form.controls['career'].dirty || form.controls['career'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['career'].errors.required">
                            Bắt buộc nhập ngành nghề của bạn
                        </div>
                        <div *ngIf="form.controls['career'].errors.maxlength">
                            Bạn không được nhập quá 150 ký tự
                        </div>
                        <div *ngIf="form.controls['career'].errors.minlength">
                            Bạn không được nhập dưới 5 ký tự
                        </div>
                        <div *ngIf="form.controls['career'].errors.pattern">
                            Bạn không được nhập khoảng trắng đầu tiên
                        </div>

                    </div>
                </div>

                <!-- view number -->
                <div class="col-md-12">
                    <mat-form-field class="example-half-width">
                        <mat-label>Sô lượt xem </mat-label>
                        <input formControlName="numberview" matInput placeholder="Nhập lương..." [(ngModel)]="input.numberview" />
                    </mat-form-field>

                </div>

                <!-- Mô tả công việc -->
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Mô tả công việc </mat-label>
                        <textarea formControlName="descriptionwork" matInput class="mh-50" [(ngModel)]="input.descriptionwork"></textarea>
                    </mat-form-field>
                    <div *ngIf="form.controls['descriptionwork'].invalid && (form.controls['descriptionwork'].dirty || form.controls['descriptionwork'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['descriptionwork'].errors.maxlength">
                            Bạn không được nhập quá 500 ký tự
                        </div>
                    </div>
                </div>

                <!-- Quyền lợi được hưởng -->
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Quyền lợi được hưởng <span class="text-red">*</span></mat-label>
                        <textarea formControlName="benefit" matInput class="mh-50" [(ngModel)]="input.benefit"></textarea>
                    </mat-form-field>
                    <div *ngIf="form.controls['benefit'].invalid && (form.controls['benefit'].dirty || form.controls['benefit'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['benefit'].errors.maxlength">
                            Bạn không được nhập quá 500 ký tự
                        </div>
                        <div *ngIf="form.controls['benefit'].errors.minlength">
                            Bạn không được nhập dưới 5 ký tự
                        </div>
                        <div *ngIf="form.controls['benefit'].errors.pattern">
                            Bạn không được nhập khoảng trắng đầu tiên
                        </div>
                        <div *ngIf="form.controls['benefit'].errors.required">
                            Bạn không được để trống trường này
                        </div>

                    </div>
                </div>

                <!-- Yêu cầu hồ sơ -->
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Yêu cầu hồ sơ <span class="text-red">*</span></mat-label>
                        <textarea formControlName="requirementDocument" matInput class="mh-50" [(ngModel)]="input.requirementdocument"></textarea>
                    </mat-form-field>
                    <div *ngIf="form.controls['requirementDocument'].invalid && (form.controls['requirementDocument'].dirty || form.controls['requirementDocument'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['requirementDocument'].errors.maxlength">
                            Bạn không được nhập quá 150 ký tự
                        </div>
                        <div *ngIf="form.controls['requirementDocument'].errors.minlength">
                            Bạn không được nhập dưới 5 ký tự
                        </div>
                        <div *ngIf="form.controls['requirementDocument'].errors.pattern">
                            Bạn không được nhập khoảng trắng đầu tiên
                        </div>
                    </div>
                </div>

                <!-- title -->
                <div class="col-md-12">
                    <div class="row">
                        <mat-card class="title-block col-md-4 mb-2">
                            <div class="row">
                                <div class="col-md-12 title-main">
                                    <p>Thông tin người liên hệ </p>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>

                <!-- Tên người liên hệ  -->
                <div class="col-md-6">
                    <mat-form-field class="example-half-width ">
                        <mat-label>Tên người liên hệ<span class="text-red">*</span></mat-label>
                        <input formControlName="fullname" matInput placeholder="Nhập tên người liên hệ" [(ngModel)]="input.fullname">
                    </mat-form-field>
                    <div *ngIf="form.controls['fullname'].invalid && (form.controls['fullname'].dirty || form.controls['fullname'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['fullname'].errors.maxlength">
                            Bạn không được nhập quá 150 ký tự
                        </div>
                        <div *ngIf="form.controls['fullname'].errors.required">
                            Bạn không được để trống trường này
                        </div>
                        <div *ngIf="form.controls['fullname'].errors.minlength">
                            Bạn không được nhập dưới 5 ký tự
                        </div>
                        <div *ngIf="form.controls['fullname'].errors.pattern">
                            Bạn không được nhập khoảng trắng đầu tiên
                        </div>
                    </div>
                </div>

                <!-- Số điện thoại -->
                <div class="col-md-6">
                    <mat-form-field class="example-half-width mat-margin-left">
                        <mat-label>Số điện thoại<span class="text-red">*</span></mat-label>
                        <input formControlName="phone" (keydown.space)="$event.email();" matInput placeholder="Nhập số điện thoại" [(ngModel)]="input.phone">
                    </mat-form-field>
                    <div *ngIf="form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['phone'].errors.required">
                            Bắt buộc nhập số điện thoại
                        </div>
                        <div *ngIf="form.controls['phone'].errors.minlength">
                            Bạn không được nhập dưới 10 ký tự
                        </div>
                        <div *ngIf="form.controls['phone'].errors.maxlength">
                            Bạn không được nhập quá 11 ký tự
                        </div>
                        <div *ngIf="form.controls['phone'].errors.pattern">
                            Bạn phải nhập ký tự là số
                        </div>
                    </div>
                </div>

                <!-- Email  -->
                <div class="col-md-6">
                    <mat-form-field class="example-half-width ">
                        <mat-label>Email<span class="text-red">*</span></mat-label>
                        <input formControlName="email" type="email" [email]="true" (keydown.space)="$event.email();" matInput placeholder="Nhập Email" [(ngModel)]="input.email">
                    </mat-form-field>
                    <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['email'].errors.required">
                            Bạn không được để trống mục này
                        </div>
                        <div *ngIf="form.controls['email'].errors.pattern">
                            Bạn phải nhập đúng định dạng email
                        </div>
                        <div *ngIf="form.controls['email'].errors.maxlength">
                            Bạn không được nhập quá 100 ký tự
                        </div>
                        Chưa đúng vui lòng nhập lại
                    </div>
                </div>

                <!-- Chức vụ -->
                <div class="col-md-6">
                    <mat-form-field class="example-half-width mat-margin-left">
                        <mat-label>Chức vụ</mat-label>
                        <input formControlName="positioncontact" matInput placeholder="Nhập chức vụ" [(ngModel)]="input.positioncontact">
                    </mat-form-field>
                    <div *ngIf="form.controls['positioncontact'].invalid && (form.controls['positioncontact'].dirty || form.controls['positioncontact'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['positioncontact'].errors.minlength">
                            Bắt không được nhập dưới 5 ký tự
                        </div>
                        <div *ngIf="form.controls['positioncontact'].errors.maxlength">
                            Bạn không được nhập quá 255 ký tự
                        </div>
                        <div *ngIf="form.controls['positioncontact'].errors.pattern">
                            Bạn không được nhập khoảng trắng đầu tiên
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button cdkFocusInitial (click)="onOkClick()" class="mb-2 mr-2 btn-transition btn btn-primary button-destroy">Đồng ý
                </button>
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-destroy" [mat-dialog-close] click="onNoClick()">Đóng
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end select-top -->