.example-full-width {
    width: 100%;
  }
  .mr-20 {
    margin-right: 20px;
  }
  .title-block {
    background: #2bbbad;
    color: #fff;
    font-size: 18px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .title-main {
    p {
      margin-bottom: 0px;
      font-size: 15px;
    }
  }
  .custom-border {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 15px;
  }
  
  .custom-overflow {
    // max-height: 350px;
    overflow-y: auto;
  }
  
  .custom-margin-button {
    margin-right: 10px;
  }
  
  .grid-data-custom {
    td,
    th {
      width: 12%;
    }
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }
  .system-custom {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
      0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all 0.2s;
    margin-bottom: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .button-system-custom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .button-system-custom-footer {
    box-shadow: none;
    border-bottom: 1px solid #e2e2e2;
  }
  .title-header-crud {
    box-shadow: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .button-system-custom-after {
    border-radius: 0px;
  }
  .button-filter {
    padding: 6px 33px;
    border-color: #2bbbad;
    color: #2bbbad;
  }
  .button-filter:hover {
    background: #2bbbad;
    color: #fff;
  }
  .contain-button-filter {
    padding-top: 8px;
  }
  .button-action {
    width: 110px;
    float: left;
    text-align: center;
    @media (max-width: 576px) {
      width: 103px;
    }
    span {
      font-size: 16px;
    }
    i {
      padding-right: 10px;
      font-size: 18px;
    }
  }
  .button-action.add {
    color: #33b5e5;
  }
  .button-action.acept {
    color: #00c851;
  }
  
  .button-action.del {
    color: #ff4444;
  }
  .clear {
    clear: both;
  }
  th {
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.7px;
  }
  
  .mat-header-row {
    background: #2bbbad !important;
    text-transform: uppercase;
    height: 50px;
  }
  
  tr.mat-row:hover {
    background: #e0f2f1;
  }
  
  .example-form.form-sort {
    max-width: 65px !important;
    min-width: 65px !important;
  }
  .icon-acept,
  .icon-sort-up,
  .icon-sort-down {
    font-size: 18px;
  }
  .icon-acept {
    color: #00c851;
  }
  .icon-sort-up {
    color: #ff8800;
  }
  .icon-sort-down {
    color: #ffbb33;
  }
  .icon-update {
    font-size: 17px;
    color: #33b5e5;
  }
  // check
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #2bbaac !important;
  }
  .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
  .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background: #2bbaac !important;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .box-shadow {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
      0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  }
  .button-system-custom.button-system-custom-footer {
    box-shadow: -4px 0px 0px 0px #e2e2e285;
  }
  // thêm mới
  .button-update,
  .button-destroy {
    padding: 6px 33px;
    border-color: #2bbbad;
    background: #2bbbad;
  }
  .text-red {
    color: #ff0000;
    font-size: 17px;
  }
  .mh-50 {
    min-height: 60px;
  }
  // ==================================================================== search chat ===============================================
  .search-message {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 50px;
    font-size: 15px;
    height: 36px;
    padding-left: 36px;
    padding-right: 16px;
    text-align: left;
  }
  .search-block {
    position: relative;
    margin-bottom: 15px;
    i {
      position: absolute;
      top: 10px;
      left: 13px;
      color: #8d949e;
      font-size: 19px;
    }
  }
  
  .list-chat {
    height:445px;
      // overflow-y: scroll;
    .chat-item {
      display: flex;
      margin-bottom: 10px;
      padding: 5px 8px 4px 8px;
      cursor: pointer;
      position: relative;
      img {
        border-radius: 50%;
        width: 55px;
        height: 55px;
        object-fit: contain;
      }
      .chat-item-text {
        flex-basis: 94%;
        overflow: hidden;
        margin-left: 12px;
  
        .name {
          margin-bottom: 2px;
          color: rgba(0, 0, 0, 1);
          font-size: 15px;
          font-weight: 400;
          line-height: 1.4;
          white-space: nowrap;
          text-transform: capitalize;
          margin-top: 8px;
        }
        .status {
          margin-bottom: 0px;
          color: rgba(153, 153, 153, 1);
          font-size: 13px;
          font-weight: 400;
        }
      }
  
      // ...
      span.load-message {
        position: absolute;
        right: 10px;
        top: 25px;
        display: none;
      }
      &:hover {
        > span.load-message {
          display: block;
        }
      }
    }
    // click -> bg gray
    .active {
      background: rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      min-width: 0;
      padding: 5px 8px 4px 8px;
    }
  
    i {
      display: none;
    }
  
    // online
    .chat-item.online {
      position: relative;
      .icon-online {
        position: absolute;
        bottom: 7px;
        left: 50px;
        color: rgb(66, 183, 42);
        display: block;
        font-size: 10px;
      }
    }
  }
  
  // ==================================================================== content chat ===============================================
  .sidebar-chat {
    
  }
  .col-content-chat {
    padding-left: 0px;
  
    .card-body {
      padding: 0px;
    }
  }
  .content-chat {
    height: 535px;
      overflow-y: scroll;
    .header {
      display: flex;
      width: 100%;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      display: flex;
      padding: 8px 8px 8px 16px;
      img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        object-fit: contain;
      }
  
      .header-text {
        flex-basis: 94%;
        margin-left: 12px;
  
        .name {
          margin-bottom: 2px;
          color: rgba(0, 0, 0, 1);
          font-size: 15px;
          font-weight: 400;
          line-height: 1.4;
          white-space: nowrap;
          text-transform: capitalize;
          font-weight: bold;
        }
        .status {
          margin-bottom: 0px;
          color: rgba(153, 153, 153, 1);
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
    .body {
      padding: 20px;
      // =================================== candidate chat ===================================
      .candidate_chat {
        margin-bottom: 15px;
        display: flex;
        position: relative;
        img {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          object-fit: contain;
          position: absolute;
      bottom: 0px;
        }
        .content {
          overflow: hidden;
          margin-left: 12px;
          margin-left: 40px;
          p {
            background: #f1f0f0;
            color: rgba(0, 0, 0, 1);
            border-radius: 1.3em;
            font-size: 15px;
            padding: 5px 12px 5px 12px;
            margin-bottom: 0px;
            max-width: 315px;
          }
        }
      }
      // =================================== employer chat ===================================
      .employer_chat {
        display: flex;
        justify-content: flex-end;
        position: relative;
        img {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          object-fit: contain;
          order: 1;
          position: absolute;
          bottom: 0px
        }
        .content {
          overflow: hidden;
          margin-right: 40px;
          p {
            background: #f1f0f0;
            color: rgba(0, 0, 0, 1);
            border-radius: 1.3em;
            font-size: 15px;
            padding: 5px 12px 5px 12px;
            margin-bottom: 0px;
            max-width: 315px;
          }
        }
      }
    }
  }
  