<mat-card class="border border-info">	
    <div class="alert alert-info text-center" role="alert">	
        <h5 class="text-uppercase font-weight-bolder">Thông tin Trip</h5>	
    </div>	
	
    <mat-card-content class="custom-overflow">	
        <!-- id_company field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.id_company" [required]="'true'" placeholder="Id_company">	
        </mat-form-field>	
	
        <!-- id_train field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.id_train" [required]="'true'" placeholder="Id_train">	
        </mat-form-field>	
	
        <!-- start_date field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.start_date" [required]="'true'" placeholder="Start_date">	
        </mat-form-field>	
	
        <!-- start_time_train field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.start_time_train" [required]="'true'" placeholder="Start_time_train">	
        </mat-form-field>	
	
        <!-- end_time_train field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.end_time_train" [required]="'true'" placeholder="End_time_train">	
        </mat-form-field>	
	
        <!-- type_ticket field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.type_ticket" [required]="'true'" placeholder="Type_ticket">	
        </mat-form-field>	
	
        <!-- price_origin field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.price_origin" [required]="'true'" placeholder="Price_origin">	
        </mat-form-field>	
	
        <!-- price field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.price" [required]="'true'" placeholder="Price">	
        </mat-form-field>	
	
    </mat-card-content>	
	
    <div class="text-center">	
        <button *ngIf="type == 1" (click)="onDeleteClick()" class="btn btn-danger custom-margin-button" mat-button>Xóa	
        </button>	
        <button class="btn btn-warning custom-margin-button" mat-button [mat-dialog-close]="data.animal">Đóng</button>	
        <button cdkFocusInitial (click)="onOkClick()" class="btn btn-info custom-margin-button" mat-button>Đồng	
            ý</button>	
    </div>	
	
</mat-card>	
