<div class="alert alert-info text-center" role="alert">	
<h5 class="text-uppercase font-weight-bolder">Hệ thống Quản Lý Đại Lý</h5>	
</div>	
	
<div class="text-center">	
<button (click)="onInsertData()" class="btn btn-info custom-margin-button" mat-button 	
cdkFocusInitial>Thêm Đại Lý</button>	
</div>	
	
<mat-form-field>	
<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm giao dịch">	
</mat-form-field>	
	
<div class="mat-elevation-z8">	
<table mat-table [dataSource]="dataSource" matSort>	
	
        <!-- id Column -->	
        <ng-container matColumnDef="id">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>	
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>	
        </ng-container>	
	
        <!-- id_company Column -->	
        <ng-container matColumnDef="id_company">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id_company </th>	
          <td mat-cell *matCellDef="let element"> {{element.id_company}} </td>	
        </ng-container>	
	
        <!-- id_train Column -->	
        <ng-container matColumnDef="id_train">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id_train </th>	
          <td mat-cell *matCellDef="let element"> {{element.id_train}} </td>	
        </ng-container>	
	
        <!-- start_date Column -->	
        <ng-container matColumnDef="start_date">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Start_date </th>	
          <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>	
        </ng-container>	
	
        <!-- start_time_train Column -->	
        <ng-container matColumnDef="start_time_train">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Start_time_train </th>	
          <td mat-cell *matCellDef="let element"> {{element.start_time_train}} </td>	
        </ng-container>	
	
        <!-- end_time_train Column -->	
        <ng-container matColumnDef="end_time_train">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> End_time_train </th>	
          <td mat-cell *matCellDef="let element"> {{element.end_time_train}} </td>	
        </ng-container>	
	
        <!-- type_ticket Column -->	
        <ng-container matColumnDef="type_ticket">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type_ticket </th>	
          <td mat-cell *matCellDef="let element"> {{element.type_ticket}} </td>	
        </ng-container>	
	
        <!-- price_origin Column -->	
        <ng-container matColumnDef="price_origin">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price_origin </th>	
          <td mat-cell *matCellDef="let element"> {{element.price_origin}} </td>	
        </ng-container>	
	
        <!-- price Column -->	
        <ng-container matColumnDef="price">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>	
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>	
        </ng-container>	
	
	
	
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>	
<tr mat-row (dblclick)="onUpdateData(row)" class="example-element-row" *matRowDef="let row; columns: displayedColumns;">	
</tr>	
</table>	
	
<mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" showFirstLastButtons></mat-paginator>	
</div>	
