<!-- Thông tin người liên hệ-->
<mat-card class="title-block col-md-12">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Nạp điểm vào tài khoản  </p>

        </div>
    </div>
</mat-card>

<mat-card class="system-custom col-md-12">
    <div class="row content">
        <div class="col-md-12 title-main">

            <!-- Tên người liên hệ  -->
            <mat-form-field class="example-full-width ">
                <mat-label>Số điểm<span class="text-red">*</span></mat-label>
                <input [(ngModel)]="money"  (keypress)="numberOnly($event)" matInput placeholder="Nhập số điểm" >
            </mat-form-field>

            <!-- Số điện thoại -->
            <h3 style="font-weight: 500; font-size:16px">
                Tổng số tiền : <span class="price">{{money}}.000 VND</span> 
            </h3>          

            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-update">Nạp
                </button>
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-destroy">Hủy bỏ
                </button>
            </div>
        </div>        
    </div>
</mat-card>
<!-- end Thông tin Công ty -->