.title-block {
    background: #2bbbad;
    color: #fff;
    font-size: 18px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.system-custom {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all 0.2s;
    margin-bottom: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.example-h2 {
    margin: 10px;
    display: inline-block;
}

.example-span {
    float: right;
    font-size: 16px;
    font-weight: 500;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 30px;
}

.example-margin {
    margin: 0 10px;
}
//mat-progress-bar
.mat-progress-bar {
    border-radius: 10px;
    height: 8px !important;
}
th {
    padding: 10px;
    font-weight: 400;
}
td {
    padding: 10px;
    font-weight: 500;
    @media(max-width: 480px) {
        display: block;
    }
}
tr {
    vertical-align: center;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.icon-acept {
    color: #00c851;
    font-size: 18px;
}
.button-dialog {
    color: #3498db;
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #fff;
}
.example-full-width {
    width: 100%;
}
.button-update,
.button-destroy {
    padding: 6px 33px;
    border-color: #2bbbad;
    background: #2bbbad;
}
.example-button-row button,
.example-button-row a {
    margin-right: 8px;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}
.button-password {
    border: none;
}
.content {
    margin: 10px;
}

.a-information {
    display: block;
    margin-bottom: 8px;
}
.a-point,.price {
    color: #c0392b;
    font-weight: 500;
}
.title-main {
    h4 {
        margin-bottom: 8px;
    }
    p {
        margin-bottom: 0px;
        font-size: 15px;
    }
}
.icon-update {
    font-size: 17px;
    float: right;
    width: 60px;
    color: #34495e;
}
.logo-company {
    text-align: center;
    h3 {
        margin-bottom: 8px;
        font-weight: 500;
        text-transform: uppercase;
    }
    img {
        width: 220px;
        height: 80px;
    }
}

.license-company {
    text-align: center;
    h3 {
        margin-top: 15px;
        margin-bottom: 8px;
        font-weight: 500;
        text-transform: uppercase;
    }
    img {
        width: 220px;
        height: auto;
    }
}
.example-address {
    width: 76%;
    @media(max-width: 480px) {
        width: 100%;
    }
}
.example-city {
    width: 20%;
    @media(max-width: 480px) {
        width: 100%;
    }
}
.example-half-width {
    width: 48%;
    @media(max-width: 480px) {
        width: 100%;
    }
}
.text-red {
    color: #ff0000;
    font-size: 17px;
}
.button-update,
.button-destroy {
    padding: 6px 33px;
    border-color: #2bbbad;
    background: #2bbbad;
}
.button-file {
    margin: 10px 0;
    color: rgb(0, 145, 207);
}
.mat-margin-left {
    margin-left: 10px;
    @media (max-width: 480px) {
        margin-left: 0px;
    }
}
