<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Thêm mới, cập nhật order coaching</p>
        </div>
    </div>
</mat-card>
<!-- select-top -->
<mat-card class="system-custom contain-dialog">
    <div class="row">
        <form [formGroup]="form" class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <!-- Tên ứng viên -->
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Tên ứng viên <span class="text-red">*</span></mat-label>
                            <input formControlName="nameCdd" matInput placeholder="Tên ứng viên..." [(ngModel)]="input.namecdd" />
                        </mat-form-field>
                        <div *ngIf="form.controls['nameCdd'].invalid && (form.controls['nameCdd'].dirty || form.controls['nameCdd'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['nameCdd'].errors.required">
                                Bắt buộc nhập tên ứng viên
                            </div>
                            <div *ngIf="form.controls['nameCdd'].errors.maxlength">
                                Bạn không được nhập quá 100 ký tự
                            </div>
                            <div *ngIf="form.controls['nameCdd'].errors.minlength">
                                Bạn không được nhập dưới 5 ký tự
                            </div>
                            <div *ngIf="form.controls['nameCdd'].errors.pattern">
                                Bạn không được nhập khoảng trắng đầu tiên
                            </div>


                        </div>
                    </div>

                    <!-- Ngày Sinh cdd -->
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Ngày sinh </mat-label>
                            <input formControlName="bornCdd" (keydown.space)="$event.bornCdd();" matInput [matDatepicker]="picker" value="16/06/1999" [max]="minDate" [(ngModel)]="input.borncdd" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <div *ngIf="form.controls['bornCdd'].invalid && (form.controls['bornCdd'].dirty || form.controls['bornCdd'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['bornCdd'].errors.maxlength">
                                Bạn không được nhập quá 50 ký tự
                            </div>
                            Bạn phải nhập đúng định dạng MM-DD-YYYY và không được nhập quá ngày tháng hiện tại
                        </div>
                    </div>

                    <!-- Giới tính -->
                    <div class="col-md-12">
                        <mat-form-field class="example-half-width">
                            <mat-label>Giới tính </mat-label>
                            <mat-select formControlName="sexCdd" [(ngModel)]="input.sexcdd">
                                <mat-option *ngFor="let genderItem of genders" [value]="genderItem.value">
                                    {{genderItem.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Số điện thoại  -->
                    <div class="col-md-12">
                        <mat-form-field class="example-half-width ">
                            <mat-label>Số điện thoại<span class="text-red">*</span></mat-label>
                            <input formControlName="phoneCdd" (keydown.space)="$event.phoneCdd();" matInput [(ngModel)]="input.phonecdd" />
                        </mat-form-field>
                        <div *ngIf="form.controls['phoneCdd'].invalid && (form.controls['phoneCdd'].dirty || form.controls['phoneCdd'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['phoneCdd'].errors.required">
                                Bắt buộc nhập số điện thoại ứng viên
                            </div>
                            <div *ngIf="form.controls['phoneCdd'].errors.maxlength">
                                Bạn không được nhập quá 11 ký tự
                            </div>
                            <div *ngIf="form.controls['phoneCdd'].errors.minlength">
                                Bạn không được nhập dưới 10 ký tự
                            </div>
                            <div *ngIf="form.controls['phoneCdd'].errors.pattern">
                                Bạn phải nhập đúng định dạng số điện thoại
                            </div>
                        </div>
                    </div>

                    <!-- Địa chỉ -->
                    <div class="col-md-12">
                        <mat-form-field class="example-half-width ">
                            <mat-label>Địa chỉ <span class="text-red">*</span></mat-label>
                            <input formControlName="addressCdd" [(ngModel)]="input.addresscdd" matInput placeholder="Nhập địa chỉ.." value="29/39 Nguyễn Như Đãi Đà Nẵng">
                        </mat-form-field>
                        <div *ngIf="form.controls['addressCdd'].invalid && (form.controls['addressCdd'].dirty || form.controls['addressCdd'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['addressCdd'].errors.maxlength">
                                Bạn không được nhập quá 150 ký tự
                            </div>
                            <div *ngIf="form.controls['addressCdd'].errors.minlength">
                                Bạn không được nhập dưới 5 ký tự
                            </div>
                            <div *ngIf="form.controls['addressCdd'].errors.required">
                                Bạn không được để trống
                            </div>
                            <div *ngIf="form.controls['addressCdd'].errors.pattern">
                                Bạn không được nhập khoảng trắng đầu tiên
                            </div>
                        </div>


                    </div>

                    <!-- gói kết nối -->
                    <div class="col-md-12">
                        <mat-form-field class="example-half-width">
                            <mat-label>Gói kết nối</mat-label>
                            <input formControlName="name" matInput [(ngModel)]="input.name" />
                        </mat-form-field>
                        <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['name'].errors.required">
                                Bắt buộc nhập gói kết nối
                            </div>
                            <div *ngIf="form.controls['name'].errors.maxlength">
                                Không được nhập quá 50 ký tự
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Tên huấn luận viên -->
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Tên huấn luận viên <span class="text-red">*</span></mat-label>
                            <input formControlName="fullName" matInput [(ngModel)]="input.fullname" />
                        </mat-form-field>
                        <div *ngIf="form.controls['fullName'].invalid && (form.controls['fullName'].dirty || form.controls['fullName'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['fullName'].errors.required">
                                Bắt buộc nhập tên huấn luận viên
                            </div>
                            <div *ngIf="form.controls['fullName'].errors.maxlength">
                                Bạn không được nhập quá 100 ký tự
                            </div>
                            <div *ngIf="form.controls['fullName'].errors.minlength">
                                Bạn không được nhập dưới 5 ký tự
                            </div>
                            <div *ngIf="form.controls['fullName'].errors.pattern">
                                Bạn không được nhập khoảng trắng
                            </div>
                        </div>
                    </div>

                    <!-- Ngày Sinh cdd -->
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Ngày sinh </mat-label>
                            <input formControlName="born" (keydown.space)="$event.born();" matInput [matDatepicker]="picker1" [max]="minDate" [(ngModel)]="input.born" />
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <div *ngIf="form.controls['born'].invalid && (form.controls['born'].dirty || form.controls['born'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['born'].errors.maxlength">
                                Bạn không được nhập quá 50 ký tự
                            </div>
                            Định dạng là MM-DD-YYYY và không được nhập quá ngày tháng hiện tại
                        </div>
                    </div>

                    <!-- Giới tính -->
                    <div class="col-md-12">
                        <mat-form-field class="example-half-width">
                            <mat-label>Giới tính </mat-label>
                            <mat-select formControlName="sex" [(ngModel)]="input.sex">
                                <mat-option *ngFor="let genderItem of genders" [value]="genderItem.value">
                                    {{genderItem.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Số điện thoại  -->
                    <div class="col-md-12">
                        <mat-form-field class="example-half-width ">
                            <mat-label>Số điện thoại<span class="text-red">*</span></mat-label>
                            <input formControlName="phone" type="email" [email]="true" (keydown.space)="$event.phone();" matInput [(ngModel)]="input.phone" />
                        </mat-form-field>
                        <div *ngIf="form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['phone'].errors.required">
                                Bắt buộc nhập số điện thoại huyến luận viên
                            </div>
                            <div *ngIf="form.controls['phone'].errors.maxlength">
                                Bạn không được nhập quá 11 ký tự
                            </div>
                            <div *ngIf="form.controls['phone'].errors.minlength">
                                Bạn không được nhập dưới 10 ký tự
                            </div>
                            <div *ngIf="form.controls['phone'].errors.pattern">
                                Bạn phải nhập đúng định dạng số điện thoại
                            </div>
                            Vui lòng nhập lại
                        </div>
                    </div>

                    <!-- Địa chỉ -->
                    <div class="col-md-12">
                        <mat-form-field class="example-half-width ">
                            <mat-label>Địa chỉ <span class="text-red">*</span></mat-label>
                            <input formControlName="address" matInput [(ngModel)]="input.address" />
                        </mat-form-field>
                        <div *ngIf="form.controls['address'].invalid && (form.controls['address'].dirty || form.controls['address'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['address'].errors.maxlength">
                                Bạn không được nhập quá 150 ký tự
                            </div>
                            <div *ngIf="form.controls['address'].errors.minlength">
                                Bạn không được nhập dưới 5 ký tự
                            </div>
                            <div *ngIf="form.controls['address'].errors.required">
                                Bạn không được để trống trường này
                            </div>
                            <div *ngIf="form.controls['address'].errors.pattern">
                                Bạn không được nhập khoảng trắng đầu tiên
                            </div>
                        </div>
                    </div>


                    <!-- Địa chỉ -->
                    <div class="col-md-12">
                        <mat-form-field class="example-half-width ">
                            <mat-label>Email<span class="text-red">*</span></mat-label>
                            <input formControlName="email" (keydown.space)="$event.phone();" matInput [(ngModel)]="input.email" />
                        </mat-form-field>
                        <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['email'].errors.maxlength">
                                Bạn không được nhập quá 50 ký tự
                            </div>
                            <div *ngIf="form.controls['email'].errors.minlength">
                                Bạn không được nhập dưới 5 ký tự
                            </div>
                            <div *ngIf="form.controls['email'].errors.required">
                                Bạn không được để trống trường này
                            </div>
                            <div *ngIf="form.controls['email'].errors.pattern">
                                Bạn phải nhập đúng định dạng email
                            </div>
                        </div>
                    </div>

                    <!-- Giá -->
                    <div class="col-md-12">
                        <mat-form-field class="example-half-width">
                            <mat-label>Giá</mat-label>
                            <input formControlName="price" matInput [(ngModel)]="input.price" />
                        </mat-form-field>
                        <div *ngIf="form.controls['price'].invalid && (form.controls['price'].dirty || form.controls['price'].touched)" class="alert alert-danger">
                            <div *ngIf="form.controls['price'].errors.maxlength">
                                Bạn không được nhập quá 50 ký tự
                            </div>
                            <div *ngIf="form.controls['price'].errors.required">
                                Bạn không được để trống trường này
                            </div>
                            <div *ngIf="form.controls['price'].errors.pattern">
                                Chỉ được nhập số
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-update" (click)="onClickAdd()">Cập
                    nhật
                </button>
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-destroy" [mat-dialog-close]>Hủy bỏ
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end select-top -->