<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Danh sách order huấn luyện viên</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
    <div class="row">
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
                <mat-label>Tên huấn luyện viên</mat-label>
                <mat-select [(ngModel)]="nameCoachingId">
                    <mat-option *ngFor="let item of nameCoaching" [value]="item.id">
                        {{item.fullname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="example-button-row contain-button-filter">
                <button class="mb-2 mr-2 btn-transition btn btn-outline-primary button-filter" (click)="filterCoaching()">Lọc
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end select-top -->

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12">
            <a (click)="onDelClick()" routerLink="/c1-manager-company" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->

<!-- table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 grid-data-custom">
    <!-- Checkbox Column -->sửa
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- STT Column -->
    <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let element">{{element.stt}}</td>
    </ng-container>

    <!-- name -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Tên ứng viên</th>
        <td mat-cell *matCellDef="let element">{{element.namecdd}}</td>
    </ng-container>

    <!-- Gói két nối -->
    <ng-container matColumnDef="package">
        <th mat-header-cell *matHeaderCellDef>Gói kết nối</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- giá -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Giá</th>
        <td mat-cell *matCellDef="let element">{{element.price}}</td>
    </ng-container>

    <!-- name coaching -->
    <ng-container matColumnDef="name_coaching">
        <th mat-header-cell *matHeaderCellDef>Tên coaching</th>
        <td mat-cell *matCellDef="let element">{{element.fullname}}</td>
    </ng-container>

    <!-- Order at -->
    <ng-container matColumnDef="order_at">
        <th mat-header-cell *matHeaderCellDef>Ngày order</th>
        <td mat-cell *matCellDef="let element">{{element.startdate}}</td>
    </ng-container>

    <!-- sửa -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>
            Sửa
        </th>
        <td mat-cell *matCellDef="let element">
            <i class="fa fa-fw icon-update" aria-hidden="true" title="Sửa" (click)="openUpdateOrder(element)"></i>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
</table>
<!-- end table -->

<!-- button crud -->
<mat-card class="button-system-custom button-system-custom-footer">
    <div class="row">
        <div class="col-md-12">
            <a (click)="onDelClick()" routerLink="/c1-manager-company" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->
<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>