<div class="employer-right el-col el-col-21">
    <div class="candidate-profile el-row">
        <div class="el-col el-col-24">
            <div class="el-breadcrumb">
                <span>
                    <span class="el-breadcrumb__item__inner">Dashboard</span>
                <span> / </span>
                <span style="color: #97a8be;">Cập nhật hồ sơ</span>
                </span>
            </div>
        </div>
        <!-- start update profile-->
        <div class="el-col el-col-24">
            <div class="sbox">
                <div class="vue-form-wizard sm">
                    <div class="wizard-navigation">
                        <!-- time line-->
                        <div class="box">
                            <div class="wizard-progress-with-circle">
                                <div class="wizard-progress-bar background-progress-bar"> </div>
                            </div>

                            <!-- global menu update document -->
                            <ul class="wizard-nav wizard-nav-pills" style="margin-bottom: 0">
                                <li class="active">
                                    <a routerLink="/manager/candidate/b1-infomation-personal">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info">Thông Tin Cá Nhân</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b2-infomation-document">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container  background-active">
                                                <i class="fa fa-info" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Thông Tin hồ sơ</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b3-education">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Học vấn bằng cấp</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b4-experient">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Kinh nghiệm làm việc</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b5-skill-work">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-handshake" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Ký Năng làm việc </p>
                                    </a>
                                </li>
                                <button (click)="onUpdateCandidate()" type="button" class="btn btn-primary">Đăng Hồ
                                    Sơ</button>
                            </ul>
                            <!-- end global menu update document -->
                        </div>
                        <!-- end time line-->
                        <div class="wizard-tab-content box">
                            <div class="wizard-tab-container">
                                <div class="block">
                                    <h4 class="heading-title">
                                        Thông Tin Hồ Sơ
                                    </h4>
                                    <hr>
                                </div>
                            </div>
                            <!-- star form-->
                            <div class="form">
                                <form [formGroup]="form">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="img-background avatar">
                                            </div>
                                        </div>
                                        <!--contact form-->
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="positionapply"><b style="color: red;">*</b> Vị
                                                            trí/việc làm cần ứng tuyển:</label>
                                                        <input formControlName="positionapply" ngModel [(ngModel)]="candidate.positionapply" type="text" class="form-control">
                                                        <div *ngIf="form.controls['positionapply'].invalid && (form.controls['positionapply'].dirty || form.controls['positionapply'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['positionapply'].errors.required">
                                                                Bạn phải nhập vị trí muốn ứng tuyển
                                                            </div>
                                                            <div *ngIf="form.controls['positionapply'].errors.maxlength">
                                                                Vị trị ứng tuyển phải dưới 101 kí tự
                                                            </div>
                                                            <div *ngIf="form.controls['positionapply'].errors.minlength">
                                                                Vị trị ứng tuyển phải trên 5 kí tự
                                                            </div>
                                                            <div *ngIf="form.controls['positionapply'].errors.pattern">
                                                                Vị trí không nên có quá nhiều khoảng trống
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="lever"><b style="color: red;">*</b> Trình độ
                                                            học vấn:</label>
                                                        <select formControlName="academiclevel" [(ngModel)]="candidate.academiclevel" class="custom-select" style="width:100%;">
                                                            <option *ngFor="let academiclevel of academiclevels"
                                                                [value]="academiclevel.value">
                                                                {{academiclevel.viewValue}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="form.controls['academiclevel'].invalid && (form.controls['academiclevel'].dirty || form.controls['academiclevel'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['academiclevel'].errors.required">
                                                                Bạn phải nhập trình độ học vấn
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="yearsofexperience"><b style="color: red;">*</b> Số
                                                            năm
                                                            kinh nghiệm:</label>
                                                        <select formControlName="yearsofexperience" [(ngModel)]="candidate.yearsofexperience" class="custom-select" style="width:100%;">
                                                            <option *ngFor="let yearsofexperience of yearsofexperiences"
                                                                [value]="yearsofexperience.value">
                                                                {{yearsofexperience.viewValue}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="form.controls['yearsofexperience'].invalid && (form.controls['yearsofexperience'].dirty || form.controls['yearsofexperience'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['yearsofexperience'].errors.required">
                                                                Bạn phải nhập năm kinh nghiệm
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="lever"><b style="color: red;">*</b> Nơi làm
                                                            việc:</label>
                                                        <select formControlName="workingplace" [(ngModel)]="candidate.workingplace" class="custom-select" style="width:100%;">
                                                            <option *ngFor="let city of citys" [value]="city.id">
                                                                {{city.name}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="form.controls['workingplace'].invalid && (form.controls['workingplace'].dirty || form.controls['workingplace'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['workingplace'].errors.required">
                                                                Bạn phải nhập năm kinh nghiệm
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="nominee"><b style="color: red;">*</b> Ngành
                                                            nghề:</label>
                                                        <select formControlName="career" [(ngModel)]="candidate.career" class="custom-select" style="width:100%;">
                                                            <option *ngFor="let career of careers" [value]="career.id">
                                                                {{career.name}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="form.controls['career'].invalid && (form.controls['career'].dirty || form.controls['career'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['career'].errors.required">
                                                                Bạn phải nhập nghành nghề
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="lever"><b style="color: red;">*</b> Loại hình
                                                            công việc:</label>
                                                        <select formControlName="typeOfWord" [(ngModel)]="candidate.typeofwork" class="custom-select" style="width:100%;">
                                                            <option *ngFor="let typeOfWord of typeOfWords"
                                                                [value]="typeOfWord.value">
                                                                {{typeOfWord.viewValue}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="form.controls['typeOfWord'].invalid && (form.controls['typeOfWord'].dirty || form.controls['typeOfWord'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['typeOfWord'].errors.required">
                                                                Bạn phải nhập loại hình công việc
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="level"><b style="color: red;">*</b> Cấp
                                                            bậc:</label>
                                                        <select formControlName="level" [(ngModel)]="candidate.level" class="custom-select" style="width:100%;">
                                                            <option *ngFor="let level of levels" [value]="level.value">
                                                                {{level.viewValue}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="form.controls['level'].invalid && (form.controls['level'].dirty || form.controls['level'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['level'].errors.required">
                                                                Bạn phải nhập cấp bậc
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="salary"><b style="color: red;">*</b> Mức
                                                            lương:</label>
                                                        <input formControlName="salary" [(ngModel)]="candidate.salary" type="text" class="form-control" pattern="[0-9]*" (keydown.space)="$event.salary();">
                                                        <div *ngIf="form.controls['salary'].invalid && (form.controls['salary'].dirty || form.controls['salary'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['salary'].errors.required">
                                                                Bạn phải nhập mức lương mong muốn
                                                            </div>
                                                            <div *ngIf="form.controls['salary'].errors.pattern">
                                                                Bạn phải nhập mức lương hợp lệ và mức lương phải trên 100.000 VND
                                                            </div>
                                                            <div *ngIf="form.controls['salary'].errors.minlength">
                                                                Bạn phải nhập mức lương trên 6 chữ số
                                                            </div>
                                                            <div *ngIf="form.controls['salary'].errors.maxlength">
                                                                Bạn phải nhập mức lương dưới 10 chữ số
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="minsalary"><b style="color: red;">*</b> Mức lương
                                                            tối thiểu:</label>
                                                        <input type="number" formControlName="minsalary" [(ngModel)]="candidate.minsalary" type="text" class="form-control" (keydown.space)="$event.minsalary();" pattern="[0-9]*">
                                                        <div *ngIf="form.controls['minsalary'].invalid && (form.controls['minsalary'].dirty || form.controls['minsalary'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['minsalary'].errors.required">
                                                                Bạn phải nhập mức lương tối thiểu mong muốn
                                                            </div>
                                                            <div *ngIf="form.controls['minsalary'].errors.pattern">
                                                                Bạn phải nhập mức lương hợp lệ và mức lương phải trên 100.000 VND
                                                            </div>
                                                            <div *ngIf="form.controls['minsalary'].errors.minlength">
                                                                Bạn phải nhập mức lương trên 6 chữ số
                                                            </div>
                                                            <div *ngIf="form.controls['minsalary'].errors.maxlength">
                                                                Bạn phải nhập mức lương dưới 10 chữ số
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="lever"><b style="color: red;">*</b> Mức lương
                                                            tối đa:</label>
                                                        <input type="number" formControlName="maxsalary" [(ngModel)]="candidate.maxsalary" type="text" class="form-control" (keydown.space)="$event.maxsalary();" pattern="[0-9]*">
                                                        <div *ngIf="form.controls['maxsalary'].invalid && (form.controls['maxsalary'].dirty || form.controls['maxsalary'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['maxsalary'].errors.required">
                                                                Bạn phải nhập mức lương tối đa mong muốn
                                                            </div>
                                                            <div *ngIf="form.controls['maxsalary'].errors.pattern">
                                                                Bạn phải nhập mức lương hợp lệ và mức lương phải trên 100.000 VND
                                                            </div>
                                                            <div *ngIf="form.controls['maxsalary'].errors.minlength">
                                                                Bạn phải nhập mức lương trên 6 chữ số
                                                            </div>
                                                            <div *ngIf="form.controls['maxsalary'].errors.maxlength">
                                                                Bạn phải nhập mức lương dưới 10 chữ số
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="lever"><b style="color: red;"></b> Mục tiêu
                                                            nghề nghiệp:</label>
                                                        <div class="checkbox">
                                                            <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="menu1">
                                                                Mong muốn tìm được công việc ổn định lâu dài
                                                            </mat-checkbox>
                                                        </div>
                                                        <div class="checkbox">
                                                            <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="menu2">
                                                                Mong muốn tìm được chỗ làm có cơ hội thằng tiến
                                                            </mat-checkbox>
                                                        </div>
                                                        <div class="checkbox">
                                                            <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="menu3">
                                                                Mong muốn tìm được chỗ làm có mức lương tốt
                                                            </mat-checkbox>
                                                        </div>
                                                        <div class="checkbox">
                                                            <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="menu4">
                                                                Mong muốn tìm được chỗ có thể phát huy hết năng lực của bản thân
                                                            </mat-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">

                                                    <div class="form-group">
                                                        <label for="lever"><b style="color: red;"></b> Mô tả mục
                                                            tiêu nghề nghiệp:</label>
                                                        <div class="md-form">
                                                            <ckeditor formControlName="descriptionstargetjob" [(ngModel)]="candidate.descriptionstargetjob" [config]="{uiColor: '#2BBBAD'}" [readonly]="false" debounce="500">
                                                            </ckeditor>
                                                        </div>
                                                        <div *ngIf="form.controls['descriptionstargetjob'].invalid && (form.controls['descriptionstargetjob'].dirty || form.controls['descriptionstargetjob'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['descriptionstargetjob'].errors.maxlength">
                                                                Bạn không được nhập quá 500 ký tự
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end contact form-->
                                </form>
                            </div>
                            <hr>
                            <button (click)="onUpdateCandidate()" type="button" class="btn btn-primary">Cập
                                Nhật</button>
                            <button (click)="onCancel()" type="button" class="btn btn-warning">Huỷ</button>
                        </div>
                        <!-- end form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>