<mat-card class="border border-info">	
    <div class="alert alert-info text-center" role="alert">	
        <h5 class="text-uppercase font-weight-bolder">Thông tin B5ManagerCategorie</h5>	
    </div>	
	
    <mat-card-content class="custom-overflow">	
        <!-- type field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.type" [required]="'true'" placeholder="Type">	
        </mat-form-field>	
	
        <!-- amount field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.amount" [required]="'true'" placeholder="Amount">	
        </mat-form-field>	
	
        <!-- comission field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.comission" [required]="'true'" placeholder="Comission">	
        </mat-form-field>	
	
    </mat-card-content>	
	
    <div class="text-center">	
        <button *ngIf="type == 1" (click)="onDeleteClick()" class="btn btn-danger custom-margin-button" mat-button>Xóa	
        </button>	
        <button class="btn btn-warning custom-margin-button" mat-button [mat-dialog-close]="data.animal">Đóng</button>	
        <button cdkFocusInitial (click)="onOkClick()" class="btn btn-info custom-margin-button" mat-button>Đồng	
            ý</button>	
    </div>	
	
</mat-card>	
