.page-body-wrapper {
  min-height: calc(100vh - 63px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
}
.mr-20 {
  margin-right: 20px;
}
.page-body-wrapper:not(.auth-page) {
  padding-top: 63px;
}

.page-body-wrapper.full-page-wrapper {
  width: 100%;
  min-height: 100vh;
}

.custom-slidebar {
  z-index: 500;
  position: relative;
}

.custom-color {
  background-color: #fff;
}

.custom-active {
  background-color: #0099cc;
  color: #fff;
  font-weight: 600;
  // padding: 1.5px 1px 1px 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.custom-active:hover {
  background-color: #2bbbad;
  color: #fff;
  cursor: pointer;
}

.custom-active:active {
  color: #fff;
  background-color: #ff4444;
}

.custom-active:visited {
  color: #fff;
  background-color: #4285f4;
}

.custom-menu {
  z-index: 1000 !important;
  // position: relative;
}

.navbar.default-layout .navbar-brand-wrapper .navbar-brand img {
  width: 215px !important;
  height: 55px !important;
}

.fix-menu {
  position: fixed;
  top: 63px;
  // z-index: 1000;
  left: 0;
  // background-color: #33b5e5;
  width: 255px;
  color: white;
}

// add sidebar
.nav-menu-icon{
  color: #3f6ad8 !important;
  opacity: 1;
}
.nav-button{
  border: none;
  background: none;
}
.nav-link-button{
  color: #6c757d;
}
.nav-link-button:hover{
  text-decoration: none;
  color:#3f6ad8;
}
.nav-menu-vertical{
  margin-left: 60px;
}
.logo-information{
  padding: 10px 0px;
  text-align: center;
  img{
    width: 130px;  
  }
}
.text-information{
  text-align:center;
  font-weight: 500;
  h3{
    margin: 0;
    text-transform: uppercase;
    
    color: #000;
  }
  span{
    text-transform: uppercase;
  }
  h4{
    color: #c0392b;
  }
}

// side bar
.complete-profile {
  margin: 18px 0;
  >a {
    background-color: #f7ba2a;
    font-weight: 500;
  }
}
 