<mat-card class="border border-info">	
    <div class="alert alert-info text-center" role="alert">	
        <h5 class="text-uppercase font-weight-bolder">Thông tin B6ManagerComission</h5>	
    </div>	
	
    <mat-card-content class="custom-overflow">	
        <!-- iduser field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.iduser" [required]="'true'" placeholder="Iduser">	
        </mat-form-field>	
	
        <!-- idstaff field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.idstaff" [required]="'true'" placeholder="Idstaff">	
        </mat-form-field>	
	
        <!-- money field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.money" [required]="'true'" placeholder="Money">	
        </mat-form-field>	
	
    </mat-card-content>	
	
    <div class="text-center">	
        <button *ngIf="type == 1" (click)="onDeleteClick()" class="btn btn-danger custom-margin-button" mat-button>Xóa	
        </button>	
        <button class="btn btn-warning custom-margin-button" mat-button [mat-dialog-close]="data.animal">Đóng</button>	
        <button cdkFocusInitial (click)="onOkClick()" class="btn btn-info custom-margin-button" mat-button>Đồng	
            ý</button>	
    </div>	
	
</mat-card>	
