
  <div class="main"style="background-image: url('../../../../assets/img/body-bg.jpg'); margin-bottom:25px">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mt-4 mb-4 ">

          <div class="box-info ml-4">
            <h1 class="mb-4">Đăng ký ứng viên</h1>
            <p><i class="far fa-check-circle"></i>&nbsp;Tiếp cận hàng
              triệu công việc hoàn toàn miễn phí</p>
            <p><i class="far fa-check-circle"></i>&nbsp;Ứng tuyển nhanh
              chóng, dễ dàng</p>
            <p><i class="far fa-check-circle"></i>&nbsp;Nhận bản tin công
              việc phù hợp định kỳ</p>
            <p><i class="far fa-check-circle"></i>&nbsp;Nâng cao cơ hội
              tìm việc với chương trình ứng viên năng động</p>
          </div>

        </div>
        <div class="col-sm-6 mt-4 mb-4">
          <div class="d-flex justify-content-center h-100">
            <div class="card">
              <div class="card-header">
                <h3>Đăng ký</h3>
                <div class="d-flex justify-content-end social_icon">
                  <span><i class="fab fa-facebook-square"></i></span>
                  <span><i class="fab fa-google-plus-square"></i></span>
                </div>
              </div>
              <div class="card-body">
                <form>
                  <fieldset>
                    <legend>Thông tin tài khoản</legend>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Họ tên">
                    </div>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Số điện thoại">
                    </div>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Mật khẩu">
                    </div>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Nhập lại mật khẩu">
                    </div>
                  </fieldset>
                  
                  <div class="row align-items-center remember mb-2">
                    <input type="checkbox">Đồng ý với thỏa thuận sử dụng của MyWork
                  </div>
                  <div class="form-group text-center">
                    <input type="submit" value="Đăng ký" class="btn login_btn">
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-center links">
                  Bạn đã có tài khoản?<a routerLink="/logincandidate">Đăng nhập</a>
                </div>
                
              </div>
            </div>
          </div>
        </div>

      </div>
      
    </div>
  </div>
