main {
    font-size: 16px;
    line-height: 1.8;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-weight: 400;
    margin: 0px;
}
.col-box {
    margin-top: 6rem;
}
.card {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #22924c;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -11px;
}

.input-group-prepend span {
    width: 45px;
    background-color: #22924c;
    color: #fff;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: #fff;
    background-color: #22924c;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

////////////////////////
.box-info {
    h1 {
        color: #fff;
    }
    p {
        color: #fff;
    }
}

fieldset {
    border: 1px solid #eeeeee69;
    padding: 0px 10px;
    margin-bottom: 15px;
    border-radius: 3px; 
}
legend{
    display: inline;
    width: auto;
    padding: 0 5px;
    font-size: 15px;
    line-height: inherit;
    border: 0;
    border-bottom: none;
    font-weight: 400;
    margin-bottom: 5px;
    color: #fff;
}

@media (max-width: 480px) {
    .remember {
        font-size: 90%;
    }
}
