<mat-card class="border border-info">	
    <div class="alert alert-info text-center" role="alert">	
        <h5 class="text-uppercase font-weight-bolder">Thông tin Debt</h5>	
    </div>	
	
    <mat-card-content class="custom-overflow">	
        <!-- idCompany field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.idCompany" [required]="'true'" placeholder="IdCompany">	
        </mat-form-field>	
	
        <!-- idUser field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.idUser" [required]="'true'" placeholder="IdUser">	
        </mat-form-field>	
	
        <!-- idTicket field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.idTicket" [required]="'true'" placeholder="IdTicket">	
        </mat-form-field>	
	
        <!-- status field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.status" [required]="'true'" placeholder="Status">	
        </mat-form-field>	
	
        <!-- startDate field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.startDate" [required]="'true'" placeholder="StartDate">	
        </mat-form-field>	
	
        <!-- endDate field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.endDate" [required]="'true'" placeholder="EndDate">	
        </mat-form-field>	
	
        <!-- money field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.money" [required]="'true'" placeholder="Money">	
        </mat-form-field>	
	
    </mat-card-content>	
	
    <div class="text-center">	
        <button *ngIf="type == 1" (click)="onDeleteClick()" class="btn btn-danger custom-margin-button" mat-button>Xóa	
        </button>	
        <button class="btn btn-warning custom-margin-button" mat-button [mat-dialog-close]="data.animal">Đóng</button>	
        <button cdkFocusInitial (click)="onOkClick()" class="btn btn-info custom-margin-button" mat-button>Đồng	
            ý</button>	
    </div>	
	
</mat-card>	
