<div class="alert alert-info text-center" role="alert">	
<h5 class="text-uppercase font-weight-bolder">Hệ thống Quản Lý Đại Lý</h5>	
</div>	
	
<div class="text-center">	
<button (click)="onInsertData()" class="btn btn-info custom-margin-button" mat-button 	
cdkFocusInitial>Thêm Đại Lý</button>	
</div>	
	
<mat-form-field>	
<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm giao dịch">	
</mat-form-field>	
	
<div class="mat-elevation-z8">	
<table mat-table [dataSource]="dataSource" matSort>	
	
        <!-- id Column -->	
        <ng-container matColumnDef="id">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>	
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>	
        </ng-container>	
	
        <!-- idCompany Column -->	
        <ng-container matColumnDef="idCompany">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> IdCompany </th>	
          <td mat-cell *matCellDef="let element"> {{element.idCompany}} </td>	
        </ng-container>	
	
        <!-- idUser Column -->	
        <ng-container matColumnDef="idUser">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> IdUser </th>	
          <td mat-cell *matCellDef="let element"> {{element.idUser}} </td>	
        </ng-container>	
	
        <!-- idTicket Column -->	
        <ng-container matColumnDef="idTicket">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> IdTicket </th>	
          <td mat-cell *matCellDef="let element"> {{element.idTicket}} </td>	
        </ng-container>	
	
        <!-- status Column -->	
        <ng-container matColumnDef="status">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>	
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>	
        </ng-container>	
	
        <!-- startDate Column -->	
        <ng-container matColumnDef="startDate">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> StartDate </th>	
          <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>	
        </ng-container>	
	
        <!-- endDate Column -->	
        <ng-container matColumnDef="endDate">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> EndDate </th>	
          <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>	
        </ng-container>	
	
        <!-- money Column -->	
        <ng-container matColumnDef="money">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Money </th>	
          <td mat-cell *matCellDef="let element"> {{element.money}} </td>	
        </ng-container>	
	
	
	
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>	
<tr mat-row (dblclick)="onUpdateData(row)" class="example-element-row" *matRowDef="let row; columns: displayedColumns;">	
</tr>	
</table>	
	
<mat-paginator [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>	
</div>	
