<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Tin tuyển dụng</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
    <div class="row">
        <div class="col-md-6">
            <!-- Từ khoá -->
            <mat-form-field class="example-full-width">
                <mat-label>Từ khoá</mat-label>
                <input matInput [(ngModel)]="positionId" placeholder="Nhập từ khoá">
            </mat-form-field>
        </div>
        <div class="col-md-6">

            <!-- Trạng thái -->
            <mat-form-field class="example-full-width">
                <mat-label>Trạng Thái:</mat-label>
                <mat-select [(ngModel)]="trangthaiId">
                    <mat-option *ngFor="let statusItem of status" [value]="statusItem.value">
                        {{ statusItem.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="example-button-row contain-button-filter">
                <!-- Button Lọc -->
                <button (click)="onFillterClick()" class="mb-2 mr-2 btn-transition btn btn-outline-primary button-filter">Lọc
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end select-top -->

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12">
            <a routerLink="/manager/company/b2-add-recruitment" class="button-action add">
                <i class="fa fa-fw" aria-hidden="true" title="Thêm mới"></i>
                <span>Đăng tin tuyển dụng</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-recruitment">

    <!-- Số thứ tự -->
    <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let row"> {{row.stt}}</td>
    </ng-container>

    <!-- Vị trí tuyển dụng -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Chức danh </th>
        <td mat-cell *matCellDef="let row"> {{(row.position)}}</td>
    </ng-container>

    <!-- Trạng thái -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Trạng Thái </th>
        <td mat-cell *matCellDef="let row">{{setNameStatus(row.endadshow)}}</td>
    </ng-container>

    <!-- Ngày đăng -->
    <ng-container matColumnDef="postdate">
        <th mat-header-cell *matHeaderCellDef> Ngày đăng </th>
        <td mat-cell *matCellDef="let row"> {{row.postdate | date:'dd-MM-yyyy' }}</td>
    </ng-container>

    <!-- Hạn nộp hồ sơ -->
    <ng-container matColumnDef="deadlineapply">
        <th mat-header-cell *matHeaderCellDef>Hạn nộp hồ sơ</th>
        <td mat-cell *matCellDef="let row"> {{row.deadlineapply | date:'dd-MM-yyyy' }} </td>
    </ng-container>

    <!-- sửa -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>
            Sửa
        </th>
        <td mat-cell *matCellDef="let row">
            <i (click)="updateClick(row)" class="fa fa-fw icon-update text-center icon-course" aria-hidden="true" title="Sửa"></i>
        </td>
    </ng-container>

    <!-- Quảng cáo -->
    <ng-container matColumnDef="ads">
        <th mat-header-cell *matHeaderCellDef>
            Quảng cáo
        </th>
        <td mat-cell *matCellDef="let row">
            <i (click)="openDialogEmployerAds(row)" class="fa fa-ad icon-update text-center icon-course" aria-hidden="true" title="Quảng cáo"></i>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
</table>
<!-- end table -->

<!-- button crud -->
<mat-card class="button-system-custom button-system-custom-footer">
    <div class="row">
        <div class="col-md-12">
            <a routerLink="/manager/company/b2-add-recruitment" class="button-action add">
                <i class="fa fa-fw" aria-hidden="true" title="Thêm mới"></i>
                <span>Đăng tin tuyển dụng</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->
<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>