<!-- Thông tin công ty -->
<mat-card class="title-block col-md-12">
    <div class="row">
        <div class="col-md-12 title-main">
            <p> SỬA TIN TUYỂN DỤNG </p>
        </div>
    </div>
</mat-card>
<mat-card class="system-custom col-md-12">
    <div class="row content">
        <div class="col-md-12 title-main">
            <mat-card class="title-block col-md-4 mb-2">
                <div class="row">
                    <div class="col-md-12 title-main">
                        <p>Thông tin về công việc </p>
                    </div>
                </div>
            </mat-card>

            <form [formGroup]="form">
                <div class="row">
                    <!-- Chức danh -->
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Chức danh <span class="text-red">*</span></mat-label>
                            <input formControlName="position" [(ngModel)]="input.position" matInput placeholder="Nhập chức danh">
                        </mat-form-field>
                        <div *ngIf="form.controls['position'].invalid && (form.controls['position'].dirty || form.controls['position'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['position'].errors.required">
                                Bạn phải nhập chức danh
                            </div>
                            <div *ngIf="form.controls['position'].errors.maxlength">
                                Tên công ty không quá 100 ký tự
                            </div>
                            <div *ngIf="form.controls['position'].errors.minlength">
                                Bạn phải nhập lớn hơn hoặc bằng 5 ký tự
                            </div>
                            <div *ngIf="form.controls['position'].errors.pattern">
                                Bạn không được có dấu cách trước
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Số lượng tuyển  -->
                        <mat-form-field class="example-full-width">
                            <mat-label>Số lượng tuyển<span class="text-red">*</span></mat-label>
                            <input formControlName="amountrecruitment" [(ngModel)]="input.amountrecruitment" matInput placeholder="Nhập số lượng tuyển">
                        </mat-form-field>
                        <div *ngIf="form.controls['amountrecruitment'].invalid && (form.controls['amountrecruitment'].dirty || form.controls['asomission'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['amountrecruitment'].errors.required">
                                Bạn phải nhập số lượng
                            </div>
                            <div *ngIf="form.controls['amountrecruitment'].errors.maxlength">
                                nhập không được quá 10 ký tự
                            </div>
                            <div *ngIf="form.controls['amountrecruitment'].errors.min">
                                số lượng tuyển phải lớn hơn hoặc bằng 1
                            </div>
                            <div *ngIf="form.controls['amountrecruitment'].errors.pattern">
                                Bạn chỉ được nhập số
                            </div>
                        </div>
                    </div>

                    <!-- Vị trí -->
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Vị trí tuyển dụng <span class="text-red">*</span></mat-label>
                            <mat-select formControlName="positionrecruitment" [(ngModel)]="input.positionrecruitment">
                                <mat-option *ngFor="let employ of employs " [value]="employ.value ">
                                    {{employ.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="form.controls['positionrecruitment'].invalid && (form.controls['positionrecruitment'].dirty || form.controls['positionrecruitment'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['positionrecruitment'].errors.required">
                                Bạn phải chọn vị trí tuyển dụng
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Loại hình công việc -->
                        <mat-form-field class="example-full-width">
                            <mat-label>Loại hình công việc <span class="text-red">*</span></mat-label>
                            <mat-select formControlName="typeofwork" [(ngModel)]="input.typeofwork">
                                <mat-option *ngFor="let type of types " [value]="type.value">
                                    {{type.viewValue}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>
                        <div *ngIf="form.controls['typeofwork'].invalid && (form.controls['typeofwork'].dirty || form.controls['typeofwork'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['typeofwork'].errors.required">
                                Bạn phải chọn loại hình công việc
                            </div>
                        </div>
                    </div>
                    <!-- Mức lương  -->
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Mức lương <span class="text-red">*</span></mat-label>
                            <input formControlName="salary" [(ngModel)]="input.salary" matInput placeholder="Nhập mức lương">
                        </mat-form-field>
                        <div *ngIf="form.controls['salary'].invalid && (form.controls['salary'].dirty || form.controls['salary'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['salary'].errors.required">
                                Bạn phải nhập mức lương
                            </div>
                            <div *ngIf="form.controls['salary'].errors.maxlength">
                                nhập không được quá 30 ký tự
                            </div>
                            <div *ngIf="form.controls['salary'].errors.pattern">
                                Bạn chỉ được nhập số
                            </div>
                            <div *ngIf="form.controls['salary'].errors.minlength">
                                Nhập không được nhỏ hơn 6 ký tự
                            </div>
                            <div *ngIf="form.controls['salary'].errors.min">
                                Mức lương phải lơn hơn hoặc bằng 100.000
                            </div>
                        </div>
                    </div>

                    <!-- Hoa hồng  -->
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Hoa hồng (nếu có) </mat-label>
                            <input formControlName="asomission" [(ngModel)]="input.asomission" matInput placeholder="Nhập hoa hồng">
                        </mat-form-field>
                        <div *ngIf="form.controls['asomission'].invalid && (form.controls['asomission'].dirty || form.controls['amountrecruitment'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['asomission'].errors.maxlength">
                                nhập không được quá 30 ký tự
                            </div>
                            <div *ngIf="form.controls['asomission'].errors.min">
                                Hoa hồng phải phải lớn hơn hoặc bằng 100.000
                            </div>
                            <div *ngIf="form.controls['asomission'].errors.pattern">
                                Bạn chỉ được nhập số
                            </div>
                        </div>
                    </div>

                    <!-- Địa điểm làm việc-->
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Địa điểm làm việc<span class="text-red">*</span></mat-label>
                            <mat-select formControlName="addresswork" [(ngModel)]="input.addresswork">
                                <mat-option *ngFor="let city of citys " [value]="city.id">
                                    {{city.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="form.controls['addresswork'].invalid && (form.controls['addresswork'].dirty || form.controls['addresswork'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['addresswork'].errors.required">
                                Bạn phải nhập địa chỉ làm việc
                            </div>
                            <div *ngIf="form.controls['addresswork'].errors.maxlength">
                                nhập không được quá 100 ký tự
                            </div>
                        </div>
                    </div>
                    <!-- Ngành nghề -->
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Ngành nghề<span class="text-red">*</span></mat-label>
                            <mat-select formControlName="career" [(ngModel)]="input.career">
                                <mat-option *ngFor="let branch of careers " [value]="branch.id">
                                    {{branch.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="form.controls['career'].invalid && (form.controls['career'].dirty || form.controls['career'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['career'].errors.required">
                                Bạn phải nhập ngành nghề
                            </div>
                            <div *ngIf="form.controls['career'].errors.maxlength">
                                nhập không được quá 100 ký tự
                            </div>
                            <div *ngIf="form.controls['career'].errors.pattern">
                                Bạn chỉ được nhập số
                            </div>
                        </div>
                    </div>

                    <!--  Mô tả công việc -->
                    <div class="col-md-12">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Mô tả sơ lược về công việc <span class="text-red">*</span> </mat-label>
                            <textarea formControlName="descriptionwork" [(ngModel)]="input.descriptionwork" matInput class="mh-100"></textarea>
                        </mat-form-field>
                        <div *ngIf="form.controls['descriptionwork'].invalid && (form.controls['descriptionwork'].dirty || form.controls['descriptionwork'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['descriptionwork'].errors.required">
                                Bạn phải nhập mô tả công việc
                            </div>
                            <div *ngIf="form.controls['descriptionwork'].errors.maxlength">
                                nhập không được quá 500 ký tự
                            </div>
                            <div *ngIf="form.controls['descriptionwork'].errors.minlength">
                                Bạn phải nhập lớn hơn hoặc bằng 5 ký tự
                            </div>
                            <div *ngIf="form.controls['descriptionwork'].errors.pattern">
                                Bạn không được có dấu cách trước và không nhâp được chữ cái có dấu
                            </div>
                        </div>
                    </div>

                    <!--  Quyền lợi được hưởng -->
                    <div class="col-md-12">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Mô tả quyền lợi được hưởng <span class="text-red">*</span> </mat-label>
                            <textarea formControlName="benefit" [(ngModel)]="input.benefit" matInput class="mh-100"></textarea>
                        </mat-form-field>
                        <div *ngIf="form.controls['benefit'].invalid && (form.controls['benefit'].dirty || form.controls['benefit'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['benefit'].errors.required">
                                Bạn phải nhập quyền lợi được hưởng
                            </div>
                            <div *ngIf="form.controls['benefit'].errors.maxlength">
                                nhập không được quá 500 ký tự
                            </div>
                            <div *ngIf="form.controls['benefit'].errors.minlength">
                                Bạn phải nhập lớn hơn hoặc bằng 5 ký tự
                            </div>
                            <div *ngIf="form.controls['benefit'].errors.pattern">
                                Bạn không được có dấu cách trước và không nhâp được chữ cái có dấu
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- title -->
            <mat-card class="title-block col-md-4 mb-2">
                <div class="row">
                    <div class="col-md-12 title-main">
                        <p>Yêu cầu công việc </p>
                    </div>
                </div>
            </mat-card>
            <form [formGroup]="form1">
                <div class="row">
                    <!-- Kinh nghiệm-->
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Kinh nghiệm<span class="text-red">*</span></mat-label>
                            <mat-select formControlName="exprience" [(ngModel)]="input.exprience">
                                <mat-option *ngFor="let experience of experiences " [value]="experience.value">
                                    {{experience.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="form1.controls['exprience'].invalid && (form1.controls['exprience'].dirty || form1.controls['exprience'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form1.controls['exprience'].errors.required">
                                Bạn phải chọn quyền kinh nghiệm
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Trình độ học vấn -->
                        <mat-form-field class="example-full-width">
                            <mat-label>Trình độ học vấn<span class="text-red">*</span></mat-label>
                            <mat-select formControlName="academiclevel" [(ngModel)]="input.academiclevel">
                                <mat-option *ngFor="let level of levels " [value]="level.value">
                                    {{level.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="form1.controls['academiclevel'].invalid && (form1.controls['academiclevel'].dirty || form1.controls['academiclevel'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form1.controls['academiclevel'].errors.required">
                                Bạn phải chọn trình độ học vấn
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Giới tính-->
                        <mat-form-field class="example-full-width">
                            <mat-label>Giới tính<span class="text-red">*</span></mat-label>
                            <mat-select formControlName="sex" [(ngModel)]="input.sex">
                                <mat-option *ngFor="let sex of sexs " [value]="sex.value">
                                    {{sex.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="form1.controls['sex'].invalid && (form1.controls['sex'].dirty || form1.controls['sex'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form1.controls['sex'].errors.required">
                                Bạn phải chọn giới tính
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Trình độ ngoại ngữ -->
                        <mat-form-field class="example-full-width">
                            <mat-label>Trình độ ngoại ngữ<span class="text-red">*</span></mat-label>
                            <mat-select formControlName="languagelevel" [(ngModel)]="input.languagelevel">
                                <mat-option *ngFor="let language of languages " [value]="language.value">
                                    {{language.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="form1.controls['languagelevel'].invalid && (form1.controls['languagelevel'].dirty || form1.controls['languagelevel'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form1.controls['languagelevel'].errors.required">
                                Bạn phải chọn trình độ ngoại ngữ
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!--  Hạn nộp hồ sơ -->
                        <mat-form-field class="example-full-width">
                            <mat-label>Hạn nộp hồ sơ<span class="text-red">*</span></mat-label>
                            <input [min]="minDate" formControlName="deadlineapply" [(ngModel)]="input.deadlineapply" matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <div *ngIf="form1.controls['deadlineapply'].invalid && (form1.controls['deadlineapply'].dirty || form1.controls['deadlineapply'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form1.controls['deadlineapply'].errors.required">
                                Bạn phải chọn ngày
                            </div>
                            Bạn phải nhập đúng định dạng ngày
                        </div>
                    </div>

                    <!-- Yêu cầu công việc -->
                    <div class="col-md-12">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Yêu cầu công việc <span class="text-red">*</span> </mat-label>
                            <textarea formControlName="requirementwork" [(ngModel)]="input.requirementwork" matInput class="mh-100"></textarea>
                        </mat-form-field>
                        <div *ngIf="form1.controls['requirementwork'].invalid && (form1.controls['requirementwork'].dirty || form1.controls['requirementwork'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form1.controls['requirementwork'].errors.required">
                                Bạn phải nhập công việc yêu cầu
                            </div>
                            <div *ngIf="form1.controls['requirementwork'].errors.maxlength">
                                nhập không được quá 500 ký tự
                            </div>
                            <div *ngIf="form1.controls['requirementwork'].errors.minlength">
                                Bạn phải nhập lớn hơn hoặc bằng 5 ký tự
                            </div>
                            <div *ngIf="form1.controls['requirementwork'].errors.pattern">
                                Bạn không được có dấu cách trước
                            </div>
                        </div>
                    </div>

                    <!--  Yêu cầu hồ sơ -->
                    <div class="col-md-12">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Yêu cầu hồ sơ <span class="text-red">*</span> </mat-label>
                            <textarea formControlName="requirementdocument" [(ngModel)]="input.requirementdocument" matInput class="mh-100"></textarea>
                        </mat-form-field>
                        <div *ngIf="form1.controls['requirementdocument'].invalid && (form1.controls['requirementdocument'].dirty || form1.controls['requirementdocument'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form1.controls['requirementdocument'].errors.required">
                                Bạn phải nhập hồ sợ yêu cầu
                            </div>
                            <div *ngIf="form1.controls['requirementdocument'].errors.maxlength">
                                nhập không được quá 500 ký tự
                            </div>
                            <div *ngIf="form1.controls['requirementdocument'].errors.minlength">
                                Bạn phải nhập lớn hơn hoặc bằng 5 ký tự
                            </div>
                            <div *ngIf="form1.controls['requirementdocument'].errors.pattern">
                                Bạn không được có dấu cách trước
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- title -->
            <mat-card class="title-block col-md-4 mb-2">
                <div class="row">
                    <div class="col-md-12 title-main">
                        <p>Thông tin người liên hệ </p>
                    </div>
                </div>
            </mat-card>
            <form [formGroup]="form2">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Tên người liên hệ  -->
                        <mat-form-field class="example-full-width ">
                            <mat-label>Tên người liên hệ<span class="text-red">*</span></mat-label>
                            <input formControlName="fullname" [(ngModel)]="input.fullname" matInput placeholder="Nhập tên người liên hệ">
                        </mat-form-field>
                        <div *ngIf="form2.controls['fullname'].invalid && (form2.controls['fullname'].dirty || form2.controls['fullname'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form2.controls['fullname'].errors.required">
                                Bạn phải nhập họ và tên
                            </div>
                            <div *ngIf="form2.controls['fullname'].errors.maxlength">
                                nhập không được quá 100 ký tự
                            </div>
                            <div *ngIf="form2.controls['fullname'].errors.minlength">
                                Bạn phải nhập lớn hơn hoặc bằng 5 ký tự
                            </div>
                            <div *ngIf="form2.controls['fullname'].errors.pattern">
                                Bạn không được có dấu cách trước
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Số điện thoại -->
                        <mat-form-field class="example-full-width">
                            <mat-label>Số điện thoại<span class="text-red">*</span></mat-label>
                            <input formControlName="phone" [(ngModel)]="input.phone" matInput placeholder="Nhập số điện thoại">
                        </mat-form-field>
                        <div *ngIf="form2.controls['phone'].invalid && (form2.controls['phone'].dirty || form2.controls['phone'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form2.controls['phone'].errors.required">
                                Bạn phải nhập số điện thoại
                            </div>
                            <div *ngIf="form2.controls['phone'].errors.maxlength">
                                nhập không được quá 11 ký tự
                            </div>
                            <div *ngIf="form2.controls['phone'].errors.pattern">
                                Bạn chỉ được nhập số
                            </div>
                            <div *ngIf="form2.controls['phone'].errors.minlength">
                                Bạn phải nhập lớn hơn hoặc bằng 10 ký tự
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Email  -->
                        <mat-form-field class="example-full-width ">
                            <mat-label>Email<span class="text-red">*</span></mat-label>
                            <input formControlName="email" [(ngModel)]="input.email" matInput placeholder="Nhập Email">
                        </mat-form-field>
                        <div *ngIf="form2.controls['email'].invalid && (form2.controls['email'].dirty || form2.controls['email'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form2.controls['email'].errors.required">
                                Bạn phải nhập email
                            </div>
                            <div *ngIf="form2.controls['email'].errors.maxlength">
                                nhập không được quá 50 ký tự
                            </div>
                            <div *ngIf="form2.controls['email'].errors.pattern">
                                Email nhập không đúng
                            </div>
                        </div>
                    </div>
                    <!-- Chức vụ -->
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Chức vụ</mat-label>
                            <input formControlName="positioncontact" [(ngModel)]="input.positioncontact" matInput placeholder="Nhập chức vụ">
                        </mat-form-field>
                        <div *ngIf="form2.controls['positioncontact'].invalid && (form2.controls['positioncontact'].dirty || form2.controls['positioncontact'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form2.controls['positioncontact'].errors.maxlength">
                                nhập không được quá 100 ký tự
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button (click)="onOkClick()" class="mb-2 mr-2 btn-transition btn btn-primary button-update">Cập nhật
                </button>
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-destroy" (click)="onNoClick()">Hủy bỏ
                </button>
            </div>
        </div>
    </div>
</mat-card>