<!-- Thông tin tài khoản -->
<mat-card class="title-block col-md-12">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Thông tin tài khoản </p>
        </div>
    </div>
</mat-card>
<mat-card class="system-custom col-md-12">
    <div class="row content">
        <div class="col-md-12 title-main">
            <table class="table-dialog">
                <tr>
                    <th>Tên đăng nhập:</th>
                    <td>{{input.email}}</td>
                </tr>
                <tr>
                    <th>Số điểm tài khoản:</th>
                    <td><span class="a-point">{{input.point}}</span>
                        <a (click)="openCheckoutDialog()" routerLink="/b1-list-recruitment" class="a-information">
                            <i class="nav-link-icon nav-menu-icon fa fa-university"> </i> Nạp thêm</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</mat-card>
<!-- end Thông tin tài khoản -->

<!-- Quảng cáo tin tuyển dụng -->
<mat-card class="title-block col-md-12">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Quảng cáo tin tuyển dụng </p>
        </div>
    </div>
</mat-card>
<mat-card class="system-custom col-md-12">
    <div class="row content">
        <div class="col-md-12 title-main">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Số điểm  -->
                        <mat-form-field class="example-full-width ">
                            <mat-label>Số điểm tối thiểu : 500<span class="text-red">*</span></mat-label>
                            <input formControlName="point" [(ngModel)]="input.point" matInput placeholder="Nhập số điểm">
                        </mat-form-field>
                        <div *ngIf="form.controls['point'].invalid && (form.controls['point'].dirty || form.controls['point'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['point'].errors.required">
                                Bạn phải nhập số điểm
                            </div>
                            <div *ngIf="form.controls['point'].errors.maxlength">
                                nhập không được quá 30 ký tự
                            </div>
                            <div *ngIf="form.controls['point'].errors.pattern">
                                Bạn chỉ được nhập số
                            </div>
                            <div *ngIf="form.controls['point'].errors.min">
                                Bạn phải nhập lớn hơn hoặc bằng 500 điểm
                            </div>
                        </div>
                    </div>

                    <!-- Thời gian  -->
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Thời gian<span class="text-red">*</span></mat-label>
                            <mat-select formControlName="endads" [(ngModel)]="timeId">
                                <mat-option *ngFor="let time of times " [value]="time.value">
                                    {{time.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="form.controls['endads'].invalid && (form.controls['endads'].dirty || form.controls['endads'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['endads'].errors.required">
                                Bạn phải chọn thời gian
                            </div>
                        </div>
                    </div>

                    <!-- Tiêu đề  -->
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Tiêu đề<span class="text-red">*</span></mat-label>
                            <input formControlName="position" [(ngModel)]="input.position" matInput placeholder="VD: Nhân viên kinh doanh, nhân viên bán hàng">
                        </mat-form-field>
                        <div *ngIf="form.controls['position'].invalid && (form.controls['position'].dirty || form.controls['position'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['position'].errors.required">
                                Bạn phải nhập tên công ty
                            </div>
                            <div *ngIf="form.controls['position'].errors.maxlength">
                                Tên công ty không quá 100 ký tự
                            </div>
                            <div *ngIf="form.controls['position'].errors.minlength">
                                Bạn phải nhập lớn hơn hoặc bằng 5 ký tự
                            </div>
                            <div *ngIf="form.controls['position'].errors.pattern">
                                Bạn không được có dấu cách trước
                            </div>
                        </div>
                    </div>

                    <!-- ngày bắt đầu ad -->
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Ngày bắt đầu quảng cáo<span class="text-red">*</span></mat-label>
                            <input [min]="minDate" formControlName="startads" [(ngModel)]="input.startads" matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <div *ngIf="form.controls['startads'].invalid && (form.controls['startads'].dirty || form.controls['startads'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['startads'].errors.required">
                                Bạn phải chọn ngày
                            </div>
                            Bạn phải nhập đúng định dạng ngày
                        </div>
                    </div>

                    <!--  Mô tả công việc -->
                    <div class="col-md-6">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Mô tả sơ lược về công việc <span class="text-red">*</span> </mat-label>
                            <textarea formControlName="descriptionwork" [(ngModel)]="input.descriptionwork" matInput class="mh-100"></textarea>
                        </mat-form-field>
                        <div *ngIf="form.controls['descriptionwork'].invalid && (form.controls['descriptionwork'].dirty || form.controls['descriptionwork'].touched)" class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['descriptionwork'].errors.required">
                                Bạn phải nhập mô tả công việc
                            </div>
                            <div *ngIf="form.controls['descriptionwork'].errors.maxlength">
                                Mô tả công việc không quá 500 ký tự
                            </div>
                            <div *ngIf="form.controls['descriptionwork'].errors.minlength">
                                Bạn phải nhập lớn hơn hoặc bằng 5 ký tự
                            </div>
                            <div *ngIf="form.controls['descriptionwork'].errors.pattern">
                                Bạn không được có dấu cách trước
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- table -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ads">

                <!-- Vị trí  -->
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let row"> {{row.stt}}</td>
                </ng-container>

                <!-- Tên nhà tuyển dụng -->
                <ng-container matColumnDef="companyname">
                    <th mat-header-cell *matHeaderCellDef>Tên nhà tuyển dụng</th>
                    <td mat-cell *matCellDef="let row">{{row.companyname}}</td>
                </ng-container>

                <!-- Tiêu đề -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef>Tiêu đề </th>
                    <td mat-cell *matCellDef="let row">{{row.position}}</td>
                </ng-container>
                <!-- point -->
                <ng-container matColumnDef="point">
                    <th mat-header-cell *matHeaderCellDef>Point </th>
                    <td mat-cell *matCellDef="let row">{{row.point}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
            </table>
            <!-- end table -->

            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button (click)="onOkClick()" class="mb-2 mr-2 btn-transition btn btn-primary button-update">Đăng quảng
                    cáo
                </button>
                <button (click)="onNoClick()" class="mb-2 mr-2 btn-transition btn btn-primary button-destroy">Hủy bỏ
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!-- end Quảng cáo tin tuyển dụng -->