@media only screen and (max-width: 576px) {
    .main-h1 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 576px) {
    #employer .employer-bg .container .main .main-button .row .col-md-offset-3 {
        margin-left: 0;
    }
    #employer .employer-bg .container {
        width: 100%;
        margin-top: 0px;
    }
    #employer .employer-bg .container .main .main-button .row .col-md-offset-3 .row .col-md-6 {
        margin-top: 10px;
    }
    #employer .employer-bg .container .main .main-info .main-h1 {
        font-size: 25px;
    }
    #employer .employer-bg .container .main .main-info .main-ul {
        font-size: 14px;
    }
}

.employer-bg {
    background: fixed;
    background-image: linear-gradient(3030deg, rgba(0, 0, 0, 0.48) 20%, rgba(0, 0, 0, 0.36) 87%), url(https://cdn1.mywork.com.vn/media/images/bg-employer.jpg);
    background-size: 100%;
    padding-top: 130px;
    padding-bottom: 100px;
    background-color: #007cb1;
    min-height: 720px;
    color: #fff;
    background-position-y: -100px;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.main {
    margin-top: 20px !important;
}

.main-h1 {
    color: white;
}

.main .main-info {
    padding: 0 !important;
}

.main .main-info .main-h1 {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.main .main-info .main-ul {
    text-align: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.main .main-info .main-ul li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
    display: list-item;
    list-style: none;
}

.main .main-info .main-ul li i {
    margin-right: 10px;
}

.main .main-info .main-ul .icofont {
    font-family: IcoFont !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.main .main-info .main-ul .icofont-check-circled:before {
    content: "\EFAC";
}

.main .main-button {
    padding: 30px 0;
}

.main .main-button .row {
    margin-right: -10px;
    margin-left: -10px;
}

.main .main-button .row .col-md-offset-3 {
    margin-left: 25%;
}

.main .main-button .row .col-md-6 a button {
    width: 100%;
    height: 50px;
}

.main .main-button .row .text-price {
    margin-top: 45px;
}

.main .main-button .row .text-price .link {
    color: #fff;
    text-decoration: underline;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5px;
}