<section id="employer" style=" margin-bottom:25px">
    <div class="employer-bg">
        <div class="container">
            <div class="main">
                <div class="main-info">
                    <h1 class="main-h1">SÁT CÁNH TUYỂN DỤNG CÙNG DOANH NGHIỆP</h1>
                    <ul class="main-ul">
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i>Tìm kiếm hồ sơ ứng viên tiềm năng</li>
                        <li> <i class="fa fa-check-circle" aria-hidden="true"></i>Đăng tin tuyển dụng</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> Quảng bá thương hiệu doanh nghiệp</li>
                    </ul>
                </div>
                <div class="main-button">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">

                                    <a routerLink="/logincompany"><button type="button" class="btn btn-success">Đăng Nhập</button></a>
                                </div>
                                <div class="col-md-6  col-xs-12">

                                    <a routerLink="/registercompany"> <button type="button" class="btn btn-danger">Đăng Ký</button></a>
                                </div>
                            </div>
                            <p class="text-center text-price">
                                <a href="" class="link">Xem các gói dịch vụ đầy đủ tại MyHome</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>