<!-- Tìm kiếm huấn luyện viên -->
<div class="block-find-advance">
    <div class="container">
        <div class="block-title">
            <h3 class="title-left">
                <span class="text">
                    Tìm kiếm huấn luyện viên
                </span>
                <span class="line"></span>
            </h3>
        </div>
        <div class="row find-advance pt-3">
            <div class="col-md-3 col-6 col-search">
                <div class="form-group select-custom">
                    <input [(ngModel)]="coachingNameId" type="text" class="form-control"
                        placeholder="Nhập tên huấn luyện viên">
                </div>
            </div>
            <div class="col-md-3 col-6 col-search">
                <div class="form-group select-custom">
                    <i class="fas fa-users-cog"></i>
                    <select [(ngModel)]="skillId" [ngModelOptions]="{standalone: true}">
                        <option *ngFor=" let row of
            skill" [value]="row.id"> {{ row.name }} </option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-6 col-search">
                <div class="form-group select-custom">
                    <i class="fas fa-dollar-sign"></i>
                    <select [(ngModel)]="packageId" [ngModelOptions]="{standalone: true}">
                        <option *ngFor=" let row of
            package" [value]="row.id"> {{ row.name }} </option>
                    </select>
                </div>
            </div>

            <div class="col-md-3 col-6 btn-search mx-auto col-search">
                <button (click)="onFillterClick()"><span><i class="fas fa-search"></i>TÌM KIẾM</span></button>
            </div>
        </div>
    </div>
</div>
<!-- End Tìm kiếm huấn luyện viên -->

<div class="coaching">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-text">
                <h2 class="sl_title">
                    Huấn luyện viên
                </h2>
            </div>
            <div class="col-sm-6 col-coaching" *ngFor="let item of coaching">
                <a class="coach-tile" (click)="onBookNowClick(item.id)" data-tile-link="true">
                    <div class="row mb-4">
                        <div class="col-sm-6 col-tablet ">
                            <div class="coach-picture"><img class="circle" src="{{item.avatar}}" alt="{{item.fullname}}"
                                    width="290" height="290"></div>
                        </div>
                        <div class="col-sm-6 col-tablet ">
                            <div class="coach-info-wrapper">
                                <div class="coach-tier">Coach | $$</div>
                                <h3>{{item.fullname}}</h3>
                                <div class="small-rating">
                                    <div><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><span>(86)</span></div>
                                </div>
                                <div class="bottom visible-lg">
                                    <div class="metadata desktop">{{item.skill}}<a> and more </a></div>
                                    <button class="btn btn-book" type="button">
                                        Book Now </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </a>
            </div>

            <div class="col-sm-12 justify-content-center mt-2">
                <!-- <pagination-controls class="pagination-vip" (pageChange)="page = $event" id="foo" maxSize = "4" directionLink="true"></pagination-controls> -->
            </div>
        </div>
    </div>
</div>