.block-title {
    .title-left {
        overflow: hidden;
        font-weight: 700;
        font-size: 19px;
        border-left: 5px solid #22924c;
        padding: 0 10px;
        line-height: 29px;
        margin-bottom: 15px;
        padding-right: 0;
        position: relative;
        margin-bottom: 0px;
        .line {
            background-color: #D7D7D7;
            bottom: 0;
            height: 1px;
            margin-bottom: auto;
            margin-left: 10px;
            margin-top: auto;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}
.block-find-advance {
    margin: 30px 0 15px;
    .find-advance {
        .select-custom {
            position: relative;
            select {
                padding-left: 30px;
                height: 40px;
                width: 100%;
                border: 1px solid #999;
                border-radius:3px ;
                color: #333;
                
            }
            select:focus {
               box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
                
            }
            i {
                position: absolute;
                top: 12px;
                left: 11px;
                color: #6C757D;
            }
        }
        .col-md-2 {
            padding-right: 0px;
        }
        .btn-search {
            button {
                font-size: 15px;
                line-height: 1;
                white-space: nowrap;
                cursor: pointer;
                background: #fff;
                border: 1px solid #C4C4C4;
                margin: 0;
                padding: 10px 15px;
                border-radius: 4px;
                width: 100%;
                background: #22924C;
                color: #fff;
                height: 40px;
                i {
                    padding-right: 5px;
                }
            }
        }
    }
}
// responsive
@media (max-width: 575px) {
    .block-find-advance {
        .find-advance {
            .col-md-2 {
                padding-right: 15px;
            }
            .btn-search {
                button {
                    width: 100%
                }
            }
        }
    }
}

.sl_title::after {
    content: "";
    width: 90px;
    height: 5px;
    background-color: #22924c;
    display: block;
    margin-top: 5px;
}
.coaching{
    background-color: #f7f7f7;
}
.coach-tile {
    display: block;
    margin: 0 auto;
    background-color: #fff;
}
.coach-tile:hover{
    text-decoration: none;
}
.coach-tile .coach-picture {
    width: 100%;
    background-color: #ddd;
}
.coach-tile .coach-info-wrapper {
    padding: 20px 20px;
    min-height: 290px;
    position: relative;
    text-align: center;
    color: #333;
}
.coach-tile .coach-tier {
    font-family: georgia,Georgia,Serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 15px;
    font-style: italic;
    text-align: right;
}
.small-rating {
    margin: 0 0 20px;
}
.small-rating i {
    font-size: 13px;
    color: #ffc000;
}
.small-rating span {
    font-family: georgia,Georgia,Serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-style: italic;
    text-decoration: underline;
    color: #ffc000;
}
 
.coach-tile .metadata { 
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 13px;
    padding: 10px 0 15px;
    color: #333;
    line-height: 20px;
}
.btn-book{
    background-color: #22924c;
    color: #fff
}
.btn-book:hover{
    background-color: #0b652d;
}
.col-text{ 
     padding: 1.5rem!important; 
}
@media screen and (max-width:1024px){
    .coach-tile {
        margin-top: 20px;
    }
    .coach-tile .coach-picture {
        border: 1px solid #22924c;
        padding: 3px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 40px;
        margin: 10px auto;
    }
    .coach-tile .coach-picture .circle {
        color: #fff;
        display: inline-block;
        width: 72px;
        height: 72px;
        line-height: 72px;
        border-radius: 36px;
        text-align: center;
        background-color: #53b6d0;
        vertical-align: top;
    }
    .coach-tile .coach-info-wrapper {
        min-height: 0;
        padding: 5px;
        min-height: 0;
    }
    .coach-tile .coach-tier {
        text-align: center;
    }
    .coach-tile .bottom {
        float: left;
        text-align: center;
        position: static;
        width: 100%;
    }
    .coach-tile .metadata {  
        font-size: 16px; 
    }
    .col-tablet{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .btn-book{
        margin-bottom: 10px;
    }
    .col-text{
        padding: 1.5rem 1.5rem 0 1.5rem !important;
    }
    .block-find-advance{
        margin: 30px 0 0px;
    }
    .col-search{
        flex: 0 0 50%;
        max-width: 50%; 
    }

}

@media screen and (max-width:480px){
    .coach-tile {
        margin-top: 20px;
    }
    .coach-tile .coach-picture {
        border: 1px solid #22924c;
        padding: 3px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 40px;
        margin: 10px auto;
    }
    .coach-tile .coach-picture .circle {
        color: #fff;
        display: inline-block;
        width: 72px;
        height: 72px;
        line-height: 72px;
        border-radius: 36px;
        text-align: center;
        background-color: #53b6d0;
        vertical-align: top;
    }
    .coach-tile .coach-info-wrapper {
        min-height: 0;
        padding: 0;
        min-height: 0;
    }
    .coach-tile .coach-tier {
        text-align: center;
    }
    .coach-tile .bottom {
        float: left;
        text-align: center;
        position: static;
        width: 100%;
    }
    .coach-tile .metadata {  
        font-size: 16px; 
    }
    .col-coaching{
        margin:0px 10px;
    }
    .btn-book{
        margin-bottom: 10px;
    }
    .col-text{
        padding: 1.5rem 1.5rem 0 1.5rem !important;
    }
}

//pagination
.pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
}
.pagination li a.page-link{
    color: #22924c;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    height: 25px;
    width: 25px;
    padding: 0;
    margin: 0 7px;
    border: none;
    border-radius: 0;
    display: block;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:focus{
    color: #fff;
    background-color: #22924c;
    box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;
}
.pagination li a.page-link:before{
    content: '';
    border: 3px solid #22924c;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -5px;
    top: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    transition: all 0.3s ease 0s;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}
.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:before{
    visibility: visible;
    opacity: 1;
    transform: perspective(800px) rotateX(180deg);
}
@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: block;
    }
    .pagination li{
        display: inline-block;
        margin: 0 0 10px;
    }
}

.pagination-vip {
    text-align: center;
}
