<!-- Menu -->
<header>
    <div class="container">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light nav-custom">
            <a class="navbar-brand logo" href="#"><img src="../../../assets/images/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/a1-home">Trang Chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="b1-list-work/0/0/none/none/none/none/%20">Tuyển Dụng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="c1-list-candidate/0/0/none/none/none/none/%20">Ứng Viên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="d1-list-company/0/0/%20">Công Ty</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Tài Khoản
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="f1-company">Nhà Tuyển Dụng</a>
                            <a class="dropdown-item" href="f4-login-candidate">Ứng Viên</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="e1-coaching">Coaching</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="g1-contact">Liên Hệ</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</header>
<!-- End Menu -->

<div class="main" style="background-image: url('../../../../assets/images/body-bg.jpg'); margin-bottom:25px">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mt-4 mb-4 ">
                <div class="col-md-12 mb-4 col-f2login">
                    <div class="round stat ml-n">
                        <h4>+4M</h4>
                        <p class="pl-15 pr-15">Ứng viên</p>
                    </div>
                    <div class="round stat">
                        <h4>+700K</h4>
                        <p class="pl-15 pr-15">Nhà tuyển dụng</p>
                    </div>
                    <div class="round stat">
                        <h4>+1.6M</h4>
                        <p class="pl-15 pr-15">Việc làm<br></p>
                    </div>
                    <div class="round stat">
                        <h4>+14M</h4>
                        <p class="pl-15 pr-15">Lượt ứng tuyển</p>
                    </div>
                </div>

                <div class="box-info ml-4">
                    <p><i class="far fa-check-circle"></i>&nbsp;+4,000,000 ứng viên tiếp cận thông tin tuyển dụng</p>
                    <p><i class="far fa-check-circle"></i>&nbsp;Hơn 20 hồ sơ ứng tuyển cho 1 việc làm đăng tuyển tại
                        MyWork</p>
                    <p><i class="far fa-check-circle"></i>&nbsp;Tăng hiệu quả 4 - 5 lần so với các phương thức tuyển
                        dụng khác</p>
                    <p><i class="far fa-check-circle"></i>&nbsp;+2,000 lượt xem trung bình cho 1 việc làm</p>
                </div>
                <div class="col-md-12">
                    <div class="hotline">
                        <div class="well">
                            Hotline tư vấn dành cho Nhà tuyển dụng
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-6 text-center ">
                                    <h4 class="text-white">Miền Bắc</h4>
                                    <a href="tel:024710 88688" class="number"><img
                                            src="../../../../assets/images/phone-icon.gif" class="img-register">(024)
                                        710
                                        88688</a>
                                </div>
                                <div class="col-md-6 text-center ">
                                    <h4 class="text-white">Miền Nam</h4>
                                    <a href="tel:024710 88688" class="number"><img
                                            src="../../../../assets/images/phone-icon.gif" class="img-register">(028)
                                        710
                                        88688</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 mt-4 mb-4">
                <div class="d-flex justify-content-center">
                    <div class="card">
                        <div class="card-header">
                            <h3 style="font-size:150%">Forgot Password</h3>

                        </div>
                        <div class="card-body ">
                            <form>
                                <fieldset>
                                    <legend>Tài khoản nhà tuyển dụng</legend>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="input.email"
                                            type="text" class="form-control" placeholder="Email">
                                    </div>

                                </fieldset>
                                <div class="form-group float-right">
                                    <input type="submit" value="Gửi"
                                        class="btn login_btn">
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex float-left">
                                <a routerLink="/registercompany">Đăng ký</a>
                            </div>
                            <div class="d-flex float-right">
                                <a routerLink="/logincompany">Đăng nhập</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Footer -->
<footer>
    <div class="block-contact py-4">
        <div class="container">
            <div class="title">
                <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
                <p class="sub-title">Hãy liên hệ với chúng tôi nếu bạn có bất cứ thắc mắc nào.</p>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <span>Trụ sở Đà Nẵng</span>
                            <div class="pl-md-2 pt-md-2 pt-1">
                                <i class="fas fa-map-marker-alt"></i>
                                <a class="address" style="opacity: 1;">
                                    <p class="mb-1">183 Quách Thị Trang</p>
                                </a>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <span>Số điện thoại</span>
                            <div class="pl-md-2 pt-md-2 pt-1">
                                <i class="fas fa-phone-alt"></i>
                                <a class="address" style="opacity: 1;">
                                    <p class="mb-1">(+84) 028-3526-8202</p>
                                </a>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <a href="" class="btn_mailct"><i class="far fa-paper-plane"></i><span>LIÊN HỆ QUA E-MAIL</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p class="title">Youngpinejob.com - Website Việc Làm Lớn Nhất Việt Nam</p>
        <div class="container">
            <div class="row">
                <div class="col-md-4 block-info">
                    <div class="info-item">
                        <h3>Trụ sở Đà Nẵng</h3>
                        <p>Tầng 3, 183 Quách Thị Trang, Cẩm Lệ, Đà Nẵng</p>
                    </div>
                    <div class="info-item">
                        <h3>Hotline</h3>
                        <p>0782.105.516 - 0905.123.456</p>
                    </div>
                    <div class="info-item">
                        <h3>Email hỗ trợ</h3>
                        <p>phamtu613@gmail.com</p>
                    </div>
                </div>
                <div class=" col-md-4 block-cate">
                    <ul class="foot-cod foot-show list-unstyled">
                        <li><a rel="nofollow" href=""><i class="fas fa-caret-right"></i>Trang chủ</a></li>
                        <li><a rel="nofollow" href=""><i class="fas fa-caret-right"></i>Danh sách ứng viên</a></li>
                        <li><a rel="nofollow" href=""><i class="fas fa-caret-right"></i>Danh sách nhà tuyển dụng</a>
                        </li>
                        <li><a rel="nofollow" href=""><i class="fas fa-caret-right"></i>Danh sách việc làm</a></li>
                        <li><a rel="nofollow" href=""><i class="fas fa-caret-right"></i>Huấn luyện viên của bạn</a></li>
                        <li><a rel="nofollow" href=""><i class="fas fa-caret-right"></i>Liên hệ</a></li>
                    </ul>
                </div>
                <div class=" col-md-4">
                    <iframe
                        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhkqddn%2F&tabs=timeline&width=340&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2449518365367012"
                        width="340" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="inner">
            <p>Copyright 2020 © - Youngpinejob - Một Tìm Kiếm, Triệu Việc Làm</p>
        </div>
    </div>
</footer>
<!-- End Footer -->