$color-main: #22924c;
.title-search {
    i {
        position: absolute;
        top: 15px;
        left: 25px;
        color: #6c757d;
        color: 18px;
    }
    input {
        padding-left: 30px;
        height: 45px;
    }
}
.block-title {
    .title-left {
        overflow: hidden;
        font-weight: 700;
        font-size: 19px;
        border-left: 5px solid $color-main;
        padding: 0 10px;
        line-height: 29px;
        margin-bottom: 15px;
        padding-right: 0;
        position: relative;
        margin-bottom: 0px;

        .line {
            background-color: #d7d7d7;
            bottom: 0;
            height: 1px;
            margin-bottom: auto;
            margin-left: 10px;
            margin-top: auto;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}
.block-find-advance {
    margin: 30px 0 15px;
    .find-advance {
        .select-custom {
            position: relative;
            select {
                padding-left: 30px;
                height: 40px;
            }
            i {
                position: absolute;
                top: 12px;
                left: 11px;
                color: #6c757d;
            }
        }
        .col-md-2 {
            padding-right: 0px;
        }
        .btn-search {
            button {
                font-size: 15px;
                line-height: 1;
                white-space: nowrap;
                cursor: pointer;
                background: #fff;
                border: 1px solid #c4c4c4;
                margin: 0;
                padding: 10px 15px;
                border-radius: 4px;
                width: 65%;
                background: #22924c;
                color: #fff;
                height: 40px;
                i {
                    padding-right: 5px;
                }
            }
        }
    }
}
.content {
    margin-bottom: 30px;
    .wp-inner-content {
        .title-total {
            padding: 10px;
            background: #9ed6b3a1;
            border: 1px solid #22924c87;
            span {
                color: #ff0000;
                font-weight: 900;
            }
        }
        .list-job {
            .job-item {
                padding: 10px;
                border: 1px solid #eee;
                margin-bottom: 10px;
                border-radius: 5px;
                @media (max-width: 575px) {
                    flex-wrap: wrap;
                }
                &:hover {
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
                }
                .img-title {
                    flex-basis: 60%;
                    @media (max-width: 575px) {
                        flex-basis: 100%;
                    }
                }
                .thumb-img {
                    width: 85px;
                    height: 60px;
                    margin-right: 10px;
                    @media (max-width: 575px) {
                        width: 100px;
                        height: 60px;
                    }
                    img {
                        width: 100%;
                        height: 60px;
                        object-fit: contain;
                    }
                }
                .desc-job {
                    a.position {
                        font-size: 17px;
                        font-weight: 600;
                        margin-bottom: 0;
                        color: #444;
                        cursor: pointer;
                        @media (max-width: 575px) {
                            font-size: 15px;
                        }
                    }
                    img.hot-new {
                        width: 31px;
                        height: 12px;
                        margin-left: 5px;
                    }
                    .name-company {
                        color: #43a047 !important;
                        font-weight: 400;
                        font-size: 14px;
                        cursor: pointer;
                        margin-bottom: 0px;
                        @media (max-width: 575px) {
                            font-size: 13px;
                        }
                    }
                }
                .address {
                    margin-left: 25px;
                    margin-top: 5px;
                    flex-grow: 1;
                    @media (max-width: 575px) {
                        margin-left: 10px;
                        margin-top: 10px;
                    }
                    .location {
                        color: #484848;
                        font-size: 15px;
                        flex-basis: 100%;
                        margin-top: 5px;
                        i {
                            color: #484848;
                            padding-right: 5px;
                        }
                    }
                    .salary-lock {
                        .salary {
                            color: #484848;
                            font-size: 15px;
                            flex-basis: 40%;
                            @media (max-width: 575px) {
                                flex-basis: 60%;
                            }
                            i {
                                color: #484848;
                                padding-right: 5px;
                            }
                        }
                        .date {
                            color: #484848;
                            font-size: 15px;
                            flex-basis: 60%;
                            margin-left: 10px;
                            i {
                                color: #484848;
                                padding-right: 5px;
                            }
                        }
                    }
                }
            }
            .job-item:first-child {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
        }
        .pagination {
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 0px;
            @media (max-width: 575px) {
                margin-bottom: 20px;
            }
        }
        .pagination > li > a {
            background-color: white;
            color: green;
        }

        .page-item.active .page-link {
            background-color: green;
            border-color: green;
        }

        .pagination > li > a:focus,
        .pagination > li > a:hover,
        .pagination > li > span:focus,
        .pagination > li > span:hover {
            color: green;
            background-color: #eee;
            border-color: #ddd;
        }

        .pagination > .active > a {
            color: white;
            background-color: green;
            border: solid 1px green;
        }

        .pagination > .active > a:hover {
            background-color: green;
            border: solid 1px green;
        }
    }
    .sidebar {
    }
}
// job-related
.job-related {
    margin-bottom: 50px;
    .list-job {
        margin-top: 20px;
        .job-item {
            padding: 10px;
            border: 1px solid #eee;
            margin-bottom: 10px;
            border-radius: 5px;
            &:hover {
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            }
            .thumb-img {
                width: 85px;
                max-height: 93px;
                margin-right: 10px;
                img {
                    width: 100%;
                    height: 93px;
                    object-fit: contain;
                }
            }
            .desc-job {
                flex-grow: 1;
                a.position {
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 0;
                    color: #444;
                    cursor: pointer;
                }
                img.hot-new {
                    width: 31px;
                    height: 12px;
                    margin-left: 5px;
                }
                .name-company {
                    color: #43a047 !important;
                    font-weight: 400;
                    font-size: 14px;
                    cursor: pointer;
                    margin-bottom: 0px;
                }
            }
            .location {
                color: #484848;
                font-size: 15px;
                flex-basis: 100%;
                margin-top: 3px;
                i {
                    color: #484848;
                    padding-right: 5px;
                }
            }
            .info-detail {
                margin-left: 0px;
                .salary {
                    color: #484848;
                    font-size: 15px;
                    flex-basis: 60%;
                    i {
                        color: #484848;
                        padding-right: 5px;
                    }
                }
                .date {
                    color: #484848;
                    font-size: 15px;
                    flex-basis: 60%;
                    margin-left: 10px;
                    i {
                        color: #484848;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    .carousel-indicators {
        bottom: -45px;
        li {
            background-color: #e3dcdc;
        }
        .active {
            background-color: #000;
        }
    }
}
// responsive
@media (max-width: 575px) {
    .block-find-advance {
        .find-advance {
            .col-md-2 {
                padding-right: 15px;
            }
            .btn-search {
                button {
                    width: 100%;
                }
            }
        }
    }
}
