<div class="block-find-advance">
    <div class="container">
        <div class="block-title">
            <h3 class="title-left">
                <span class="text" (click)="onFilterJob()">
                    Tìm kiếm nâng cao
                </span>
                <span class="line"></span>
            </h3>
        </div>
        <div class="row find-advance pt-3">
            <div class="col-md-12 relative title-search">
                <div class="form-group">
                    <i class="far fa-building"></i>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="Nhập tiêu đề hồ sơ, vị trí, địa điểm làm việc..." [(ngModel)]="keyword"
                        (keyup)="onFilterJob()">
                </div>
            </div>

            <!-- ngành nghề -->
            <div class="col-md-2 col-6">
                <div class="form-group select-custom">
                    <i class="fas fa-list-ul"></i>
                    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="career"
                        (change)="onFilterJob()">
                        <option *ngFor="let item of listCareer" [value]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <!-- địa điểm -->
            <div class="col-md-2 col-6">
                <div class="form-group select-custom">
                    <i class="fas fa-map-marker-alt"></i>
                    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="city"
                        (change)="onFilterJob()">
                        <option *ngFor="let item of listCity" [value]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <!-- kinh nghiệm -->
            <div class="col-md-2 col-6">
                <div class="form-group select-custom">
                    <i class="far fa-clock"></i>
                    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="exp"
                        (change)="onFilterJob()">
                        <option *ngFor="let item of expYears" [value]="item.value">{{item.viewValue}}</option>
                    </select>
                </div>
            </div>

            <!-- Mức lương -->
            <div class="col-md-2 col-6">
                <div class="form-group select-custom">
                    <i class="far fa-address-card"></i>
                    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="salary"
                        (change)="onFilterJob()">
                        <option *ngFor="let item of salaries" [value]="item.value">{{item.viewValue}}</option>
                    </select>
                </div>
            </div>

            <!-- loại hình -->
            <div class="col-md-2 col-6">
                <div class="form-group select-custom">
                    <i class="fas fa-laptop-house"></i>
                    <select class="form-control" id="exampleFormControlSelect1" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="typeofwork" (change)="onFilterJob()">
                        <option *ngFor="let item of typeOfWork" [value]="item.value">{{item.viewValue}}</option>
                    </select>
                </div>
            </div>

            <!-- giới tính -->
            <div class="col-md-2 col-6">
                <div class="form-group select-custom">
                    <i class="far fa-address-card"></i>
                    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="sex"
                        [ngModelOptions]="{standalone: true}" (change)="onFilterJob()">
                        <option *ngFor="let item of sexs" [value]="item.value">{{item.viewValue}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="wp-inner-content">
                    <div class="title-total">
                        <p class="mb-0">
                            <span>{{countJob}}</span> việc làm phù hợp
                        </p>
                    </div>
                    <div class="list-job" *ngIf="listJob!=null">
                        <div class="job-item d-flex" *ngFor="let job of listJob">
                            <div class="img-title d-flex">
                                <a href="" class="thumb-img d-block" target="_blank"><img src="{{job.logo}}" alt=""
                                        class="img-fluid d-block"></a>
                                <div class="desc-job">
                                    <a (click)="onDetailJobClick(job.id)" class="position"
                                        title="{{job.position}}">{{job.position| slice:0:40}}
                                    </a>
                                    <img class="hot-new" src="../../../../assets/img/hot_new.png" alt="">
                                    <p class="name-company" (click)="onDetailCompanyClick(job.idcompany)">
                                        {{job.companyname}}</p>
                                </div>
                            </div>
                            <div class="address">
                                <div class="salary-lock d-flex">
                                    <div class="salary">
                                        <i class="fas fa-coins"></i>
                                        <strong>{{job.salary}} triệu</strong>
                                    </div>
                                    <div class="date">
                                        <i class="far fa-clock"></i>
                                        <strong>{{job.postdate | date: 'dd/MM/yyyy'}}</strong>
                                    </div>
                                </div>

                                <div class="location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>{{job.addresswork}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <pagination-controls class="text-center mb-0" id="listing_pagination" maxSize="5" directionLinks="true"
                    (pageChange)="page = $event"></pagination-controls> -->

            </div>
            <div class="col-md-3">
                <div class="sidebar">
                    <a class="d-block mb-3" *ngFor="let item of listBannerAds"><img class="img-fluid"
                            src="{{item.banner}}" alt=""></a>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- start list job related -->
<div class="job-related">
    <div class="container">
        <div class="block-title">
            <h3 class="title-left">
                <span class="text">
                    Việc làm mới
                </span>
                <span class="line"></span>
            </h3>
        </div>
        <!-- start slide -->
        <div class="row">
            <div class="col-md-12">
                <div id="job-hot-slide" class="carousel slide carousel-fade" data-ride="carousel">
                    <!-- start carousel-inner-->
                    <div class="carousel-inner">
                        <div class="carousel-item" [ngClass]="{'active': slideItem.active}"
                            *ngFor="let slideItem of listJobNew">
                            <div class="row list-job" *ngFor="let rowSlide of slideItem.rowSlide">
                                <div class="col-md-4" *ngFor="let colSlide of rowSlide">
                                    <div class="job-item d-flex">
                                        <a class="thumb-img d-block" target="_blank"><img src="{{colSlide.logo}}" alt=""
                                                class="img-fluid d-block"></a>
                                        <div class="desc-job">
                                            <a (click)="onDetailJobClick(colSlide.jobid)" class="position"
                                                title="{{colSlide.position}}">{{colSlide.position | slice:0:20}}...
                                            </a>
                                            <img class="hot-new" src="../../../../assets/img/hot_new.png" alt="">
                                            <p class="name-company">{{colSlide.companyname}}</p>
                                            <div class="location">
                                                <i class="fas fa-map-marker-alt"></i>
                                                <span>{{colSlide.addresswork}}</span>
                                            </div>
                                            <div class="info-detail d-flex">

                                                <div class="salary">
                                                    <strong>{{colSlide.salary}} triệu</strong>
                                                </div>
                                                <div class="date">
                                                    <i class="far fa-clock"></i>
                                                    <strong>{{colSlide.postdate| date: 'dd/MM/yyyy'}}</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <li data-target="#job-hot-slide" class="active" data-slide-to="0"></li>
                        <li data-target="#job-hot-slide" data-slide-to="1"></li>
                    </ol>
                    <!-- end indicators -->
                </div>
            </div>
        </div>
        <!-- end slide -->
    </div>
</div>
<!-- end list job related -->

<!-- start list job seen -->
<div class="job-related">
    <div class="container">
        <div class="block-title">
            <h3 class="title-left">
                <span class="text">
                    Việc làm đã xem
                </span>
                <span class="line"></span>
            </h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row list-job">
                    <div class="col-md-4">
                        <div class="job-item d-flex">
                            <a href="" class="thumb-img d-block" target="_blank"><img
                                    src="https://findwork.ghouse.com.vn/wp-content/uploads/2020/04/vus-logo.png" alt=""
                                    class="img-fluid d-block"></a>
                            <div class="desc-job">
                                <a href="" class="position" title="Nhân viên Sale Online">Nhân Viên Kinh
                                    Doanh
                                </a>
                                <img class="hot-new" src="../../../../assets/img/hot_new.png" alt="">
                                <p class="name-company">Công ty TNHH MTV Tú Phạm</p>
                                <div class="location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Đà Nẵng: Ngũ Hành Sơn</span>
                                </div>
                                <div class="info-detail d-flex">

                                    <div class="salary">
                                        <strong>10 - 100 Triệu</strong>
                                    </div>
                                    <div class="date">
                                        <i class="far fa-clock"></i>
                                        <strong>15/10/2929</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="job-item d-flex">
                            <a href="" class="thumb-img d-block" target="_blank"><img
                                    src="https://findwork.ghouse.com.vn/wp-content/uploads/2020/04/vus-logo.png" alt=""
                                    class="img-fluid d-block"></a>
                            <div class="desc-job">
                                <a href="" class="position" title="Nhân viên Sale Online">Nhân Viên Kinh
                                    Doanh
                                </a>
                                <img class="hot-new" src="../../../../assets/img/hot_new.png" alt="">
                                <p class="name-company">Công ty TNHH MTV Tú Phạm</p>
                                <div class="location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Đà Nẵng: Ngũ Hành Sơn</span>
                                </div>
                                <div class="info-detail d-flex">

                                    <div class="salary">
                                        <strong>10 - 100 Triệu</strong>
                                    </div>
                                    <div class="date">
                                        <i class="far fa-clock"></i>
                                        <strong>15/10/2929</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="job-item d-flex">
                            <a href="" class="thumb-img d-block" target="_blank"><img
                                    src="https://findwork.ghouse.com.vn/wp-content/uploads/2020/04/vus-logo.png" alt=""
                                    class="img-fluid d-block"></a>
                            <div class="desc-job">
                                <a href="" class="position" title="Nhân viên Sale Online">Nhân Viên Kinh
                                    Doanh
                                </a>
                                <img class="hot-new" src="../../../../assets/img/hot_new.png" alt="">
                                <p class="name-company">Công ty TNHH MTV Tú Phạm</p>
                                <div class="location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Đà Nẵng: Ngũ Hành Sơn</span>
                                </div>
                                <div class="info-detail d-flex">

                                    <div class="salary">
                                        <strong>10 - 100 Triệu</strong>
                                    </div>
                                    <div class="date">
                                        <i class="far fa-clock"></i>
                                        <strong>15/10/2929</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="job-item d-flex">
                            <a href="" class="thumb-img d-block" target="_blank"><img
                                    src="https://findwork.ghouse.com.vn/wp-content/uploads/2020/04/vus-logo.png" alt=""
                                    class="img-fluid d-block"></a>
                            <div class="desc-job">
                                <a href="" class="position" title="Nhân viên Sale Online">Nhân Viên Kinh
                                    Doanh
                                </a>
                                <img class="hot-new" src="../../../../assets/img/hot_new.png" alt="">
                                <p class="name-company">Công ty TNHH MTV Tú Phạm</p>
                                <div class="location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Đà Nẵng: Ngũ Hành Sơn</span>
                                </div>
                                <div class="info-detail d-flex">

                                    <div class="salary">
                                        <strong>10 - 100 Triệu</strong>
                                    </div>
                                    <div class="date">
                                        <i class="far fa-clock"></i>
                                        <strong>15/10/2929</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="job-item d-flex">
                            <a href="" class="thumb-img d-block" target="_blank"><img
                                    src="https://findwork.ghouse.com.vn/wp-content/uploads/2020/04/vus-logo.png" alt=""
                                    class="img-fluid d-block"></a>
                            <div class="desc-job">
                                <a href="" class="position" title="Nhân viên Sale Online">Nhân Viên Kinh
                                    Doanh
                                </a>
                                <img class="hot-new" src="../../../../assets/img/hot_new.png" alt="">
                                <p class="name-company">Công ty TNHH MTV Tú Phạm</p>
                                <div class="location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Đà Nẵng: Ngũ Hành Sơn</span>
                                </div>
                                <div class="info-detail d-flex">

                                    <div class="salary">
                                        <strong>10 - 100 Triệu</strong>
                                    </div>
                                    <div class="date">
                                        <i class="far fa-clock"></i>
                                        <strong>15/10/2929</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="job-item d-flex">
                            <a href="" class="thumb-img d-block" target="_blank"><img
                                    src="https://findwork.ghouse.com.vn/wp-content/uploads/2020/04/vus-logo.png" alt=""
                                    class="img-fluid d-block"></a>
                            <div class="desc-job">
                                <a href="" class="position" title="Nhân viên Sale Online">Nhân Viên Kinh
                                    Doanh
                                </a>
                                <img class="hot-new" src="../../../../assets/img/hot_new.png" alt="">
                                <p class="name-company">Công ty TNHH MTV Tú Phạm</p>
                                <div class="location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Đà Nẵng: Ngũ Hành Sơn</span>
                                </div>
                                <div class="info-detail d-flex">

                                    <div class="salary">
                                        <strong>10 - 100 Triệu</strong>
                                    </div>
                                    <div class="date">
                                        <i class="far fa-clock"></i>
                                        <strong>15/10/2929</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Trước</a></li>
        <li class="page-item" [ngClass]="{'active': this.page==1}"><a class="page-link" (click)="changePage(1)">1</a>
        </li>
        <li class="page-item" [ngClass]="{'active': this.page==2}"><a class="page-link" (click)="changePage(2)">2</a>
        </li>
        <li class="page-item" [ngClass]="{'active': this.page==3}"><a class="page-link" (click)="changePage(3)">3</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">Sau</a></li>
    </ul> -->
</div>
<!-- end list job seen -->