<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Cập nhật nhà tuyển dụng</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom contain-dialog">
    <div class="row">
        <div class="row">
            <!-- tên công ty -->
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Tên công ty <span class="text-red">*</span></mat-label>
                    <input disabled=true matInput placeholder="Tên công ty của bạn..." [(ngModel)]="input.companyname" />
                </mat-form-field>
            </div>

            <!-- tên địa chỉ -->
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Địa chỉ <span class="text-red">*</span></mat-label>
                    <input disabled=true matInput placeholder="Địa chỉ công ty..." [(ngModel)]="input.address" />
                </mat-form-field>
            </div>

            <!-- số điện thoại -->
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Số điện thoại <span class="text-red">*</span></mat-label>
                    <input disabled=true matInput placeholder="Số điện thoại công ty..." [(ngModel)]="input.companyphone" />
                </mat-form-field>
            </div>

            <!-- website -->
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Website</mat-label>
                    <input disabled=true matInput placeholder="Website công ty..." [(ngModel)]="input.website" />
                </mat-form-field>
            </div>

            <!-- Số dư -->
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Số dư</mat-label>
                    <input disabled=true matInput value='200 điểm' [(ngModel)]="input.point" />
                </mat-form-field>
            </div>

            <!-- Giới thiệu công ty -->
            <div class="col-md-12">
                <!-- Từ Khóa -->
                <mat-form-field appearance="fill">
                    <mat-label>Giới thiệu công ty</mat-label>
                    <textarea disabled=true matInput class="mh-50" [(ngModel)]="input.about"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button (click)="onDeleteClick()" class="mb-2 mr-2 btn-transition btn btn-danger button-update">Xóa
                </button>
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-destroy" [mat-dialog-close] >Đóng
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end select-top -->