<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Danh sách nhà tuyển dụng</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
    <div class="row">
        <div class="col-md-12">
            <mat-form-field>
                <mat-label>Tên công ty</mat-label>
                <input matInput (keyup)="filterCompany($event)" maxlength="50" placeholder="vd: izisoft">
            </mat-form-field>
        </div>
    </div>
</mat-card>
<!--  end select-top -->

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12">
            <a (click)="onDelClick()" routerLink="/c1-manager-company" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa nhà tuyển dụng</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->

<!-- table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 grid-data-custom">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- STT Column -->
    <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let element">{{element.stt}}</td>
    </ng-container>

    <!-- username -->
    <ng-container matColumnDef="companyname">
        <th mat-header-cell *matHeaderCellDef>Tên công ty</th>
        <td mat-cell *matCellDef="let element">{{element.companyname}}</td>
    </ng-container>

    <!-- address -->
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Địa chỉ</th>
        <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>

    <!-- phone -->
    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Số điện thoại</th>
        <td mat-cell *matCellDef="let element">{{element.phone}}</td>
    </ng-container>

    <!-- personnel -->
    <ng-container matColumnDef="personalscale">
        <th mat-header-cell *matHeaderCellDef>Quy mô nhân sự</th>
        <td mat-cell *matCellDef="let element">{{element.personalscale}}</td>
    </ng-container>

    <!-- website -->
    <ng-container matColumnDef="website">
        <th mat-header-cell *matHeaderCellDef>Website</th>
        <td mat-cell *matCellDef="let element">{{element.website}}</td>
    </ng-container>

    <!-- point -->
    <ng-container matColumnDef="point">
        <th mat-header-cell *matHeaderCellDef>Số dư</th>
        <td mat-cell *matCellDef="let element">{{element.point}} điểm</td>
    </ng-container>

    <!-- sửa -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="text-center">
            Chi tiết
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
            <i class="fa fa-eye icon-update" aria-hidden="true" title="Xem thêm" (click)="openDialogUpdate(element)"></i>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
</table>
<!-- end table -->

<!-- button crud -->
<mat-card class="button-system-custom button-system-custom-footer">
    <div class="row">
        <div class="col-md-12">
            <a (click)="onDelClick()" routerLink="/c1-manager-company" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa nhà tuyển dụng</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->
<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>