<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Danh sách comment</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field>
                <mat-label>Tên huấn luyện viên:</mat-label>
                <mat-select [(ngModel)]="nameCoachingId">
                    <mat-option *ngFor="let item of nameCoaching" [value]="item.id">
                        {{item.fullname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <div class="example-button-row contain-button-filter">
                <button class="mb-2 mr-2 btn-transition btn btn-outline-primary button-filter" (click)="filterComment()">Lọc
                </button>
            </div>
        </div>
    </div>
</mat-card>


<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12">
            <a (click)="onDelClick()" routerLink="/c1-manager-company" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>

<!-- table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 grid-data-custom">
    <!-- Checkbox Column -->sửa
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- STT Column -->
    <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let element">{{element.stt}}</td>
    </ng-container>

    <!-- name -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Tên ứng viên</th>
        <td mat-cell *matCellDef="let element">{{element.nameCdd}}</td>
    </ng-container>

    <!-- content -->
    <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef>Nội dung bình luận</th>
        <td mat-cell *matCellDef="let element">{{element.content}}</td>
    </ng-container>

    <!-- name coach -->
    <ng-container matColumnDef="name_coaching">
        <th mat-header-cell *matHeaderCellDef>Tên coaching</th>
        <td mat-cell *matCellDef="let element">{{element.fullname}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
</table>
<!-- end table -->

<!-- button crud -->
<!-- <mat-card class="button-system-custom button-system-custom-footer">
    <div class="row">
        <div class="col-md-12">
            <a (click)="onInsertClick()" routerLink="/a4-manager-occupation" class="button-action add">
                <i class="fa fa-fw" aria-hidden="true" title="Thêm mới"></i>
                <span>Thêm mới</span>
            </a>
            <a routerLink=" " class="button-action accept">
                <i class="fa fa-fw" aria-hidden="true" title="Duyệt"></i>
                <span>Duyệt</span>
            </a>
            <a routerLink=" " class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card> -->
<!-- end button crud-->
<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>

<!-- thêm mới -->
<mat-card *ngIf="insertFlag" class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Thêm mới, cập nhật thông tin</p>
        </div>
    </div>
</mat-card>

<!-- card-add-new -->
<mat-card *ngIf="insertFlag" class="system-custom">
    <div class="row">
        <div class="col-md-12">
            <!-- name occupation -->
            <mat-form-field class="example-full-width">
                <mat-label>Tên ngành nghề <span class="text-red">*</span></mat-label>
                <input matInput placeholder="Nhập tiêu đề..." value="Phiên dịch" />
            </mat-form-field>

            <!-- button update - cancel -->
            <div class="example-button-row text-center">
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-update">Cập
                    nhật
                </button>
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-destroy">Hủy bỏ
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end card-add-new -->