<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Cập nhật quảng cáo công việc</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom contain-dialog">
    <div class="row">
        <form [formGroup]="form" class="col-md-12">
            <div class="row">
                <!-- tên công ty -->
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Tên công ty <span class="text-red">*</span></mat-label>
                        <input formControlName="companyname" matInput [(ngModel)]="input.companyname" />
                    </mat-form-field>
                </div>

                <!-- tên công việc -->
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Địa chỉ <span class="text-red">*</span></mat-label>
                        <input formControlName="addresswork" matInput placeholder="Địa Chỉ..." disabled="disabled" [(ngModel)]="input.addresswork" />
                    </mat-form-field>
                </div>

                <!-- mô tả -->
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Mô tả <span class="text-red">*</span></mat-label>
                        <input formControlName="descriptionwork" matInput placeholder="Mô tả công việc..." [(ngModel)]="input.descriptionwork" />
                    </mat-form-field>
                    <div *ngIf="form.controls['descriptionwork'].invalid && (form.controls['descriptionwork'].dirty || form.controls['descriptionwork'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['descriptionwork'].errors.maxlength">
                            Bạn không được nhập quá 500 ký tự
                        </div>
                        <div *ngIf="form.controls['descriptionwork'].errors.required">
                            Bạn phải nhâp trường này
                        </div>
                        <div *ngIf="form.controls['descriptionwork'].errors.minlength">
                            Bạn không được nhập dưới 5 ký tự
                        </div>
                        <div *ngIf="form.controls['descriptionwork'].errors.pattern">
                            Bạn không được nhập khoảng trắng đầu tiên
                        </div>

                    </div>
                </div>
                <!-- mô tả -->
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Số Điện Thoại <span class="text-red">*</span></mat-label>
                        <input formControlName="phone" (keydown.space)="$event.phone();" matInput placeholder="Số điện thoại..." [(ngModel)]="input.phone" />
                    </mat-form-field>
                    <div *ngIf="form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['phone'].errors.required">
                            Bạn không được để trống
                        </div>
                        <div *ngIf="form.controls['phone'].errors.maxlength">
                            Bạn không được nhập quá 11 ký tự
                        </div>
                        <div *ngIf="form.controls['phone'].errors.minlength">
                            Bạn không được nhập dưới 10 ký tự
                        </div>
                        <div *ngIf="form.controls['phone'].errors.pattern">
                            Bạn phải nhập đúng định dạng số điện thoại
                        </div>
                    </div>
                </div>
                <!-- Ngày Sinh cdd -->
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Ngày kết thúc </mat-label>
                        <input formControlName="endads" (keydown.space)="$event.endads" maxlength="10" matInput [matDatepicker]="picker1" [min]="minDate" [(ngModel)]="input.endads" />
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="form.controls['endads'].invalid && (form.controls['endads'].dirty || form.controls['endads'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['endads'].errors.required">
                            Vui lòng chọn ngày kết thúc quảng cáo
                        </div>
                        Bạn không được nhập trước thời gian bắt đầu
                    </div>
                </div>

                <!-- Ngày Sinh cdd -->
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Ngày bắt đầu </mat-label>
                        <input formControlName="startads" matInput [(ngModel)]="input.startads" />

                    </mat-form-field>
                    <div *ngIf="form.controls['startads'].invalid && (form.controls['startads'].dirty || form.controls['startads'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['startads'].errors.maxlength">
                            Bạn không được nhập quá 50 ký tự
                        </div>
                        Bạn phải nhập đúng định dạng MM-DD-YYYY và không được nhập quá ngày tháng hiện tại
                    </div>
                </div>
                <!-- Số dư -->
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Số điểm quảng cáo <span class="text-red">*</span></mat-label>
                        <input formControlName="point" (keydown.space)="$event.point();" matInput [(ngModel)]="input.point" />
                    </mat-form-field>
                    <div *ngIf="form.controls['point'].invalid && (form.controls['point'].dirty || form.controls['point'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['point'].errors.required">
                            Bạn không được để trống trường này!
                        </div>
                        <div *ngIf="form.controls['point'].errors.maxlength">
                            Bạn không được nhập quá 5 ký tự
                        </div>
                        <div *ngIf="form.controls['point'].errors.pattern">
                            Bạn phải nhập số
                        </div>
                    </div>
                </div>

                <!-- LOGO quảng cáo -->
                <div class="col-md-12 title-main">
                    <div class="container">
                        <!-- LOGO quảng cáo -->
                        <h3>Hình công ty quảng cáo</h3>
                        <img *ngIf="isUpload==true" [src]="imgURL" width="200px" />
                        <img *ngIf="isUpload==false" [src]="input.avatar" width="200px" />
                        <!-- Hình đại diện -->
                        <mat-card style="box-shadow:none; padding-left: 0;">
                            <mat-card-actions style="margin: 0; padding: 0;">
                                <button style="border:1px solid red; border-radius:3px;" mat-button color="warn" (click)="onClick()">  
                                <mat-icon>file_upload</mat-icon>  
                                Cập nhật hình ảnh đại diện
                            </button>
                                <input formControlName="companylogo" #file type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" (change)="preview(file.files)" />
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
                <div class="col-md-6">
                    <section class="example-section">
                        <mat-checkbox formControlName="status" aria-hidden="" title="Đã Duyệt" class="example-margin" [(ngModel)]="input.status">Đã Duyệt</mat-checkbox>
                    </section>
                </div>
            </div>
        </form>

    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-update" (click)="onClickJob()">Cập
                    nhật
                </button>
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-destroy" [mat-dialog-close] click="onNoClick()">Hủy bỏ
                </button>
            </div>
        </div>
    </div>

</mat-card>
<!--  end select-top -->