<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Danh sách quảng cáo banner</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Tên công ty</mat-label>
                <mat-select [(ngModel)]="jobId">
                    <mat-option *ngFor="let item of nameEmployer" [value]="item.id">
                        {{item.companyname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field>
                <mat-label>Trạng Thái:</mat-label>
                <mat-select [(ngModel)]="statusId">
                    <mat-option *ngFor="let item of statues" [value]="item.value">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="example-button-row contain-button-filter">
                <button class="mb-2 mr-2 btn-transition btn btn-outline-primary button-filter" (click)="getFilterCompany()">Lọc
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end select-top -->

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12">
            <a routerLink="a2-manager-employer" class="button-action acept">
                <i class="fa fa-fw" aria-hidden="true" title="Duyệt"></i>
                <span (click)="onDuyetClick()">Duyệt</span>
            </a>

            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->

<!-- table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 grid-data-custom">
    <!-- Checkbox Column -->sửa
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- STT Column -->
    <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let element">{{element.stt}}</td>
    </ng-container>

    <!-- username -->
    <ng-container matColumnDef="namecompany">
        <th mat-header-cell *matHeaderCellDef>Tên công ty</th>
        <td mat-cell *matCellDef="let element">{{element.companyname}}</td>
    </ng-container>

    <!-- name_work -->
    <ng-container matColumnDef="name_work">
        <th mat-header-cell *matHeaderCellDef>Công việc</th>
        <td mat-cell *matCellDef="let element">{{element.position}}</td>
    </ng-container>

    <!-- personnel -->
    <ng-container matColumnDef="time_end">
        <th mat-header-cell *matHeaderCellDef>Thời gian còn lại</th>
        <td mat-cell *matCellDef="let element">{{getInfo(element.time_end)}}</td>
    </ng-container>

    <!-- point -->
    <ng-container matColumnDef="point">
        <th mat-header-cell *matHeaderCellDef>Số điểm quảng cáo</th>
        <td mat-cell *matCellDef="let element">{{element.point}} điểm</td>
    </ng-container>

    <!-- Quảng cáo -->
    <ng-container matColumnDef="advertisement">
        <th mat-header-cell *matHeaderCellDef>
            Duyệt
        </th>
        <td mat-cell *matCellDef="let element">
            <i *ngIf="element.status==1" class="fa fa-fw icon-acept" aria-hidden="true" title="Đã Duyệt"></i>
        </td>
    </ng-container>

    <!-- sửa -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>
            Sửa
        </th>
        <td mat-cell *matCellDef="let element">
            <i class="fa fa-fw icon-update" aria-hidden="true" title="Sửa" (click)="openDialogUpdate(element)"></i>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
</table>
<!-- end table -->

<!-- button crud -->
<mat-card class="button-system-custom button-system-custom-footer">
    <div class="row">
        <div class="col-md-12">
            <a routerLink="a2-manager-employer" class="button-action acept">
                <i class="fa fa-fw" aria-hidden="true" title="Duyệt"></i>
                <span (click)="onDuyetClick()">Duyệt</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->
<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>