<div class="background-contact"
    style="background-image: url('https://findwork.ghouse.com.vn/wp-content/uploads/2020/04/banner2.jpg')">
    <div class="contact">
    </div>
</div> 

<div class="row" id="contatti">
    <div class="container mt-5">
        <div class="row" style="height:550px;">
            <div class="mb-5 col-md-6 maps">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.157911381202!2d108.22072771353739!3d16.005293145402607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421a10ed15ea33%3A0x8dad050a02aae05d!2zMTgzIFF1w6FjaCBUaOG7iyBUcmFuZywgSG_DoCBYdcOibiwgQ-G6qW0gTOG7hywgxJDDoCBO4bq1bmcgNTUwMDAwLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1587455531859!5m2!1svi!2s"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 shadow mb-5 bg-white rounded contact-text">
                <h2 class="text-uppercase mt-3 text-black sl_title">Liên hệ chúng tôi</h2>
                <form action="">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control mt-2" placeholder="Họ và tên" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="email" class="form-control mt-2" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="number" class="form-control mt-2" placeholder="Số điện thoại" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Ghi chú"
                                    rows="3" required></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn button-send" type="submit">Gửi</button>
                        </div>
                    </div>
                </form>
                <div class="text-black">
                    <h2 class="text-uppercase mt-4 sl_title">Thông tin liên hệ</h2> 
                    <i class="fas fa-phone mt-3 mr-2"></i> <a href="tel:+84966150693">(+84) 966150693</a><br>
                    <i class="fas fa-map-marker-alt mr-2 mt-3"></i> <a href="#">183 Quách Thị Trang, Q. Cẩm Lệ, Tp. Đà
                        Nẵng</a><br>
                    <i class="fa fa-envelope mt-3 mr-2"></i> <a href="">izisoftware@gmail.com</a><br>
                    <i class="fas fa-globe mt-3 mr-2"></i> findwork.com.vn<br>
                    <div class="mt-4">
                        <a href=""><img src="../../../../assets/icons/fb.png" class="mr-3"></a>
                        <a href=""><img src="../../../../assets/icons/zalo.png" class="mr-3"></a>
                        <a href=""><img src="../../../../assets/icons/youtube.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>