.contact {
  background-color: rgba(0, 0, 0, 0.12);
  height: 470px;
}
.background-contact {
  height: 470px;
  background-repeat: no-repeat;
  background-size: cover;
}

#contatti {
  background-color: #ffffff;
  letter-spacing: 2px;
}
#contatti a {
  color: #000;
  text-decoration: none;
}
#contatti i {
  color: #22924c;
}

@media (max-width: 480px) {
  .contact-text {
    margin-left: 15px;
  }
  .text-black {
    margin-bottom: 15px;
  }
  .background-contact{
    display: none;
  }
  .container{
    margin-top: 0 !important;
  }
}

@media (max-width: 575.98px) {
  #contatti {
    padding-bottom: 800px;
  }
  #contatti .maps iframe {
    width: 100%;
    height: 450px;
  }
}

@media (min-width: 576px) {
  #contatti {
    padding-bottom: 800px;
  }

  #contatti .maps iframe {
    width: 100%;
    height: 450px;
  }
}

@media (min-width: 768px) {
  #contatti {
    padding-bottom: 350px;
  }

  #contatti .maps iframe {
    width: 100%;
    height: 850px;
  }
}

@media (min-width: 992px) {
  #contatti {
    padding-bottom: 185px;
  }

  #contatti .maps iframe {
    width: 100%;
    height: 700px;
  }
}

#author a {
  color: #000;
  text-decoration: none;
}
.button-send {
  background-color: #22924c;
  color: #fff;
  padding: 5px 30px;
}

.container {
  max-width: 1250px !important;
}

.sl_title::after {
  content: "";
  width: 160px;
  height: 5px;
  background-color: #22924c;
  display: block;
  margin-top: 5px;
}
