<div class="jumbotron text-center mb-0">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead mb-0"><strong>Please check your email</strong> for further instructions on how to complete your account
        setup.</p>
    <hr>
    <p>
        Having trouble? <a href="/g1-contact" >Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href=""  role="button">Continue to homepage</a>
    </p>
</div>