<mat-card class="title-block col-md-12">
    <div class="row">
        <div class="col-md-12 title-main">
            <p> Sửa trạng thái </p>
        </div>
    </div>
</mat-card>
<!-- edit category -->
<mat-card class="system-custom col-md-12">
    <div class="row">
        <div class="col-md-12 title-main">
            <!-- Trạng thái -->
            <mat-form-field class="example-full-width">
                <mat-label>Trạng Thái:</mat-label>
                <mat-select [(ngModel)]="applywork.status">
                    <mat-option *ngFor="let statusItem of status1" [value]="statusItem.value"> {{ statusItem.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- button update - destroy -->
            <div class="example-button-row text-center"> <button class="mb-2 mr-2 btn-transition btn btn-primary button-update" (click)="updateStatusOnClick()">Cập nhật </button> <button class="mb-2
                    mr-2 btn-transition btn btn-primary button-destroy" (click)="onNoClick()">Hủy bỏ </button> </div>
        </div>
    </div>
</mat-card>
