.example-full-width {
    width: 100%;
}
.mr-20 {
    margin-right: 20px;
}
.title-block {
    background: #2bbbad;
    color: #fff;
    font-size: 18px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.title-main {
    p {
        margin-bottom: 0px;
        font-size: 15px;
    }
}
.custom-border {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 15px;
}

.custom-overflow {
    // max-height: 350px;
    overflow-y: auto;
}

.custom-margin-button {
    margin-right: 10px;
}

.table-profile {
    width: 100%;
    th {
        color: #fff;
        font-size: 15px;
        letter-spacing: 0.7px;
    }

    td,
    th {
        width: 18%;
    }
    td:last-child,
    th:last-child {
        width: 10%;
    }
    td:first-child,
    th:first-child,
    td:nth-child(2),
    th:nth-child(2),td:nth-child(3),
    th:nth-child(3) {
        width: 10%;
    }    

    td:nth-child(6),
    th:nth-child(6),
    td:nth-child(8),
    th:nth-child(8) {
        width: 10%;
    }
    @media (max-width: 480px) {
        min-width: 600px;
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-button-row button,
.example-button-row a {
    margin-right: 8px;
}
.system-custom {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all 0.2s;
    margin-bottom: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.button-system-custom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.button-system-custom-footer {
    box-shadow: none;
    border-bottom: 1px solid #e2e2e2;
}
.title-header-crud {
    box-shadow: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.button-system-custom-after {
    border-radius: 0px;
}
.button-filter {
    padding: 6px 33px;
    border-color: #2bbbad;
    color: #2bbbad;
}
.button-filter:hover {
    background: #2bbbad;
    color: #fff;
}
.contain-button-filter {
    padding-top: 8px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 30px;
}

.example-margin {
    margin: 0 10px;
}
//mat-progress-bar
.mat-progress-bar {
    border-radius: 10px;
    height: 8px !important;
}

.icon-acept {
    color: #00c851;
    font-size: 18px;
}
.button-dialog {
    color: #3498db;
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #fff;
}
.example-full-width {
    width: 100%;
}
.button-update,
.button-destroy {
    padding: 6px 33px;
    border-color: #2bbbad;
    background: #2bbbad;
}
.example-button-row button,
.example-button-row a {
    margin-right: 8px;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}
.button-password {
    border: none;
}
.content {
    margin: 10px;
}

.a-information {
    display: block;
    margin-bottom: 8px;
}
.a-point {
    color: #c0392b;
    font-weight: 500;
}
.title-main {
    h4 {
        margin-bottom: 8px;
    }
}
.icon-update {
    font-size: 17px;
    width: 60px;
    color: #33b5e5;
}

.mat-header-row {
    background: #2bbbad !important;
    text-transform: uppercase;
    height: 50px;
}

tr.mat-row:hover {
    background: #e0f2f1;
}

.text-red {
    color: #ff0000;
    font-size: 17px;
}
.button-update,
.button-destroy {
    padding: 6px 33px;
    border-color: #2bbbad;
    background: #2bbbad;
}
.button-file {
    margin: 10px 0;
    color: rgb(0, 145, 207);
}
.button-filter {
    padding: 6px 33px;
    border-color: #2bbbad;
    color: #2bbbad;
}
.button-filter:hover {
    background: #2bbbad;
    color: #fff;
}
.contain-button-filter {
    text-align: center;
}
.button-action {
    float: left;
    text-align: center;
    @media (max-width: 576px) {
        width: 103px;
    }
    span {
        font-size: 16px;
    }
    i {
        padding-right: 10px;
        font-size: 18px;
    }
}
.button-action.add {
    color: #33b5e5;
}
.clear {
    clear: both;
}
.table-dialog {
    tr {
        vertical-align: top;
        th {
            color: #000;
            padding: 10px;
            font-weight: 400;
            width: 5%;
        }
        td {
            padding: 10px;
            font-weight: 500;
            width: 25%;
            a {
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
}
.example-half-width {
    width: 47%;
}
.icon-trash {
    font-size: 17px;
    width: 60px;
    color: #e74c3c;
}
.table-cate {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0px;
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    td {
        text-align: left;
        padding: 8px;
        width: 80%;
    }
    th {
        color: #000;
        text-align: left;
        padding: 8px;
        width: 20% !important;
    }
}

.button-action {
    float: left;
    text-align: center;
    @media (max-width: 576px) {
        width: 103px;
    }
    span {
        font-size: 16px;
    }
    i {
        padding-right: 10px;
        font-size: 18px;
    }
}
.button-action.add {
    color: #33b5e5;
}
.button-action.acept {
    color: #00c851;
}
.button-action.sort {
    color: #ffbb33;
}
.button-action.del {
    color: #ff4444;
}
.clear {
    clear: both;
}
