<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Hồ sơ tuyển dụng
            </p>
        </div>
    </div>
</mat-card>
<!-- select-top -->
<mat-card class="system-custom">
    <div class="row">
        <div class="col-md-6">
            <!-- Từ khoá -->
            <mat-form-field class="example-full-width">
                <mat-label>Tin tuyển dụng:
                </mat-label>
                <mat-select [(ngModel)]="positionId">
                    <mat-option *ngFor="let row of
                    positions" [value]="row.position"> {{ row.position }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <!-- Trạng thái -->
            <mat-form-field class="example-full-width">
                <mat-label>Trạng Thái:</mat-label>
                <mat-select [(ngModel)]="statusId">
                    <mat-option *ngFor="let statusId of status" [value]="statusId.value"> {{ statusId.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="example-button-row contain-button-filter">
                <!-- Button Lọc --><button (click)="onFillterClick()" class="mb-2 mr-2 btn-transition btn
                    btn-outline-primary button-filter">Lọc </button> </div>
        </div>
    </div>
</mat-card>
<!--  end select-top -->
<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12">
            <a (click)="onDeleteClick()" routerLink="/c3-employer-profile" class="button-action del"> <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa</span> </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->
<!-- Danh sách hồ sơ đã xem -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8
    table-profile">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() &&
                isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"> </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let
            row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row)
                : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>
    <!-- Số thứ tự -->
    <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let row"> {{row.stt}}</td>
    </ng-container>
    <!-- ID hồ sơ -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID hồ sơ </th>
        <td mat-cell *matCellDef="let row"> {{row.id}}</td>
    </ng-container>
    <!-- Họ và tên -->
    <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef>Họ và tên
        </th>
        <td mat-cell *matCellDef="let row" (click)="DialogViewProfile(row)">{{row.fullname}}</td>
    </ng-container>
    <!-- Vị trí tuyển dụng -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Vị trí tuyển dụng</th>
        <td mat-cell *matCellDef="let row">{{row.position}}</td>
    </ng-container>

    <!-- Trạng thái-->
    <ng-container matColumnDef="startdate">`
        <th mat-header-cell *matHeaderCellDef>Ngày nộp
        </th>
        <td mat-cell *matCellDef="let row">{{row.startdate}}</td>
    </ng-container>
    <!-- Trạng thái-->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Trạng thái
        </th>
        <td mat-cell *matCellDef="let row">{{getStatus(row.status)}}</td>
    </ng-container>
    <!-- sửa -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Sửa </th>
        <td mat-cell *matCellDef="let row">
            <a> <i (click)="openDialogEditProfile(row)" class="fa
                    fa-fw icon-update text-center" aria-hidden="true" title="Sửa" style="cursor:
                    pointer;"></i> </a>
        </td>
    </ng-container>
    <!-- sửa -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Xoá </th>
        <td mat-cell *matCellDef="let row">
            <a (click)="onDeleteClick()" routerLink="/c3-employer-profile" class="button-action del"> <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i> </a>
        </td>
    </ng-container>
    <mat-card class="button-system-custom title-header-crud">
        <div class="row">
            <div class="col-md-12">
                <a (click)="onDeleteClick()" routerLink="/c3-employer-profile" class="button-action del">
                    <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                    <span>Xóa</span>
                </a>
                <div class="clear"></div>
            </div>
        </div>
    </mat-card>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:
        displayedColumns" (click)="selection.toggle(row)"></tr>
</table>
<!-- end table -->
<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>