<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Thông tin liên hệ ứng viên </p>
        </div>
    </div>
</mat-card>
<div >
    <table class="table-cate"> 
      <tr >
        <th>ID hồ sơ</th>
        <td>{{applyworks2.id}}</td>
      </tr> 
      <tr >
        <th>Họ và tên</th>
        <td>{{applyworks2.fullname}}</td> 
      </tr>
      <tr>
        <th>Email</th>
        <td>{{applyworks2.email}}</td>
      </tr>
      <tr >
        <th>Số điện thoại</th>
        <td>{{applyworks2.phone}}</td>
      </tr>
      <tr >
        <th>Link</th>
        <td><a href=">https://findwork.ghouse.com.vn" target="_blank">https://findwork.ghouse.com.vn</a></td>
      </tr>      
    </table>
    </div>