<div class="main" style="background-image: url('../../../../assets/img/body-bg.jpg'); margin-bottom:25px">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mt-4 mb-4 "> 
                <div class="col-md-12 mb-4 col-f2login">
                    <div class="round stat ml-n">
                        <h4>+4M</h4>
                        <p class="pl-15 pr-15">Ứng viên</p>
                    </div>
                    <div class="round stat">
                        <h4>+700K</h4>
                        <p class="pl-15 pr-15">Nhà tuyển dụng</p>
                    </div>
                    <div class="round stat">
                        <h4>+1.6M</h4>
                        <p class="pl-15 pr-15">Việc làm<br></p>
                    </div>
                    <div class="round stat">
                        <h4>+14M</h4>
                        <p class="pl-15 pr-15">Lượt ứng tuyển</p>
                    </div>
                </div>

                <div class="box-info ml-4">
                    <p><i class="far fa-check-circle"></i>&nbsp;+4,000,000 ứng viên tiếp cận thông tin tuyển dụng</p>
                    <p><i class="far fa-check-circle"></i>&nbsp;Hơn 20 hồ sơ ứng tuyển cho 1 việc làm đăng tuyển tại
                        MyWork</p>
                    <p><i class="far fa-check-circle"></i>&nbsp;Tăng hiệu quả 4 - 5 lần so với các phương thức tuyển
                        dụng khác</p>
                    <p><i class="far fa-check-circle"></i>&nbsp;+2,000 lượt xem trung bình cho 1 việc làm</p>
                </div>
                <div class="col-md-12">
                    <div class="hotline">
                        <div class="well">
                            Hotline tư vấn dành cho Nhà tuyển dụng
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-6 text-center ">
                                    <h4 class="text-white">Miền Bắc</h4>
                                    <a href="tel:024710 88688" class="number"><img
                                            src="../../../../assets/img/phone-icon.gif" class="img-register">(024) 710
                                        88688</a>
                                </div>
                                <div class="col-md-6 text-center ">
                                    <h4 class="text-white">Miền Nam</h4>
                                    <a href="tel:024710 88688" class="number"><img
                                            src="../../../../assets/img/phone-icon.gif" class="img-register">(028) 710
                                        88688</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 mt-4 mb-4">
                <div class="d-flex justify-content-center">
                    <div class="card">
                        <div class="card-header">
                            <h3 >Đăng nhập nhà tuyển dụng</h3>

                        </div>
                        <div class="card-body ">
                            <form>
                                <fieldset>
                                    <legend>Tài khoản nhà tuyển dụng</legend>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Mật khẩu">
                                    </div> 

                                </fieldset>                             

                                <div class="row align-items-center remember mb-2">
                                    <input type="checkbox">Lưu mật khẩu
                                </div>
                                <div class="form-group float-right">
                                    <input type="submit" value="Đăng nhập" class="btn login_btn">
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex float-left">
                                <a routerLink="/f3-register-company">Đăng ký</a>
                            </div>
                            <div class="d-flex float-right">
                                <a href="#">Quên mật khẩu?</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>