$color-main: #22924c;

.block-find-advance {
    margin: 30px 0 15px;
    .find-advance {
        .select-custom {
            position: relative;
            select {
                padding-left: 30px;
                height: 40px;
            }
            i {
                position: absolute;
                top: 12px;
                left: 11px;
                color: #6c757d;
            }
        }
        .col-md-2 {
            padding-right: 0px;
        }
        .btn-search {
            button {
                font-size: 15px;
                line-height: 1;
                white-space: nowrap;
                cursor: pointer;
                background: #fff;
                border: 1px solid #c4c4c4;
                margin: 0;
                padding: 10px 15px;
                border-radius: 4px;
                width: 65%;
                background: #22924c;
                color: #fff;
                height: 40px;
                i {
                    padding-right: 5px;
                }
            }
        }
    }
}
.block-title {
    // margin-bottom: -15px;
    .title-left {
        overflow: hidden;
        font-weight: 700;
        font-size: 19px;
        border-left: 5px solid $color-main;
        padding: 0 10px;
        line-height: 29px;
        margin-bottom: 15px;
        padding-right: 0;
        position: relative;
        margin-bottom: 0px;

        .line {
            background-color: #d7d7d7;
            bottom: 0;
            height: 1px;
            margin-bottom: auto;
            margin-left: 10px;
            margin-top: auto;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}

.title-total {
    padding: 10px;
    background: #9ed6b3a1;
    border: 1px solid #22924c87;
    span {
        color: #ff0000;
        font-weight: 900;
    }
}

// slider

.list-company {
    // margin-bottom: 50px;
    margin-top: 30px;
    .company-item {
        cursor: pointer;
        border-radius: 3px;
        border-bottom: 3px solid #22924c;
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.35);
        background-color: #fff;
        @media (max-width: 575px) {
            margin-bottom: 10px;
        }
        &:hover {
            box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.6);
        }
        .card-img-top{    
            height: 200px;
            object-fit: cover;
        }
        .card-body {
            padding: 10px 10px 20px 10px;
            .card-title {
                font-size: 15px;
                margin-bottom: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
            p {
                color: #777;
                font-size: 15px;
                margin-bottom: 0px;
            }
            .card-text {
                color: #777;
                font-size: 15px;
                margin-bottom: 0px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
        }
    }
}
.carousel-indicators {
    bottom: -40px;
    li {
        background-color: #e3dcdc;
    }
    .active {
        background-color: #000;
    }
}
.mt-50 {
    margin-top: 50px;
}
.mb-60 {
    margin-bottom: 60px;
}
