<div class="block-find-advance">
    <div class="container">
        <div class="block-title">
            <h3 class="title-left">
                <span class="text">
                    Tìm kiếm công ty
                </span>
                <span class="line"></span>
            </h3>
        </div>
        <div class="row find-advance pt-3">
            <div class="col-md-6 relative title-search">
                <div class="form-group select-custom">
                    <i class="far fa-building"></i>
                    <input (keyup)="onFilterClick()" (keyup)="changePage(1)"  [(ngModel)]="companyName" style="padding-left: 30px;" class="form-control"
                        id="exampleFormControlInput1" placeholder="Nhập tiêu đề hồ sơ, vị trí, địa điểm làm việc...">
                </div>
            </div>

            <div class="col-md-3 col-6">
                <div class="form-group select-custom">
                    <i class="fas fa-list-ul"></i>
                    <select (change)="onFilterClick()" (change)="changePage(1)" [(ngModel)]="careerId" class="form-control" id="exampleFormControlSelect1">
                        <option *ngFor="let careerItem of careeres" [value]="careerItem.id">{{careerItem.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="form-group select-custom">
                    <i class="fas fa-map-marker-alt"></i>
                    <select (change)="onFilterClick()" (change)="changePage(1)" [(ngModel)]="cityId" class="form-control" id="exampleFormControlSelect1">
                        <option *ngFor="let cityItem of cities" [value]="cityItem.id">{{cityItem.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start result finding companies -->
<div class="list-company">
    <div class="container">
        <div class="title-total">
            <p class="mb-0">
                <span>{{countCompanies}}</span> công ty phù hợp
            </p>
        </div>

        <!-- start list companies-->
        <div class="row list-company">
            <div (click)="onCompanyClick(companyItem.id)" class="col-md-3" style="margin-bottom: 15px;" *ngFor="let companyItem of companies">
                <div class="company-item d-flex">
                    <div class="card">
                        <img class="card-img-top" [src]="companyItem.logo" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{companyItem.companyname}}</h5>
                            <p class="card-text">{{companyItem.careername}}</p>
                            <p class="card-text">{{companyItem.cityname}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div *ngIf="countCompanies!=0">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" (click)="onChangeBeforePageClick(this.page)"> <i class="fa fa-angle-double-left"></i> </a></li>

                    <li *ngIf="this.page > 1" class="page-itemn change-page"><a class="page-link" (click)="changePage(this.page-1)">Trước</a></li>

                    <li class="page-item" *ngFor="let item of limitPages; let i = index" [ngClass]="{'active': this.page==(item)}" ><a class="page-link" (click)="changePage(item)">{{item}}</a></li>

                    <li *ngIf="numberPages > this.page" class="page-item change-page"><a class="page-link" (click)="changePage(this.page+1)">Sau</a></li>

                    <li class="page-item" ><a class="page-link"  (click)="onChangeAfterPageClick(this.page)"> <i class="fa fa-angle-double-right"></i> </a></li>
                </ul>
            </div>
        </div>
        <!-- end slide recruitment -->

    </div>
</div>
<!-- end result finding companies -->

<div class="list-company mt-50">
    <div class="container">
        <div class="block-title">
            <h3 class="title-left">
                <span class="text">
                    Công ty được truy cập nhiều nhất
                </span>
                <span class="line"></span>
            </h3>
        </div>
        <!-- start slide  recruitment-->
        <div class="row">
            <div class="col-md-12">
                <div id="flow-slide" class="carousel slide carousel-fade" data-ride="carousel">
                     <!-- start carousel-inner-->
                     <div class="carousel-inner">
                        <div class="carousel-item" [ngClass]="{'active': slideItem.active}"
                            *ngFor="let slideItem of mostVistedCompanies">
                            <div class="row list-company">
                                <div class="col-md-3" *ngFor="let rowSlide of slideItem.rowSlide">
                                    <div (click)="onCompanyClick(colSlide.id)" class="company-item d-flex"
                                        *ngFor="let colSlide of rowSlide">
                                        <div class="card">
                                            <img class="card-img-top" [src]="colSlide?.logo" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title">{{colSlide?.companyname}}</h5>
                                                <p class="card-text">{{colSlide?.careername}}</p>
                                                <p>{{colSlide?.cityname}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end carousel-inner -->

                    <!-- start control next prev -->
                    <a href="#flow-slide" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon">
                        </span>
                    </a>
                    <a href="#flow-slide" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon">
                        </span>
                    </a>
                    <!-- end control next prev -->

                    <!-- start indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#flow-slide" class="active" data-slide-to="0"></li>
                        <li data-target="#flow-slide" data-slide-to="1"></li>
                    </ol>
                    <!-- end indicators -->
                </div>
            </div>
        </div>
        <!-- end slide recruitment -->
    </div>
</div>

<div class="list-company mt-50 mb-60">
    <div class="container">
        <div class="block-title">
            <h3 class="title-left">
                <span class="text">
                    Công ty mới nhất
                </span>
                <span class="line"></span>
            </h3>
        </div>
        <!-- start slide  recruitment-->
        <div class="row">
            <div class="col-md-12">
                <div id="new-slide" class="carousel slide carousel-fade" data-ride="carousel">
                    <!-- start carousel-inner-->
                    <div class="carousel-inner">
                        <div class="carousel-item" [ngClass]="{'active': slideItem.active}"
                            *ngFor="let slideItem of newestCompanies">
                            <div class="row list-company">
                                <div class="col-md-3" *ngFor="let rowSlide of slideItem.rowSlide">
                                    <div (click)="onCompanyClick(colSlide.id)" class="company-item d-flex"
                                        *ngFor="let colSlide of rowSlide">
                                        <div class="card">
                                            <img class="card-img-top" [src]="colSlide?.logo" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title">{{colSlide?.companyname}}</h5>
                                                <p class="card-text">{{colSlide?.careername}}</p>
                                                <p class="card-text">{{colSlide?.cityname}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end carousel-inner -->

                    <!-- start control next prev -->
                    <a href="#new-slide" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon">
                        </span>
                    </a>
                    <a href="#new-slide" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon">
                        </span>
                    </a>
                    <!-- end control next prev -->

                    <!-- start indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#new-slide" class="active" data-slide-to="0"></li>
                        <li data-target="#new-slide" data-slide-to="1"></li>
                    </ol>
                    <!-- end indicators -->
                </div>
            </div>
        </div>
        <!-- end slide recruitment -->
        
    </div>
</div>


