.title-main {
    p {
        margin-bottom: 0px;
        font-size: 15px;
    }
}
.title-block {
    background: #2bbbad;
    color: #fff;
    font-size: 18px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.system-custom {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all 0.2s;
    margin-bottom: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.button-update,
.button-destroy {
    padding: 6px 33px;
    border-color: #2bbbad;
    background: #2bbbad;
}
.h2-header {
    margin-bottom: 15px;
    h2 {
        margin: 0;
    }
    span {
        color: #8e9aac;
    }
}
.table-main {
    td,
    th {
        width: 15%;
    }
    td {
        padding-top: 5px;
        font-size: 16px;
    }
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.table-children {
    tr {
        
        th {
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            background: #2bbbad;
            text-transform: uppercase;
        }
    }
    tr:hover {
        background: #e0f2f1;
    }
}
.icon-setting {
    color: #6c5ce7;
}
.button-system-custom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.title-header-crud {
    box-shadow: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.button-action.add {
    color: #33b5e5;
    font-size: 16px;
}
.card-add {
    padding: 0;
}
.icon-update {
    font-size: 17px;
    width: 60px;
    color: #33b5e5;
}
.icon-trash{
    font-size: 17px;
    width: 60px;
    color: #e74c3c;
}
.mat-search{
    width: 78%;
    @media(max-width: 480px) {
        width: 65%;
    }
}
.total-profile{
    width: 20%;
    float: right;
    h4{
        text-align:right;
        margin: 20px 0 0 0;
        font-weight: 500;
        span{
            color:#c0392b;
        }
    }
    @media(max-width: 480px) {
        width: 35%;
        h4{
            font-size:13px
        }
    }
}
.text-red {
    color: #ff0000;
    font-size: 17px;
}
.col-add{
    margin-bottom: 5px;
}

.button-action { 
    float: left;
    text-align: center;
    @media (max-width: 576px) {
      width: 103px;
    }
    span {
      font-size: 16px;
    }
    i {
      padding-right: 10px;
      font-size: 18px;
    }
  }
  .button-action.add {
    color: #33b5e5;
  }
  .button-action.acept {
    color: #00C851;
  }
  .button-action.sort {
    color: #ffbb33;
  }
  .button-action.del {
    color: #ff4444;
    margin: 10px 0px;
  }
  .clear {
    clear: both;
  }