<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Cập nhật quảng cáo banner</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom contain-dialog">
    <div class="row">
        <form [formGroup]="form" class="col-md-12">
            <div class="row">
                <!-- tên công ty -->
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Tên công ty <span class="text-red">*</span></mat-label>
                        <input formControlName="companyName" matInput placeholder="Tên công ty của bạn..." [(ngModel)]="input.companyname" />
                    </mat-form-field>
                </div>

                <!-- số điện thoại -->
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Số điện thoại</mat-label>
                        <input formControlName="companyPhone" matInput placeholder="Số điện thoại công ty..." [(ngModel)]="input.phone" />
                    </mat-form-field>
                </div>

                <!-- tên địa chỉ -->
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Địa chỉ <span class="text-red">*</span></mat-label>
                        <input formControlName="companyAddress" matInput placeholder="Địa chỉ công ty..." [(ngModel)]="input.address" />
                    </mat-form-field>
                </div>

                <!-- Thời gian còn lại -->
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Thời gian kết thúc</mat-label>
                        <input type="date" onkeypress="return false" [min]="minDate" formControlName="endAds" matInput  placeholder="Thời gian kết thúc..."
                            [(ngModel)]="input.endadsbanner" />
                    </mat-form-field>
                    <div *ngIf="form.controls['endAds'].invalid && (form.controls['endAds'].dirty || form.controls['endAds'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="form.controls['endAds'].errors.required">
                            Vui lòng chọn ngày kết thúc quảng cáo
                        </div>
                    </div>
                </div>

                <!-- Duyệt quảng cáo -->
                <div class="col-md-6">
                    <mat-checkbox  [(ngModel)]="checked"  [ngModelOptions]="{standalone: true}">Duyệt!</mat-checkbox>
                </div>

                <!-- Hình đại diện -->
                <div class="col-md-12 title-main">      
                    <div class="container">
                        <h3>Hình banner quảng cáo</h3>
                        <img *ngIf="isUpload==true" [src]="imgPreviewURL" width="200px"/> 
                        <img *ngIf="isUpload==false" [src]="input.banner" width="200px"/>
                        <!-- Hình đại diện -->
                        <mat-card style="box-shadow:none; padding-left: 0;">
                            <mat-card-actions style="margin: 0; padding: 0;">
                                <button  style="border:1px solid red; border-radius:3px;" mat-button color="warn" (click)="onOpenUploadFileClick()">  
                                <mat-icon>file_upload</mat-icon>  
                                Cập nhật banner công ty
                                </button>
                                <input #file type="file"  formControlName="bannerCompany"  #fileUpload id="fileUpload" name="fileUpload"  style="display:none;" multiple="multiple" accept="image/*" (change)="previewImage(file.files)"/>
                            </mat-card-actions>
                        </mat-card>      
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button (click)="onOkClick()" class="mb-2 mr-2 btn-transition btn btn-danger button-update">Cập nhật
                </button>
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-destroy" [mat-dialog-close] click="onNoClick()">Đóng
                </button>  
            </div>
        </div>
    </div>

</mat-card>
<!--  end select-top -->