main {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: 50% 0%;
}
.col-box {
    margin-top: 6rem;
}
.card-from{
    padding: 0px 1.25rem;

}
.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #22924c;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -11px;
}

.input-group-prepend span {
    width: 45px;
    background-color: #22924c;
    color: #fff;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: #fff;
    background-color: #22924c;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

////////////////////////
.box-info {
    h1 {
        color: #fff;
    }
    p {
        color: #fff;
    }
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    font-weight: 300;
    font-size: 1.5rem;
}
.card-img {
    margin-bottom: 2rem;
    width: auto;
    height: 40px;
}
.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 10px;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: 0.5rem 1rem;
    font-size: 14px;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(0.5rem + 0.5rem * (2 / 3));
    padding-bottom: calc(0.5rem / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(0.5rem / 3);
    padding-bottom: calc(0.5rem / 3);
    font-size: 10px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}
.button-submit {
    background-color: #22924c;
    color: white;
}
.a-register {
    float: right;
}
fieldset {
    border: 1px solid #eeeeee69;
    padding: 0px 10px;
    margin-bottom: 15px;
    border-radius: 3px; 
}
legend{
    display: inline;
    width: auto;
    padding: 0 5px;
    font-size: 15px;
    line-height: inherit;
    border: 0;
    border-bottom: none;
    font-weight: 400;
    margin-bottom: 5px;
    color: #fff;
}

@media (max-width:480px){
    .box-info{ 
        h1{
            font-size:180%;
        }
    }
}
