<main style="background-image: url('../../../../assets/img/body-bg.jpg'); margin-bottom:25px">

    <div class="container">
        <div class="row">
            <div class="col-sm-7 mt-4 mb-4">

                <div class="box-info ml-4">
                    <h1 class="mb-4">Đăng nhập ứng viên</h1>
                    <p><i class="far fa-check-circle"></i>&nbsp;Tiếp cận hàng
                        triệu công việc hoàn toàn miễn phí</p>
                    <p><i class="far fa-check-circle"></i>&nbsp;Ứng tuyển nhanh
                        chóng, dễ dàng</p>
                    <p><i class="far fa-check-circle"></i>&nbsp;Nhận bản tin công
                        việc phù hợp định kỳ</p>
                    <p><i class="far fa-check-circle"></i>&nbsp;Nâng cao cơ hội
                        tìm việc với chương trình ứng viên năng động</p>
                </div>

            </div>
            <div class="col-sm-5 mt-4 mb-4">
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Đăng nhập</h3>
                            <div class="d-flex justify-content-end social_icon">
                                <span><i class="fab fa-facebook-square"></i></span>
                                <span><i class="fab fa-google-plus-square"></i></span> 
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <fieldset>
                                    <legend>Tài khoản</legend>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Mật khẩu">
                                    </div> 

                                </fieldset> 
                                <div class="row align-items-center remember">
                                    <input type="checkbox">Lưu mật khẩu
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Đăng nhập" class="btn float-right login_btn">
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex float-left links">
                                <a routerLink="/f5-register-candidate">Đăng ký</a>
                            </div>
                            <div class="d-flex float-right">
                                <a href="#">Quên mật khẩu?</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>

        </div>
    </div>
</main>