
  @media only screen and (max-width: 768px) {
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li a .info-pro{
        font-size: 12px;
    }
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-progress-with-circle .background-progress-bar{
        width: 100%;
    }
    
    }
    
    @media only screen and (max-width: 425px) {
      .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-progress-with-circle {
        display: none;
    
      }
     .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li{
        margin-left: 7%;
     }
     .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills button{
        margin-top:10px;
     }
    
    }
    .row-standard {
        margin-right: 0px;
        margin-left: -7px;
        justify-content: space-around;
        padding: 0 5px 15px 5px;
    }
    
    .row-standard .col-md-2 {
        position: relative;
        min-height: 1px;
        float: left;
    }
    
    .row-standard .col-md-2 a {
        text-decoration: none;
        color: #1790d4;
    }
    
    .row-standard .col-md-2 a .box-item {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        padding: 10px;
        position: relative;
        background: #fff;
        transition-duration: .3s;
        transition-timing-function: ease;
        border-bottom: 3px solid #eee;
        cursor: pointer;
    }
    
    .row-standard .col-md-2 a .box-item span {
        font-size: 30px;
        font-weight: 700;
    }
    
    .row-standard .col-md-2 a .box-item h4 {
        border-top: 3px solid #1790d4;
        margin-bottom: 0;
        padding-top: 16px;
        padding-bottom: 5px;
        font-size: 15px;
    }
    
    
    /*mau khác*/
    
    .row-standard .col-md-2 .a {
        text-decoration: none;
        color: black;
    }
    
    .row-standard .col-md-2 .a .box-item {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        padding: 10px;
        position: relative;
        background: #fff;
        transition-duration: .3s;
        transition-timing-function: ease;
        border-bottom: 3px solid #eee;
        cursor: pointer;
    }
    
    .row-standard .col-md-2 .a .box-item span {
        font-size: 30px;
        font-weight: 700;
    }
    
    .row-standard .col-md-2 .a .box-item h4 {
        border-top: 3px solid #f7ba2a;
        margin-bottom: 0;
        padding-top: 16px;
        padding-bottom: 5px;
        font-size: 15px;
    }
    
    
    /**/
    
    .panel {
        margin: 24px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
    
    .panel-heading {
        border-bottom: 1px solid #eee!important;
        padding: 10px 15px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    
    .panel .panel-body .el-col-24 .text-center .icon-text i {
        font-size: 60px;
        margin-top: 15px;
    }
    
    .panel .panel-heading h5 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
    }
    
    .complete-pro {
        margin-top: 20px;
    }
    
    .complete-pro {
        background-color: chocolate;
    }
    
    
    /**/
    
    .employer-right {
        height: calc(100vh - 50px);
    }
    
    .employer-right .candidate-profile {
        box-sizing: border-box;
    }
    
    .employer-right .candidate-profile .el-col-24 {
        width: 100%;
        float: left;
    }
    
    .employer-right .candidate-profile .el-col-24 .el-breadcrumb {
        padding: 20px 0;
        line-height: 1px;
        font-size: 13px;
    }
    
    .employer-right .candidate-profile .el-col-24 .el-breadcrumb span {
        font-size: 14px;
    }
    
    .employer-right .candidate-profile .el-col-24 .el-breadcrumb span .el-breadcrumb__item__inner {
        color: #48576a;
        margin-left: 15px;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box {
        width: 100% !important;
        float: left;
        padding: 10px 16px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-progress-with-circle {
        position: relative;
        top: 34px;
        height: 3px;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-progress-with-circle .background-progress-bar {
        background-color: #3e96d6;
        color: #3e96d6;
        float: left;
        width: 75%;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-align: center;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills {
        margin-top: 0;
        position: relative;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li {
        text-align: center;
        list-style: none;
        margin-right: 43px;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li a {
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
        color: #3e96d6;
        position: relative;
        top: 3px;
        text-decoration: none;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li a .wizard-icon-circle {
        width: 60px;
        height: 60px;
        font-size: 20px;
        border: 3px solid #f3f2ee;
        border-radius: 50%;
        font-weight: 600;
        background-color: #fff;
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        border-color: #3e96d6;
    }
    
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li a .wizard-icon-circle .wizard-icon-container {
        display: flex;
        justify-content: center;
        flex: 1;
        border-radius: 40%;
        background-color: #3e96d6;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li a .wizard-icon-circle .wizard-icon-container i {
        color: white;
        margin-top: 30%;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li a .wizard-icon-circle .wizard-icon-container-1 {
        display: flex;
        justify-content: center;
        flex: 1;
        border-radius: 40%;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li a .wizard-icon-circle .wizard-icon-container-1 i {
        color: #3e96d6;
        margin-top: 30%;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li a .info {
        margin-left: -17px;
        margin-top: 10px;
        font-weight: 500;
        font-size: 13px;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li a .info-pro {
        margin-left: -17px;
        margin-top: 10px;
        font-weight: 500;
        color: gray;
        font-size: 13px;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills button {
       
        height: 50px;
        width: 160px;
        font-size: 18px;
        background-color: #009ce0;
        border: 0px;
    margin-top: 5px;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-tab-container .block .heading-title {
        font-weight: 500;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: 17px;
        margin-top: 0;
        color: #3e4c5f;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .form {
        /* start 1 html*/
        /*end html 1*/
        /*start html2*/
        /*end html3*/
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .form .info-address .row {
        border: 1px solid #e3e3e3;
        margin: 0;
        border-radius: 4px;
        padding: 19px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        background-color: #f9f9f9;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .form .radio-check {
        margin-left: 20px;
        margin-top: 20px;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .form .radio-check label {
        margin-right: 8px;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .form .radio-mar {
        float: right;
        margin-left: 37%;
        margin-top: 20px;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .form .radio-mar label {
        margin-right: 8px;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .form .row .col-md-2 {
        background-image: url(https://cdn1.mywork.com.vn/default-image/avatar/male_avatar.jpg);
        border: none;
        width: 153px;
        height: 140px;
        position: relative;
    }
    
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box button {
        float: right;
        margin-right: 20px;
    }
    
    
    /*# sourceMappingURL=CompleteProfile.css.map */
      @media only screen and (max-width: 1024px){
       .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills button {
        height: 60px;
        width: 130px;
        font-size: 18px;
        background-color: #009ce0;
    }
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li{
        margin-right: 40px;
     }}
    
      @media only screen and (max-width: 768px) {
       .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li{
            margin-right: 30px;
        }
        .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li a .info{
            font-size: 10px;
    
        }
        .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li a .info-pro{
            font-size: 10px
        }
        .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills button {
        margin-left: 10px;
        height: 64px;
        width: 89px;
        font-size: 18px;
        background-color: #009ce0;
    }
    .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .form .radio-mar{
            margin-left: 5%;
        }
        .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills li {
       
        margin-right: 30px;
    }
    
     }
     @media only screen and (max-width: 420px){
        .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .wizard-nav-pills button{
            margin-left: 0;
            width: 100px;
            height: 70px;
        }
        .employer-right .candidate-profile .el-col-24 .sbox .vue-form-wizard .wizard-navigation .box .form .radio-mar{
            margin-left: 7%;
        }
     }
    
    