// menu
$color-main: #22924c;

header {
    background: $color-main;
    .logo {
        img {
            height: 43px;
            object-fit: contain;
        }
    }
    .nav-custom {
        min-height: 54px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
        padding: 15px 10px;
    }

    .navbar-light .navbar-nav .active > .nav-link {
        color: #fff;
        padding: 15px 10px;
    }
    .navbar-light .navbar-nav .active {
        background: #007e33;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        color: #fff;
        background: #007e33;
    }
    .navbar-light .navbar-toggler-icon {
        // background-image: url('https://image.flaticon.com/icons/svg/1828/1828863.svg');
    }
}
//end menu

//footer
.block-contact {
    background-image: url("https://vieclambank.com/templates/lulo_temp/img/common/footer/bg_contactbox_overlay.jpg");
    .title {
        text-align: center;

        color: #fff;
        h2 {
            font-size: 39px;
            line-height: 46px;
            text-align: center;
            font-weight: 500;
        }
    }
    ul {
        background: #fff;
        padding: 10px 5px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        li {
            width: 49%;
            cursor: pointer;
            span {
                font-size: 18px;
                display: block;
                background: $color-main;
                color: #fff;
                text-align: center;
                font-weight: 500;
                line-height: 26px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                padding: 3px 0px;
            }
            i {
                font-size: 25px;
                padding-right: 10px;
                color: $color-main;
            }
            a.address {
                font-size: 24px;
                font-weight: 500;
                display: inline-block;
                opacity: 1;
                color: $color-main;
            }
        }
    }
    .btn_mailct {
        display: block;
        height: 87px;
        line-height: 87px;
        font-weight: 500;
        background: #fff;
        text-align: center;
        padding-right: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        i {
            font-size: 25px;
            color: #f5121b;
        }
        span {
            font-size: 20px;
            color: #f5121b;
            padding-left: 20px;
            background-size: 37px 25px;
            font-weight: 500;
        }
    }
}

.footer {
    background: $color-main;
    color: #fff;
    p.title {
        font-size: 20px;
        font-weight: 500;
        padding-top: 20px;
        text-align: center;
        margin-bottom: 30px;
    }
    .top-logo {
        img {
            width: 220px;
        }
    }
    .block-info {
        border-right: 1px solid #efefef69;
    }
    .info-item {
        margin: 10px 0px;
        h3 {
            font-size: 18px;
            font-weight: 500;
            padding-left: 13px;
            position: relative;
            text-transform: capitalize;
            line-height: 28px;
            margin-bottom: 4px;
            &:before {
                display: block;
                content: "";
                width: 3px;
                height: 20px;
                background: #fff;
                -webkit-border-radius: 25%;
                -moz-border-radius: 25%;
                border-radius: 25%;
                position: absolute;
                left: 0;
                top: calc(50% - 10px);
            }
        }
        p {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .block-cate {
        border-right: 1px solid #efefef69;
        li {
            a {
                color: #fcfbfb;
                font-size: 16px;
                padding: 5px 0;
                display: block;
                text-decoration: none;
                i {
                    padding-right: 10px;
                }
            }
        }
    }
}
.copyright {
    background: #007e33;
    color: #fff;
    padding: 7px;
    text-align: center;
    p {
        margin-bottom: 0px;
    }
}
// responsive
@media (max-width: 575px) {
    .block-contact .title h2 {
        font-size: 30px;
        margin-bottom: 0px;
    }
    .block-contact ul li {
        width: 48%;
    }
    .block-contact ul li i {
        font-size: 13px;
        padding-right: 0px;
    }
    .block-contact ul li a.address {
        font-size: 14px;
    }
    .block-contact .btn_mailct {
        height: 60px;
        line-height: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
//end footer
main {
    font-size: 16px;
    line-height: 1.8;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-weight: 400;
    margin: 0px;
}
.box-text {
    display: -webkit-inline-flex;
    h3 {
        color: #fff;
        font-size: 26px;
    }
}
.col-box {
    margin-top: 6rem;
}
.card-from{
    padding: 0px 1.25rem;

}
.card {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #22924c;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
    font-size: 135%;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -11px;
}

.input-group-prepend span {
    width: 45px;
    background-color: #22924c;
    color: #fff;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: #fff;
    background-color: #22924c;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

////////////////////////
.box-info {
    h1 {
        color: #fff;
    }
    p {
        color: #fff;
    }
}

.round.stat {
    width: 103px;
    height: 103px;
    margin: auto;
    display: inline-block;
    border-radius: 50%;
    margin: 0 12px;
    color: #fff;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.27843);
    vertical-align: top;
}
.round.stat p {
    font-size: 16px;
}
.round.stat h4 {
    margin-top:15px;
}
.number {
    color: #f39c12;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.well {
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    -webkit-box-shadow: none;
    box-shadow: none; 
    text-align: center;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
}
.img-register{
    width: 50px;
}
fieldset {
    border: 1px solid #eeeeee69;
    padding: 0px 10px;
    margin-bottom: 15px;
    border-radius: 3px; 
}
legend{
    display: inline;
    width: auto;
    padding: 0 5px;
    font-size: 15px;
    line-height: inherit;
    border: 0;
    border-bottom: none;
    font-weight: 400;
    margin-bottom: 5px;
    color: #fff;
}
@media (max-width: 480px) {
    .remember {
        font-size: 90%;
    }
}

@media screen and (max-width: 500px){
    .col-f2login{
        text-align: center;
    }
    .round.stat {
        margin-bottom: 16px;
    }
    .well{
        margin-right: 0px
    }
    .box-text{ 
        display:none;
    }
    .card-header{
        h3{
            font-size: 125%;
        }
    }
}
