<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Danh sách ngành nghề</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="formSearch">
                <mat-form-field>
                    <mat-label>Tên ngành nghề</mat-label>
                    <input formControlName="careerName" matInput (keyup)="occupationFilter($event)" placeholder="vd: IT">
                </mat-form-field>  
                <div *ngIf="formSearch.controls['careerName'].invalid && (formSearch.controls['careerName'].dirty || formSearch.controls['careerName'].touched)"
                    class="alert alert-danger">
                        <div *ngIf="formSearch.controls['careerName'].errors.maxlength">
                            Bạn không được nhập quá 150 ký tự
                        </div>
                </div> 
            </form>           
        </div>
    </div>
</mat-card>
<!--  end select-top -->

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12">
            <a (click)="onInsertClick()" routerLink="/manager/admin/c3-manager-occupation" class="button-action add">
                <i class="fa fa-fw" aria-hidden="true" title="Thêm mới"></i>
                <span>Thêm mới</span>
            </a>
            <a (click)="onDeleteClick()" routerLink="/manager/admin/c3-manager-occupation" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->

<!-- table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 grid-data-custom">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- STT Column -->
    <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let element ">{{element.stt}}</td>
    </ng-container>

    <!-- name -->
    <ng-container matColumnDef="occupation">
        <th mat-header-cell *matHeaderCellDef>Tên ngành nghề</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- sửa -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>
            Sửa
        </th>
        <!-- <td mat-cell *matCellDef="let element"> -->
        <td mat-cell *matCellDef="let row">
           <i style="cursor: pointer;" (click)="onUpdateClick(row)" class="fa fa-fw icon-update" aria-hidden="true" title="Sửa"></i>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
</table>
<!-- end table -->

<!-- button crud -->
<mat-card class="button-system-custom button-system-custom-footer">
    <div class="row">
        <div class="col-md-12">
            <a (click)="onInsertClick()" routerLink="/manager/admin/c3-manager-occupation" class="button-action add">
                <i class="fa fa-fw" aria-hidden="true" title="Thêm mới"></i>
                <span>Thêm mới</span>
            </a>
            <a (click)="onDeleteClick()" routerLink="/manager/admin/c3-manager-occupation" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->
<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>

<!-- thêm mới -->
<mat-card *ngIf="insertFlag" class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Thêm mới, cập nhật thông tin</p>
        </div>
    </div>
</mat-card>

<!-- card-add-new -->
<mat-card *ngIf="insertFlag" class="system-custom">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="form" class="col-md-12">
                <!-- name occupation -->
                <mat-form-field class="example-full-width">
                    <mat-label>Tên ngành nghề <span class="text-red">*</span></mat-label>
                    <input  formControlName="careerName" [errorStateMatcher]="matcher" [(ngModel)]="career.name" matInput placeholder="Nhập tiêu đề..." />
                </mat-form-field>
                     
                <div *ngIf="form.controls['careerName'].invalid && (form.controls['careerName'].dirty || form.controls['careerName'].touched)"
                class="alert alert-danger">
                    <div *ngIf="form.controls['careerName'].errors.required">
                        Bắt buộc nhập tên công việc
                    </div>
                    <div *ngIf="form.controls['careerName'].errors.maxlength">
                        Bạn không được nhập quá {{maxLengthName}} ký tự
                    </div>
                    <div *ngIf="form.controls['careerName'].errors.minlength">
                        Bạn vui lòng nhập ít nhất {{minLengthName}} ký tự
                    </div>
                    <div *ngIf="form.controls['careerName'].errors.pattern">
                        Bạn vui lòng không nhập ký tự đặc biệt/ký tự có dấu/ký tự trắng đầu tiên
                    </div>
                </div>
            </form>

            <!-- button update - cancel -->
            <div class="example-button-row text-center">
                <button (click)="onSubmitClick()" class="mb-2 mr-2 btn-transition btn btn-primary button-update">Cập
                    nhật
                </button>
                <button (click)="onCancelClick()" class="mb-2 mr-2 btn-transition btn btn-primary button-destroy">Hủy bỏ
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end card-add-new -->