<!-- Menu -->
<header>
  <div class="container">
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-light nav-custom">
          <a class="navbar-brand logo" href="#"><img src="../../../assets/images/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/a1-home">Trang Chủ <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="b1-list-work/0/0/none/none/none/none/%20">Tuyển Dụng</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="c1-list-candidate/0/0/none/none/none/none/%20">Ứng Viên</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="d1-list-company/0/0/%20">Công Ty</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Tài Khoản
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="f1-company">Nhà Tuyển Dụng</a>
                          <a class="dropdown-item" href="f4-login-candidate">Ứng Viên</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="e1-coaching">Coaching</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="g1-contact">Liên Hệ</a>
                  </li>
              </ul>
          </div>
      </nav>

  </div>
</header>
<!-- End Menu -->
<div class="main" style="background-image: url('../../../../assets/images/body-bg.jpg'); margin-bottom:25px">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mt-4 mb-4 ">

        <div class="box-info ml-4">
          <h1 class="mb-4">Đăng ký ứng viên</h1>
          <p><i class="far fa-check-circle"></i>&nbsp;Tiếp cận hàng
            triệu công việc hoàn toàn miễn phí</p>
          <p><i class="far fa-check-circle"></i>&nbsp;Ứng tuyển nhanh
            chóng, dễ dàng</p>
          <p><i class="far fa-check-circle"></i>&nbsp;Nhận bản tin công
            việc phù hợp định kỳ</p>
          <p><i class="far fa-check-circle"></i>&nbsp;Nâng cao cơ hội
            tìm việc với chương trình ứng viên năng động</p>
        </div>

      </div>
      <div class="col-sm-6 mt-4 mb-4">
        <div class="d-flex justify-content-center h-100">
          <div class="card">
            <div class="card-header">
              <h3>Đăng ký</h3>
              <div class="d-flex justify-content-end social_icon">
                <span><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-google-plus-square"></i></span>
              </div>
            </div>
            <div class="card-body">
              <form [formGroup]="form">
                <fieldset>
                  <legend>Thông tin tài khoản</legend>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input formControlName="fullname" [(ngModel)]="input.fullname" type="text" class="form-control" matInput placeholder="Họ tên">
                  </div>
                  <div *ngIf="form.controls['fullname'].invalid && (form.controls['fullname'].dirty || form.controls['fullname'].touched)" class="alert alert-danger form-custom">
                    <div *ngIf="form.controls['fullname'].errors.required">
                        Bạn phải nhập chức danh
                    </div>
                    <div *ngIf="form.controls['fullname'].errors.maxlength">
                        Tên công ty không quá 100 ký tự
                    </div>
                    <div *ngIf="form.controls['fullname'].errors.minlength">
                        Bạn phải nhập lớn hơn hoặc bằng 5 ký tự
                    </div>
                    <div *ngIf="form.controls['fullname'].errors.pattern">
                        Bạn không được có dấu cách trước và sau
                    </div>
                </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input formControlName="email" [(ngModel)]="input.email" type="text" class="form-control" matInput placeholder="Email">
                  </div>
                  <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="alert alert-danger form-custom">
                    <div *ngIf="form.controls['email'].errors.required">
                        Bạn phải nhập email
                    </div>
                    <div *ngIf="form.controls['email'].errors.maxlength">
                        nhập không được quá 50 ký tự
                    </div>
                    <div *ngIf="form.controls['email'].errors.pattern">
                        Email nhập không đúng
                    </div>
                </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
                    </div>
                    <input formControlName="phone" [(ngModel)]="input.phone" type="text" class="form-control" matInput placeholder="Số điện thoại">
                  </div>
                  <div *ngIf="form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)" class="alert alert-danger form-custom">
                    <div *ngIf="form.controls['phone'].errors.required">
                        Bạn phải nhập số điện thoại
                    </div>
                    <div *ngIf="form.controls['phone'].errors.maxlength">
                        nhập không được quá 11 ký tự
                    </div>
                    <div *ngIf="form.controls['phone'].errors.pattern">
                        Bạn chỉ được nhập số
                    </div>
                    <div *ngIf="form.controls['phone'].errors.minlength">
                        Bạn phải nhập lớn hơn hoặc bằng 10 ký tự
                    </div>
                </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input formControlName="password" [(ngModel)]="input.password" id="password" type="password" matInput class="form-control"
                      placeholder="Mật khẩu">
                  </div>
                  <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)" class="alert alert-danger form-custom">
                    <div *ngIf="form.controls['password'].errors.required">
                        Bạn phải nhập mật khẩu
                    </div>
                    <div *ngIf="form.controls['password'].errors.maxlength">
                        nhập không được quá 50 ký tự
                    </div>
                    <div *ngIf="form.controls['password'].errors.pattern">
                        Bạn chỉ được nhập số
                    </div>
                    <div *ngIf="form.controls['password'].errors.minlength">
                        Bạn phải nhập lớn hơn hoặc bằng 8 ký tự
                    </div>
                </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                    <input formControlName="repassword" [(ngModel)]="repassword" id="repassword" type="password" matInput class="form-control"
                      placeholder="Nhập lại mật khẩu">
                  </div>
                  <div *ngIf="form.controls['repassword'].invalid && (form.controls['repassword'].dirty || form.controls['repassword'].touched)" class="alert alert-danger form-custom">
                    <div *ngIf="form.controls['repassword'].errors.required">
                        Bạn phải nhập mật khẩu
                    </div>
                    <div *ngIf="form.controls['repassword'].errors.maxlength">
                        nhập không được quá 50 ký tự
                    </div>
                    <div *ngIf="form.controls['repassword'].errors.pattern">
                        Bạn chỉ được nhập số
                    </div>
                    <div *ngIf="form.controls['repassword'].errors.minlength">
                        Bạn phải nhập lớn hơn hoặc bằng 8 ký tự
                    </div>
                </div>
                </fieldset>
              </form>
                <div class="row align-items-center remember mb-2">
                  <input type="checkbox">Đồng ý với thỏa thuận sử dụng của MyWork
                </div>
                <div class="form-group text-center">
                  <button (click)="onSubmitClick()" class="btn login_btn">Đăng ký
                  </button>
                </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-center links">
                Bạn đã có tài khoản?<a routerLink="/logincandidate">Đăng nhập</a>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<!-- Footer -->
<footer>
  <div class="block-contact py-4">
      <div class="container">
          <div class="title">
              <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
              <p class="sub-title">Hãy liên hệ với chúng tôi nếu bạn có bất cứ thắc mắc nào.</p>
          </div>
          <div class="row">
              <div class="col-md-7">
                  <ul class="list-unstyled list-inline">
                      <li class="list-inline-item">
                          <span>Trụ sở Đà Nẵng</span>
                          <div class="pl-md-2 pt-md-2 pt-1">
                              <i class="fas fa-map-marker-alt"></i>
                              <a class="address" style="opacity: 1;">
                                  <p class="mb-1">183 Quách Thị Trang</p>
                              </a>
                          </div>
                      </li>
                      <li class="list-inline-item">
                          <span>Số điện thoại</span>
                          <div class="pl-md-2 pt-md-2 pt-1">
                              <i class="fas fa-phone-alt"></i>
                              <a class="address" style="opacity: 1;">
                                  <p class="mb-1">(+84) 028-3526-8202</p>
                              </a>
                          </div>

                      </li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <a href="" class="btn_mailct"><i class="far fa-paper-plane"></i><span>LIÊN HỆ QUA E-MAIL</span></a>
              </div>
          </div>
      </div>
  </div>
  <div class="footer">
      <p class="title">Youngpinejob.com - Website Việc Làm Lớn Nhất Việt Nam</p>
      <div class="container">
          <!-- <div class="top-logo">
        <a href="" class="d-inline-block"><img class="img-fluid" src="img/logo.PNG" alt=""></a>
      </div> -->
          <div class="row">
              <div class="col-md-4 block-info">
                  <div class="info-item">
                      <h3>Trụ sở Đà Nẵng</h3>
                      <p>Tầng 3, 183 Quách Thị Trang, Cẩm Lệ, Đà Nẵng</p>
                  </div>
                  <div class="info-item">
                      <h3>Hotline</h3>
                      <p>0782.105.516 - 0905.123.456</p>
                  </div>
                  <div class="info-item">
                      <h3>Email hỗ trợ</h3>
                      <p>phamtu613@gmail.com</p>
                  </div>
              </div>
              <div class=" col-md-4 block-cate">
                  <ul class="foot-cod foot-show list-unstyled">
                      <li><a rel="nofollow" href=""><i class="fas fa-caret-right"></i>Trang chủ</a></li>
                      <li><a rel="nofollow" href=""><i class="fas fa-caret-right"></i>Danh sách ứng viên</a></li>
                      <li><a rel="nofollow" href=""><i class="fas fa-caret-right"></i>Danh sách nhà tuyển dụng</a>
                      </li>
                      <li><a rel="nofollow" href=""><i class="fas fa-caret-right"></i>Danh sách việc làm</a></li>
                      <li><a rel="nofollow" href=""><i class="fas fa-caret-right"></i>Huấn luyện viên của bạn</a></li>
                      <li><a rel="nofollow" href=""><i class="fas fa-caret-right"></i>Liên hệ</a></li>
                  </ul>
              </div>
              <div class=" col-md-4">
                  <iframe
                      src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhkqddn%2F&tabs=timeline&width=340&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2449518365367012"
                      width="340" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                      allowTransparency="true" allow="encrypted-media"></iframe>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright">
      <div class="inner">
          <p>Copyright 2020 © - Youngpinejob - Một Tìm Kiếm, Triệu Việc Làm</p>
      </div>
  </div>
</footer>
<!-- End Footer -->