<div class="alert alert-info text-center" role="alert">	
<h5 class="text-uppercase font-weight-bolder">Hệ thống Quản Lý Đại Lý</h5>	
</div>	
	
<div class="text-center">	
<button (click)="onInsertData()" class="btn btn-info custom-margin-button" mat-button 	
cdkFocusInitial>Thêm Đại Lý</button>	
</div>	
	
<mat-form-field>	
<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm giao dịch">	
</mat-form-field>	
	
<div class="mat-elevation-z8">	
<table mat-table [dataSource]="dataSource" matSort>	
	
        <!-- id Column -->	
        <ng-container matColumnDef="id">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>	
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>	
        </ng-container>	
	
        <!-- iduser Column -->	
        <ng-container matColumnDef="iduser">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Iduser </th>	
          <td mat-cell *matCellDef="let element"> {{element.iduser}} </td>	
        </ng-container>	
	
        <!-- username Column -->	
        <ng-container matColumnDef="username">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>	
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>	
        </ng-container>	
	
        <!-- password Column -->	
        <ng-container matColumnDef="password">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>	
          <td mat-cell *matCellDef="let element"> {{element.password}} </td>	
        </ng-container>	
	
        <!-- status Column -->	
        <ng-container matColumnDef="status">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>	
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>	
        </ng-container>	
	
        <!-- createdate Column -->	
        <ng-container matColumnDef="createdate">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Createdate </th>	
          <td mat-cell *matCellDef="let element"> {{element.createdate}} </td>	
        </ng-container>	
	
        <!-- numberlot Column -->	
        <ng-container matColumnDef="numberlot">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Numberlot </th>	
          <td mat-cell *matCellDef="let element"> {{element.numberlot}} </td>	
        </ng-container>	
	
        <!-- money Column -->	
        <ng-container matColumnDef="money">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Money </th>	
          <td mat-cell *matCellDef="let element"> {{element.money}} </td>	
        </ng-container>	
	
	
	
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>	
<tr mat-row (dblclick)="onUpdateData(row)" class="example-element-row" *matRowDef="let row; columns: displayedColumns;">	
</tr>	
</table>	
	
<mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" showFirstLastButtons></mat-paginator>	
</div>	
