$color-main: #22924c;
.wp-inner {
    background: #eff3f6;
}
.block-breadcrumb {
    .breadcrumb {
        background: none;
        margin-bottom: 0px;
        padding-left: 0px;
        .breadcrumb-item {
            a {
                color: $color-main;
            }
        }
    }
}
.block-title {
    .title-left {
        overflow: hidden;
        font-weight: 700;
        font-size: 19px;
        border-left: 5px solid $color-main;
        padding: 0 10px;
        line-height: 29px;
        margin-bottom: 15px;
        padding-right: 0;
        position: relative;
        margin-bottom: 0px;

        .line {
            background-color: #d7d7d7;
            bottom: 0;
            height: 1px;
            margin-bottom: auto;
            margin-left: 10px;
            margin-top: auto;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}
.header {
    .box-left {
        position: relative !important;
        background: #fff;
        height: 300px;
        padding: 0 15px;
        @media (max-width: 575px) {
            height: 500px;
        }
    }
    .header-inner {
        position: absolute;
        z-index: 2;
        width: 100%;
    }
    .avatar {
        margin-top: 15px;
        @media (max-width: 575px) {
            text-align: center;
            width: 175px;
            margin: 17px auto 0;
        }
        .thumb {
            width: 145px;
            position: relative;
            margin-top: 5px;
            background-color: #fff;
            float: left;
            width: 145px;
            height: 145px;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            border: 3px solid #fff;
            border-radius: 50%;
            overflow: hidden;
            &:hover {
                img {
                    transform: scale(1.1);
                    transition: 0.4s;
                }
            }
            img {
                width: 100%;
                height: 145px;
                object-fit: cover;
                background: #fff;
                border-radius: 50%;
                transition: 0.4s;
            }
        }
    }
    .info-basic {
        padding-left: 0px;
        @media (max-width: 575px) {
            padding-left: 15px;
        }
        .name {
            font-size: 22px;
            margin-top: 9px;
            margin-bottom: 3px;
            color: #fff;
            text-transform: capitalize;
        }
        .job {
            font-size: 17px;
            font-weight: 300;
            color: #ffe14f;
            text-transform: capitalize;
            @media (max-width: 575px) {
                margin-bottom: 0px;
            }
        }
        .info-bot {
            @media (max-width: 575px) {
                margin-top: 25px;
            }
            p {
                font-weight: 400;
                font-size: 14px;
                color: #353535;
                margin-bottom: 5px;
            }
            i {
                margin-right: 5px;
                display: inline-block;
                color: #22924c;
                text-align: center;
                padding-left: 1px;
                border-radius: 50%;
                line-height: 26px;
                font-size: 14px;
            }
        }
    }
    .see-doc {
        padding: 9px 15px 15px 15px;
        color: #7d6d51;
        background-color: #fffdf3;
        border: 1px solid #f5edc7;
        font-size: 15px;
        margin-top: 20px;
        @media (max-width: 575px) {
            margin-top: 5px;
        }
        p {
            margin-bottom: 5px;
        }
        .block-btn {
            button:first-child {
                background: #fff;
                border: 1px solid #bfcbd9;
                color: #1f2d3d;
                margin-right: 10px;
                &:hover {
                    border: 1px solid #22924c;
                    color: #22924c;
                }
                i {
                    padding-right: 5px;
                }
            }
            button:last-child {
                background: #ff9a00;
                border: 1px solid #e59212;
                color: #ffffff;
                margin-right: 10px;
                &:hover {
                    border: 1px solid #ff9a00;
                    color: #ff9a00;
                    background: #ffffff;
                }
                i {
                    padding-right: 5px;
                }
            }
        }
        .un-save-button{
            background-color: #22924C !important;
            color: #fff!important;
        }
    }
    .bg-half {
        position: absolute;
        top: 0;
        left: 0;
        height: 90px;
        width: 100%;
        background-color: $color-main;
        z-index: 1;
        @media (max-width: 575px) {
            height: 275px;
        }
    }
    .save-share {
        background: #fff;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;

        .pdf {
            text-align: center;
            padding-top: 15px;
            position: relative;
            i {
                font-size: 25px;
            }
            span {
                position: absolute;
                top: 10px;
                font-size: 8px;
                padding: 3px 6px 2px;
                background-color: #f74c4c;
                color: #fff;
                font-weight: 700;
                line-height: 1;
                text-align: center;
                white-space: nowrap;
                border-radius: 10px;
            }
        }
    }
}
.desc-detail {
    background: #fff;
    padding: 0 15px;
    padding-top: 15px;
    margin-bottom: 25px;
    .info-doc {
        .info-fast {
            margin-top: 20px;
            border-bottom: dotted 1px #ebebeb;
            p {
                font-weight: 500;
                font-size: 15px;
                color: #1f1f1f;
                i {
                    padding-right: 5px;
                    color: $color-main;
                }
                span {
                    font-size: 14px;
                    color: #1f1f1f;
                    font-weight: 400;
                }
                button {
                    height: 24px;
                    padding: 3px 8px;
                    background: #f0f0f0;
                    color: #267d79;
                    margin-right: 7px;
                    line-height: 18px;
                    border-radius: 2px;
                    text-decoration: none !important;
                    border: 1px solid #e6e6e6;
                }
            }
        }
    }
}
.info-contact {
    padding: 10px 16px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    margin-top: 20px;
    p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 13px;
    }
    .title-info {
        p {
            font-weight: 500;
            line-height: 24px;
            font-size: 15px;
            margin-bottom: 10px;
        }
    }
    .block-btn {
        button:first-child {
            background: #fff;
            border: 1px solid #bfcbd9;
            color: #1f2d3d;
            margin-right: 10px;
            &:hover {
                border: 1px solid #22924c;
                color: #22924c;
            }
            i {
                padding-right: 5px;
            }
        }
        button:last-child {
            background: #ff9a00;
            border: 1px solid #e59212;
            color: #ffffff;
            &:hover {
                border: 1px solid #ff9a00;
                color: #ff9a00;
                background: #ffffff;
            }
            i {
                padding-right: 5px;
            }
        }
    }
}

.modal-header {
    background: #22924c;
    border-radius: 3px !important;
    border: 1px solid #22924c;
}

.view-infor-button{
    background: #ff9a00;
            border: 1px solid #e59212;
            color: #ffffff;
            &:hover {
                border: 1px solid #ff9a00;
                color: #ff9a00;
                background: #ffffff;
            }
            i {
                padding-right: 5px;
            }
}
.modal {
    .modal-dialog-centered{
        width:500px;
        .modal-content{
            p{
                margin: 5px;
            }
        }
    }
}