<div class="wp-inner">
    <div class="block-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="c1-list-candidate/0/0/none/none/none/none/none">Danh sách ứng viên</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{candidate.positionapply}}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="header container">
        <div class="row">
            <div class="col-md-9">
                <div class="box-left">
                    <div class="row header-inner">
                        <div class="col-md-3 avatar">
                            <div class="thumb">
                                <img class="img-fluid" src="../../../../assets/img/image_candidate.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-9 info-basic">
                            <div class="row">
                                <div class="col-12 mt-md-3 pl-md-0">
                                    <p class="name">{{candidate.fullname}}</p>
                                    <p class="job">{{candidate.positionapply}}</p>
                                </div>
                            </div>
                            <div class="row info-bot">
                                <div class="col-md-6 col-6 pl-md-0">
                                    <p><i class="fas fa-briefcase"></i>{{candidate.born | date: 'dd/MM/yyyy'}}</p>
                                    <p><i class="fas fa-map-marker-alt"></i>{{candidate.address}}</p>
                                </div>
                                <div class="col-md-3 col-6">
                                    <p><i class="fas fa-venus-mars"></i>{{convertSexNumberToSexName(candidate.sex)}}</p>
                                    <p><i
                                            class="fas fa-medal"></i>{{convertMarriageNumberToMarriageName(candidate.marriage)}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="see-doc">
                                <p>Bạn đang xem hồ sơ ứng viên đã được phân loại trên PineJob. Hồ sơ có giá trị {{candidate.point}} điểm.
                                    Đồng
                                    ý xem <span style="color: #22924c">bấm vào đây</span>.</p>
                                <div class="block-btn">
                                    <button *ngIf="isSaved==false" (click)="saveOrDeleteProfile()"  type="button"
                                        class="btn btn-outline-secondary save-button"><i class="far fa-heart"></i>Lưu </button>
                                    <button *ngIf="isSaved==true" (click)="saveOrDeleteProfile()" type="button"
                                        class="btn btn-outline-secondary un-save-button"><i class="far fa-heart"></i>Bỏ lưu</button>
                                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                    data-target="#openConfirmModal"><i class="far fa-eye"
                                        aria-hidden="true"></i>Xem
                                    liên hệ
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-half"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="desc-detail">
                            <div class="info-doc">
                                <!-- info document -->
                                <div class="block-title">
                                    <h3 class="title-left">
                                        <span class="text">
                                            Thông tin hồ sơ
                                        </span>
                                        <span class="line"></span>
                                    </h3>
                                </div>
                                <div class="row info-fast">
                                    <div class="col-6">
                                        <p><i class="fas fa-globe"></i> Ngành nghề: <span>{{candidate.career}}</span>
                                        </p>
                                        <p><i class="fas fa-briefcase"></i> Trình độ học vấn:
                                            <span>{{candidate.academiclevel}}</span>
                                        </p>
                                        <p><i class="fas fa-laptop-house"></i>Loại hình công việc:
                                            <span>{{convertTOWNumberToTOWName(candidate.typeofwork)}}</span></p>
                                        <p><i class="far fa-id-card"></i> Cấp bậc mong muốn:
                                            <span>{{candidate.targetjob}}</span>
                                        </p>
                                        <p><i class="far fa-id-card"></i> Mức lương mong muốn:
                                            <span>{{candidate.minsalary}} - {{candidate.maxsalary}}
                                                triệu</span>
                                        </p>
                                        <p><i class="far fa-id-card"></i> Số năm kinh nghiệm:
                                            <span>{{convertExpYeasNumberToExpYeasName(candidate.yearsofexperience)}}</span>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p><i class="fas fa-globe"></i> Nơi làm việc: <button type="button"
                                                class="btn btn-primary btn-sm">{{candidate.workingplacename}}</button>
                                        </p>
                                        <p><i class="far fa-id-card"></i> Quận / huyện:
                                            <span>{{candidate.districtname}}</span>
                                        </p>
                                        <p><i class="far fa-id-card"></i> Tỉnh / thành phố:
                                            <span>{{candidate.cityname}}</span>
                                        </p>
                                        <p><i class="far fa-id-card"></i> Mã hồ sơ: <span>{{candidate.id}}</span>
                                        </p>
                                        <p><i class="far fa-id-card"></i> Số lượt xem:
                                            <span>{{candidate.numberview}}</span>
                                        </p>
                                        <p><i class="far fa-id-card"></i> Ngày cập nhật:
                                            <span>{{candidate.startadmission | date: 'dd/MM/yyyy'}}</span>
                                        </p>
                                    </div>
                                </div>
                                <!-- end info document -->

                                <!-- target job -->
                                <div class="block-title mt-md-3">
                                    <h3 class="title-left">
                                        <span class="text">
                                            Mục tiêu nghề nghiệp
                                        </span>
                                        <span class="line"></span>
                                    </h3>
                                </div>
                                <div class="row info-fast">
                                    <div class="col-md-12">
                                        {{candidate.descriptionstargetjob}}
                                    </div>
                                </div>
                                <!-- and target job -->

                                <!-- skill myseft -->
                                <div class="block-title mt-md-3">
                                    <h3 class="title-left">
                                        <span class="text">
                                            Kỹ năng bản thân
                                        </span>
                                        <span class="line"></span>
                                    </h3>
                                </div>
                                <div class="row info-fast">
                                    <div class="col-md-12">
                                        {{candidate.descriptionskill}}
                                    </div>
                                </div>
                                <!-- and skill myseft -->

                                <!-- exp work -->
                                <div class="block-title mt-md-3">
                                    <h3 class="title-left">
                                        <span class="text">
                                            Kinh nghiệm làm việc
                                        </span>
                                        <span class="line"></span>
                                    </h3>
                                </div>
                                <div class="row info-fast">
                                    <div class="col-md-12">
                                        {{candidate.descriptionsoldjob}}
                                    </div>
                                </div>
                                <!-- and exp work -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box-right">
                    <div class="row save-share">
                        <div class="col-md-6 col-6 pdf">
                            <i class="far fa-file-pdf"></i>
                            <p>Lưu PDF</p>
                            <span>NEW</span>
                        </div>
                        <div class="col-md-6 col-6 pdf">
                            <i class="fas fa-share-alt"></i>
                            <p>Chia sẻ</p>
                        </div>
                    </div>
                    <div class="row banner  sidebar mt-3">
                        <a href="" class="d-block mb-3" *ngFor="let item of listBannerAds"><img class="img-fluid"
                                src="{{item.banner}}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông tin liên hệ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Họ Tên</th>
                        <td>{{candidate.fullname}}</td>
                    </tr>
                    <tr>
                        <th>Số điện thoại</th>
                        <td>{{candidate.phone}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{candidate.email}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- huong -->
<div class="modal fade " id="openConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông tin liên hệ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p>Để xem thông tin liện hệ của ứng viên <span><b>{{candidate.fullname}}</b></span> , công ty của bạn sẽ bị trừ <span><b>{{candidate.point}}</b></span> điểm.</p>
            <div class="modal-footer">
                <button (click)="onUpdadeNumberViewCompany()" type="button" class="btn  view-infor-button"  data-toggle="modal"
                data-target="#exampleModalCenter" data-dismiss="modal"><i class="far fa-eye"
                aria-hidden="true"> </i> Xem liên hệ
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>