<main>
  <div class="container">
    <div class="row">


      <div class="col-sm-12 mt-4">
        <fieldset>
          <legend>THÔNG TIN HUẤN LUYỆN VIÊN</legend>

          <div class="row p-sm-3">
            <div class="col-sm-3 mb-4 text-center">
              <img class="img-information" src="{{information.avatar}}">
              <!-- ../../../../assets/img/images.jpg -->
            </div>
            <div class="col-sm-6 col-information mb-4">
              <h2>{{information.fullname}}</h2>
              <div class="mb-1"><span><strong class=" mr-2"><i class="fas fa-chart-bar mr-2 i-information"></i>Công việc
                    chuyên ngành:</strong></span>
                <span class="span-information">{{information.skill}}</span></div>
              <div class="mb-1"><span><strong class=" mr-2"><i class="fa fa-cubes mr-2 i-information"></i>Ngành
                    nghề:</strong></span>
                <span class="span-information">Đào tạo online qua mạng</span></div>
              <div class="mb-1"><span><strong class=" mr-2"><i class="fas fa-map-marker-alt mr-2 i-information"></i>Địa
                    chỉ:</strong></span>
                <span class="span-information"> {{information.address}}</span></div>
              <div class="mb-1"><span><strong class=" mr-2"><i class="fa fa-qrcode mr-2 i-information"></i>Mã huấn
                    luyện viên:</strong></span><span class="span-information">{{information.id}}</span> </div>
              <div class="mb-1"><span><strong class=" mr-2"><i class="fa fa-eye mr-2 i-information"></i>Số lượt
                    xem:</strong></span>
                <span class="span-information"> {{information.numberview}}</span></div>
              <div class="liner"></div>
              <div class="mb-1"><span><strong class=" mr-2"><i class="fa fa-phone mr-2 i-information"></i>Số
                    điện thoại:</strong><a href="#" class="btn a-information">{{information.phone}}</a></span></div>
              <div class="mb-1"><span><strong class="s-email"><i
                      class="fa fa-envelope mr-2 i-information"></i>Email:</strong><a href="#"
                    class="btn a-information">{{information.email}}</a></span></div>
            </div>
            <div class="col-sm-3 text-center col-review">
              <div><span style="font-size: 20px; color:#22924c; text-transform: uppercase"><strong class="mr-2">Đánh
                    giá</strong></span></div>
              <div class="rating" style="color: rgb(255, 193, 32);">
                <div class="rating__inner"><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em"
                    width="1em" viewBox="0 0 40 40" style="vertical-align: middle;">
                    <g>
                      <path
                        d="m38.6 14.4q0 0.5-0.5 1.1l-8.1 7.9 1.9 11.2q0 0.1 0 0.4 0 0.5-0.2 0.8t-0.7 0.3q-0.4 0-0.9-0.2l-10-5.3-10 5.3q-0.5 0.2-0.9 0.2-0.5 0-0.7-0.3t-0.3-0.8q0-0.1 0.1-0.4l1.9-11.2-8.1-7.9q-0.6-0.6-0.6-1.1 0-0.8 1.3-1l11.2-1.6 5-10.2q0.4-0.9 1.1-0.9t1.1 0.9l5 10.2 11.2 1.6q1.2 0.2 1.2 1z">
                      </path>
                    </g>
                  </svg><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em"
                    viewBox="0 0 40 40" style="vertical-align: middle;">
                    <g>
                      <path
                        d="m38.6 14.4q0 0.5-0.5 1.1l-8.1 7.9 1.9 11.2q0 0.1 0 0.4 0 0.5-0.2 0.8t-0.7 0.3q-0.4 0-0.9-0.2l-10-5.3-10 5.3q-0.5 0.2-0.9 0.2-0.5 0-0.7-0.3t-0.3-0.8q0-0.1 0.1-0.4l1.9-11.2-8.1-7.9q-0.6-0.6-0.6-1.1 0-0.8 1.3-1l11.2-1.6 5-10.2q0.4-0.9 1.1-0.9t1.1 0.9l5 10.2 11.2 1.6q1.2 0.2 1.2 1z">
                      </path>
                    </g>
                  </svg><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em"
                    viewBox="0 0 40 40" style="vertical-align: middle;">
                    <g>
                      <path
                        d="m38.6 14.4q0 0.5-0.5 1.1l-8.1 7.9 1.9 11.2q0 0.1 0 0.4 0 0.5-0.2 0.8t-0.7 0.3q-0.4 0-0.9-0.2l-10-5.3-10 5.3q-0.5 0.2-0.9 0.2-0.5 0-0.7-0.3t-0.3-0.8q0-0.1 0.1-0.4l1.9-11.2-8.1-7.9q-0.6-0.6-0.6-1.1 0-0.8 1.3-1l11.2-1.6 5-10.2q0.4-0.9 1.1-0.9t1.1 0.9l5 10.2 11.2 1.6q1.2 0.2 1.2 1z">
                      </path>
                    </g>
                  </svg><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em"
                    viewBox="0 0 40 40" style="vertical-align: middle;">
                    <g>
                      <path
                        d="m38.6 14.4q0 0.5-0.5 1.1l-8.1 7.9 1.9 11.2q0 0.1 0 0.4 0 0.5-0.2 0.8t-0.7 0.3q-0.4 0-0.9-0.2l-10-5.3-10 5.3q-0.5 0.2-0.9 0.2-0.5 0-0.7-0.3t-0.3-0.8q0-0.1 0.1-0.4l1.9-11.2-8.1-7.9q-0.6-0.6-0.6-1.1 0-0.8 1.3-1l11.2-1.6 5-10.2q0.4-0.9 1.1-0.9t1.1 0.9l5 10.2 11.2 1.6q1.2 0.2 1.2 1z">
                      </path>
                    </g>
                  </svg><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em"
                    viewBox="0 0 40 40" style="vertical-align: middle;">
                    <g>
                      <path
                        d="m38.6 14.4q0 0.5-0.5 1.1l-8.1 7.9 1.9 11.2q0 0.1 0 0.4 0 0.5-0.2 0.8t-0.7 0.3q-0.4 0-0.9-0.2l-10-5.3-10 5.3q-0.5 0.2-0.9 0.2-0.5 0-0.7-0.3t-0.3-0.8q0-0.1 0.1-0.4l1.9-11.2-8.1-7.9q-0.6-0.6-0.6-1.1 0-0.8 1.3-1l11.2-1.6 5-10.2q0.4-0.9 1.1-0.9t1.1 0.9l5 10.2 11.2 1.6q1.2 0.2 1.2 1z">
                      </path>
                    </g>
                  </svg></div>
              </div>
              <a href="#test" target="_self" class="btn coaching-book" data-toggle="modal"
                data-target="#modal-book"><span><i class="fa fa-bookmark mr-2"></i>BOOK
                </span></a>
              <a href="#" target="_self" class="btn coaching-book"><span><i class="fa fa-comment mr-2"
                    style="color: #0072ff;"></i>NHẮN TIN</span></a>
              <a href="#" target="_self" class="btn coaching-book"><span><i class="fa fa-heart mr-2"
                    style="color: red;"></i>YÊU THÍCH</span></a>
            </div>

            <!-- Modal -->
            <div class="modal fade " id="modal-book" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 p-4">
                        <div class="booking-modal__header"><img class="booking-modal__coach-image"
                            src="{{information.avatar}}">
                          <h2 class="booking-modal__title">Book with {{information.fullname}}</h2>

                        </div>

                        <div class="vertical-tab" role="tabpanel">
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" *ngFor="let package of packages"><a href="#{{package.id}}"
                                aria-controls="home" role="tab" data-toggle="tab">{{package.name}}</a>
                            </li>
                          </ul>
                          
                          <!-- Tab panes -->
                          <div class="tab-content tabs">
                            <div *ngFor="let package of packages" role="tabpanel" class="tab-pane fade in "
                              id="{{package.id}}">
                              <h4>{{package.name}} <span>${{package.price}}</span></h4>
                              <div>{{package.about}}</div>
                              <button class="btn btn-book" (click)="onBookNowClick(package.id)"
                                data-dismiss="modal">Book Now</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </fieldset>
      </div>
      <div class="col-sm-12 mt-4 mb-4">

        <div class="row">
          <div class="col-md-5 col-coaching">
            <h4 class="sl_title">Về huấn luận viên</h4>
            <div class="about">{{information.about}}</div>

          </div>
          <div class="col-md-7">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Recent Comments</h4>
                <h6 class="card-subtitle">Latest Comments section by users</h6>
              </div>
              <div class="comment-widgets m-b-20">
                <div class="form-group px-2 from-coaching">
                  <label for="comment" class="w-500">Comments</label>
                  <textarea [(ngModel)]="commentcandidate" class="form-control" rows="5" id="comment"></textarea>
                  <button (click)="uploadComment()" class="btn mt-2 float-right">Send</button>
                </div>
                <div class="d-flex flex-row comment-row" *ngFor="let commentcoaching of commentcoachings">
                  <div class="p-2"><span class="round"><img src="{{commentcoaching.avatar}}" alt="user"
                        width="50"></span></div>
                  <div class="comment-text w-100">
                    <h5>{{commentcoaching.fullname}}</h5>
                    <div class="comment-footer"> <span class="date mr-1"><i
                          class="far fa-clock mr-1"></i>{{commentcoaching.stime}}</span>
                          <span class="date mr-1"><i
                            class="far fa-calendar-alt mr-1"></i>{{commentcoaching.startdate| date:'dd/MM/yyyy'}}</span>
                            
                      <span class="action-icons"> <a href="#" data-abc="true"><i class="fa fa-heart"></i></a> </span>
                    </div>
                    <p class="m-b-5 m-t-10">{{commentcoaching.content}}</p>
                  </div>
                </div>
                <!-- <pagination-controls class="pagination-vip" (pageChange)="page = $event" id="foo" maxSize = "5" directionLink="true"></pagination-controls> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>