fieldset {
    border: 1px solid #eee;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    background-color: #fbfbfb;
}
legend {
    display: inline;
    width: auto;
    padding: 0 5px;
    font-size: 15px;
    line-height: inherit;
    border: 0;
    border-bottom: none;
    font-weight: 400;
    margin-bottom: 5px;
    color: #333;
}
.coaching-book {
    border-radius: 5px;
    width: 100%;
    border: 2px solid #22924c;
    color: #22924c;
    margin: 10px 0px;
    display: block;
}
.a-information {
    font-size: 13px;
    border-radius: 5px;
    background-color: #ff9600;
    padding: 5px 10px;
    color: #fff;
    text-transform: capitalize;
}

.img-information {
    max-width: 100%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.liner {
    width: 100%;
    height: 2px;
    background: #2292517a;
    margin: 10px 0px;
}
.i-information {
    color: #22924c;
}
.col-information {
    h2 {
        color: #22924c;
    }
}
.span-information {
    color: #212529c4;
}
.col-review {
    padding: 0px 50px;
}
.s-email {
    margin-right: 12.5%;
}
@media screen and (max-width: 1024px) {
    .col-information {
        h1 {
            font-size: 150%;
        }
    }
    span {
        font-size: 14px;
    }
    .col-review {
        padding: 0px 10px;
    }

    .s-email {
        margin-right: 18.5%;
    }
}
@media screen and (max-width: 480px) {
    .col-information {
        h1 {
            font-size: 150%;
            text-align: center;
        }
    }
    span {
        font-size: 14px;
    }
    .col-review {
        padding: 0px 70px;
    }

    .s-email {
        margin-right: 17.5%;
    }
    .from-coaching {
        margin-bottom: 35px;
    }
}
.date {
    color: #333333c4;
    font-size: 14px;
}
.card-no-border .card {
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

.comment-widgets  {
    .comment-row{
        border-bottom: 1px solid rgba(120, 130, 140, 0.13);
        padding: 15px;
        &:nth-last-child(2) {
            margin-bottom: 15px!important;
        }
    }
}

.comment-text:hover {
    visibility: hidden;
}

.comment-text:hover {
    visibility: visible;
}

.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
}

.round img {
    border-radius: 100%;
}

.label-info {
    background-color: #1976d2;
}

.label-success {
    background-color: green;
}

.label-danger {
    background-color: #ef5350;
}

.action-icons a {
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4;
}

.action-icons a:hover {
    color: #1976d2;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}
.comment-text {
    p {
        font-size: 14px;
    }
}
.sl_title::after {
    content: "";
    width: 90px;
    height: 5px;
    background-color: #22924c;
    display: block;
    margin-top: 5px;
}
.col-coaching {
    p {
        font-size: 14px;
        line-height: 25px;
        color: #666;
        margin-bottom: 5px;
    }
    a {
        color: #22924c;
        margin-left: 20px;
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
    }
}
.from-coaching {
    label {
        font-weight: 500;
    }
    button {
        background-color: #22924c;
        color: #fff;
    }
}

.page-custom {
    background-color: #fff;
    color: #22924c;
}
.page-item.active .page-link {
    background-color: #22924c;
    color: #fff;
    border-color: #22924c;
}

// responsive
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
}

// tab-booking
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
.vertical-tab {
    width: 100%;
    display: table;
}
.vertical-tab .nav-tabs {
    display: table-cell;
    width: 35%;
    min-width: 35%;
    vertical-align: top;
    border: none;
}
.vertical-tab .nav-tabs li {
    float: none;
    vertical-align: top;
}
.vertical-tab .nav-tabs li a {
    color: #555;
    background: #fff;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 10px 10px;
    margin: 0 9px 9px 0;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0.1s;
}
.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover {
    color: #22924c;
    background: #fff;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px 0 0 0;
}
.vertical-tab .nav-tabs li a:before,
.vertical-tab .nav-tabs li a:after {
    content: "";
    background: #22924c;
    height: 100%;
    width: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.vertical-tab .nav-tabs li a:after {
    opacity: 0;
    left: auto;
    right: 25px;
    transition: all 0.3s ease-in 0.2s;
}
.vertical-tab .nav-tabs li a:hover:before,
.vertical-tab .nav-tabs li.active a:before,
.vertical-tab .nav-tabs li.active a:hover:before {
    width: 50%;
    opacity: 0;
}
.vertical-tab .nav-tabs li a:hover:after,
.vertical-tab .nav-tabs li.active a:after,
.vertical-tab .nav-tabs li.active a:hover:after {
    opacity: 1;
    right: 0;
}
.vertical-tab .tab-content {
    color: #555;
    background: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 25px;
    padding: 20px 20px 10px;
    margin-top: 10px;
    border-right: 3px solid #22924c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: table-cell;
    position: relative;
}
.vertical-tab .tab-content h4 {
    color: #22924c;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
    font-size: 16px;
}
.vertical-tab .tab-content h4 span {
    float: right;
    color: #333;
}
@media only screen and (max-width: 479px) {
    .vertical-tab .nav-tabs {
        width: 100%;
        display: block;
        border: none;
    }
    .vertical-tab .nav-tabs li a {
        margin: 0 0 10px;
    }
    .vertical-tab .tab-content {
        padding: 25px 20px;
        display: block;
    }
    .vertical-tab .tab-content h3 {
        font-size: 18px;
    }
    .booking-modal__header {
        display: block !important;
        text-align: center;
        .booking-modal__title {
            font-size: 24px;
        }
    }
}
.booking-modal__header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}
.booking-modal__coach-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.booking-modal__title {
    font-family: nunito sans, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
    line-height: 40px;
    vertical-align: middle;
    display: inline;
    padding-left: 10px;
    margin: 0;
}
.btn-book {
    background: #22924c;
    color: #fff;
    float: right;
}
//pagination
.pagination-outer {
    text-align: center;
}
.pagination {
    font-family: "Montserrat", sans-serif;
    display: inline-flex;
}
.pagination li a.page-link {
    color: #22924c;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    height: 25px;
    width: 25px;
    padding: 0;
    margin: 0 7px;
    border: none;
    border-radius: 0;
    display: block;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:focus {
    color: #fff;
    background-color: #22924c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
}
.pagination li a.page-link:before {
    content: "";
    border: 3px solid #22924c;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -5px;
    top: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    transition: all 0.3s ease 0s;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}
.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:before {
    visibility: visible;
    opacity: 1;
    transform: perspective(800px) rotateX(180deg);
}
@media only screen and (max-width: 480px) {
    .pagination {
        font-size: 0;
        display: block;
    }
    .pagination li {
        display: inline-block;
        margin: 0 0 10px;
    }
}
.pagination-vip {
    text-align: center;
}
