<div class="employer-right el-col el-col-21">
    <div class="candidate-profile el-row">
        <div class="el-col el-col-24">
            <div class="el-breadcrumb">
                <span>
                    <span class="el-breadcrumb__item__inner">Dashboard</span>
                <span>/</span>
                <span style="color: #97a8be;">Cập nhật hồ sơ</span>
                </span>
            </div>
        </div>
        <!-- start update profile-->
        <div class="el-col el-col-24">
            <div class="sbox">
                <div class="vue-form-wizard sm">
                    <div class="wizard-navigation">

                        <!-- time line-->
                        <div class="box">
                            <div class="wizard-progress-with-circle">
                                <div class="wizard-progress-bar background-progress-bar"> </div>
                            </div>

                            <!-- global menu update document -->
                            <ul class="wizard-nav wizard-nav-pills" style="margin-bottom: 0">
                                <li class="active">
                                    <a routerLink="/manager/candidate/b1-infomation-personal">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info">Thông Tin Cá Nhân</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b2-infomation-document">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-info" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Thông Tin hồ sơ</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b3-education">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container background-active">
                                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Học vấn bằng cấp</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b4-experient">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Kinh nghiệm làm việc</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b5-skill-work">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-handshake" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Ký Năng làm việc </p>
                                    </a>
                                </li>
                                <button (click)="onUpdateCandidate()" type="button" class="btn btn-primary">Đăng Hồ
                                    Sơ</button>
                            </ul>
                            <!-- end global menu update document -->
                        </div>
                        <!-- end time line-->

                        <div class="wizard-tab-content box">
                            <div class="wizard-tab-container">
                                <div class="block">
                                    <h4 class="heading-title">
                                        Thông Tin Hồ Sơ
                                    </h4>
                                    <hr>

                                </div>
                            </div>
                            <!-- star form-->
                            <div class="form">
                                <form [formGroup]="form">
                                    <div class="row">

                                        <!--contact form-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="school"><b style="color: red;">*</b>
                                                    Trường, cơ sở, trung tâm đào tạo
                                                    :</label>

                                                <input formControlName="school" [(ngModel)]="candidate.school" type="text" class="form-control" name="school">
                                                <div *ngIf="form.controls['school'].invalid && (form.controls['school'].dirty || form.controls['school'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['school'].errors.required">
                                                        Bạn phải nhập nơi đã từng được đào tạo
                                                    </div>
                                                    <div *ngIf="form.controls['school'].errors.maxlength">
                                                        Bản phải nhập dưới 101 kí tự
                                                    </div>
                                                    <div *ngIf="form.controls['school'].errors.minlength">
                                                        Bản phải nhập trên 5 kí tự
                                                    </div>
                                                    <div *ngIf="form.controls['school'].errors.pattern">
                                                        Tên trường, cơ sở, trung tâm không đúng hoặc dùng quá nhiều khoẳng trắng
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="address"><b style="color: red;">*</b>
                                                    Khoa đào tạo:</label>
                                                <input formControlName="department" [(ngModel)]="candidate.department" type="text" class="form-control" placeholder="VD:Kế toán, Bác sĩ, CNTT..." name="department">
                                                <div *ngIf="form.controls['department'].invalid && (form.controls['department'].dirty || form.controls['department'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['department'].errors.required">
                                                        Bạn phải nhập khoa đào tạo
                                                    </div>
                                                    <div *ngIf="form.controls['department'].errors.minlength">
                                                        Bản phải nhập trên 3 kí tự
                                                    </div>
                                                    <div *ngIf="form.controls['department'].errors.maxlength">
                                                        Bản phải nhập dưới 101 kí tự
                                                    </div>
                                                    <div *ngIf="form.controls['department'].errors.pattern">
                                                        Khoa đào tạo không đúng hoặc dùng quá nhiều khoẳng trắng
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="certificate"><b style="color: red;">*</b> Tên bằng cấp chứng
                                                    chỉ:</label>
                                                <input formControlName="certificate" [(ngModel)]="candidate.certificate" type="text" class="form-control" placeholder="VD: Cử nhân luật, kỹ dư CNTT, Chứng chỉ nghề điện dân dụng...." id="certificate" name="certificate">
                                                <div *ngIf="form.controls['certificate'].invalid && (form.controls['certificate'].dirty || form.controls['certificate'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['certificate'].errors.required">
                                                        Bạn phải nhập tên bằng cấp/chứng chỉ
                                                    </div>
                                                    <div *ngIf="form.controls['certificate'].errors.minlength">
                                                        Bản phải nhập trên 5 kí tự
                                                    </div>
                                                    <div *ngIf="form.controls['certificate'].errors.maxlength">
                                                        Bản phải nhập dưới 201 kí tự
                                                    </div>
                                                    <div *ngIf="form.controls['certificate'].errors.pattern">
                                                        Tên bằng cấp chứng chỉ không đúng hoặc dùng quá nhiều khoẳng trắng
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="chuyennganh"><b style="color: red;">*</b> Chuyên ngành đào
                                                    tạo:</label>
                                                <input formControlName="specialized" [(ngModel)]="candidate.specialized" type="text" class="form-control" placeholder="VD:Kế toán, Bác sĩ, CNTT..." id="chuyennganh" name="chuyennganh">
                                                <div *ngIf="form.controls['specialized'].invalid && (form.controls['specialized'].dirty || form.controls['specialized'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['specialized'].errors.required">
                                                        Bạn phải nhập chuyên nghành được đào tạo
                                                    </div>
                                                    <div *ngIf="form.controls['specialized'].errors.minlength">
                                                        Bản phải nhập trên 5 kí tự
                                                    </div>
                                                    <div *ngIf="form.controls['specialized'].errors.maxlength">
                                                        Bản phải nhập dưới 201 kí tự
                                                    </div>
                                                    <div *ngIf="form.controls['specialized'].errors.pattern">
                                                        Chuyên ngành đào tạo không đúng hoặc dùng quá nhiều khoẳng trắng
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="address"><b style="color: red;">*</b>
                                                    Xếp loại:</label>

                                                <select formControlName="classification" [(ngModel)]="candidate.classification" class="custom-select" style="width:100%;">
                                                    <option *ngFor="let classification of classifications"
                                                        [value]="classification.value">
                                                        {{classification.viewValue}}
                                                    </option>
                                                </select>
                                                <div *ngIf="form.controls['classification'].invalid && (form.controls['classification'].dirty || form.controls['classification'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['classification'].errors.required">
                                                        Bạn phải nhập loại/hạng
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="lever"><b style="color: red;">*</b> Thời
                                                    gian bắt đầu nhập học:</label>
                                                <input formControlName="startadmission" onkeydown="return false" [(ngModel)]="candidate.startadmission" type="date" [max]="maxDate" class="form-control">
                                                <div *ngIf="form.controls['startadmission'].invalid && (form.controls['startadmission'].dirty || form.controls['startadmission'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['startadmission'].errors.required">
                                                        Bạn phải nhập thời gian bắt đầu nhập học
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="nominee"><b style="color: red;">*</b>
                                                    Thời gian kết thúc:</label>
                                                <input formControlName="endadmission" onkeydown="return false" [min]="minDate" [(ngModel)]="candidate.endadmission" type="date" class="form-control">
                                                <div *ngIf="form.controls['endadmission'].invalid && (form.controls['endadmission'].dirty || form.controls['endadmission'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['endadmission'].errors.required">
                                                        Bạn phải nhập thời gian kết thúc chương trình học học
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="lever"><b style="color: red;"></b>
                                                    Thông tin bổ sung:</label>
                                                <div class="md-form">
                                                    <textarea formControlName="additioninfor" [(ngModel)]="candidate.additioninfor" id="form7" class="md-textarea form-control" rows="5" placeholder="Thông tin chi tiết quá trình học tập hoạt động ngoại khóa...(nếu có)"></textarea>
                                                </div>
                                                <div *ngIf="form.controls['additioninfor'].invalid && (form.controls['additioninfor'].dirty || form.controls['additioninfor'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['additioninfor'].errors.maxlength">
                                                        Bạn không được nhập quá 500 ký tự
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <hr>
                            <button (click)="onUpdateCandidate()" type="button" class="btn btn-primary">Cập
                                Nhật</button>
                            <button (click)="onCancel()" type="button" class="btn btn-warning">Huỷ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>