// header-bot
$color-main: #22924c;
.header-bot {
    background-image: url("../../../../assets/img/bg2.jpg");
    height: 470px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    .content-header-bot {
        padding-top: 100px;
    }
    .nav-tabs-header {
        li {
            a {
                color: #fff !important;
                background: #33333375;
                i {
                    padding-right: 5px;
                }
            }
            a.active {
                background: #fff;
                color: #333 !important;
            }
        }
    }
    .tab-content-header {
        background-color: #fff;
        min-height: 130px;
        padding: 20px 0;
    }
    #job,
    #candidate,
    #company,
    #find-advance {
        .title-search {
            i {
                position: absolute;
                top: 15px;
                left: 25px;
                color: #6c757d;
                color: 18px;
            }
            input {
                padding-left: 30px;
                height: 45px;
            }
        }
        .select-custom {
            position: relative;
            select {
                padding-left: 30px;
                height: 45px;
            }
            i {
                position: absolute;
                top: 15px;
                left: 11px;
                color: #6c757d;
            }
        }
        .btn-search {
            button {
                width: 100%;
                background: #22924c;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                height: 45px;
                outline: none;
                padding: 4px 0 0;
                border: none;
                cursor: pointer;
                span {
                    color: #fff;
                    font-weight: 500;
                    font-size: 20px;
                    position: relative;
                    i {
                        font-size: 18px;
                        padding-right: 5px;
                    }
                }
            }
        }
        a.find-advance {
            color: #333;
            font-size: 15px;
            text-decoration: underline;
            padding-right: 15px;
            margin-top: 6px;
            display: block;
            text-align: right;
            i {
                padding-left: 5px;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .number-search {
        p {
            margin-bottom: 0px;
            font-size: 15px;
        }
    }

    .close-find-advance {
        color: #1f1e1e !important;
        text-align: center;
        display: block;
        padding-top: 10px;
        font-size: 15px;
        text-decoration: underline !important;
        cursor: pointer;
        &:hover {
            color: #7c7979 !important;
        }
    }
}
.title-main {
    text-align: center;
    font-size: 25px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    p {
        margin-bottom: 0px;
        text-transform: capitalize;
    }

    &::after {
        content: "";
        width: 160px;
        height: 5px;
        background-color: #3ebb6d;
        display: inline-block;
        margin: 0 auto;
    }
}
section.ads-company {
    margin-top: 30px;
    margin-bottom: 50px;

    .list-logo {
        .item-logo {
            &:hover {
                cursor: pointer;
            }
            a {
                display: block;
                overflow: hidden;
                border: 1px solid #d7d7d7;
                width: 155px;
                height: 155px;
                padding: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.2s;
                    &:hover {
                        transform: scale(1.05);
                        transition: 0.2s;
                    }
                }
            }

            p {
                text-align: center;
                padding-top: 5px;
                margin-bottom: 0px;
                font-size: 15px;
            }

            &:hover {
                p {
                    font-weight: 500;
                }
            }
        }
    }
}

.job-hot {
    margin-bottom: 60px;
    .block-title {
        .title-left {
            overflow: hidden;
            font-weight: 700;
            font-size: 19px;
            border-left: 5px solid $color-main;
            padding: 0 10px;
            line-height: 29px;
            margin-bottom: 15px;
            padding-right: 0;
            position: relative;

            .line {
                background-color: #d7d7d7;
                bottom: 0;
                height: 1px;
                margin-bottom: auto;
                margin-left: 10px;
                margin-top: auto;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }
    #job-hot-slide,
    #job-offer-slide {
        .job-item {
            padding: 10px;
            border: 1px solid #eee;
            margin-bottom: 10px;
            border-radius: 5px;
            &:hover {
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            }
            .thumb-img {
                width: 120px;
                height: 65px;
                margin-right: 5px;
                img {
                    width: 100%;
                    height: 65px;
                    object-fit: contain;
                }
            }
            .desc-job {
                flex-grow: 1;
                a.position {
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 0;
                    color: #444;
                    cursor: pointer;
                }
                img.hot-new {
                    width: 31px;
                    height: 12px;
                    margin-left: 10px;
                }
                .name-company {
                    color: #43a047 !important;
                    font-weight: 400;
                    font-size: 14px;
                    cursor: pointer;
                    margin-bottom: 0px;
                }
                .address {
                    .location {
                        color: #484848;
                        font-size: 15px;
                        flex-basis: 110%;
                        i {
                            color: #484848;
                            padding-right: 5px;
                        }
                    }
                    .salary {
                        color: #484848;
                        font-size: 15px;
                        flex-basis: 50%;
                        text-align: left;
                        i {
                            color: #484848;
                            padding-right: 5px;
                        }
                    }
                }
            }
        }
        .carousel-control-next-icon {
            background-image: url("../../../../assets/img/arrows.png");
            right: -50px;
        }
        .carousel-control-prev-icon {
            background-image: url("../../../../assets/img/back.png");
            left: -50px;
        }
        .carousel-indicators {
            bottom: -45px;
            li {
                background-color: #e3dcdc;
            }
            .active {
                background-color: #000;
            }
        }
    }
}

.block-register {
    background-image: url("../../../../assets/img/bg-register.jpg");
    margin-bottom: 40px;
    height: 250px;
    background-origin: content-box;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    .register-inner {
        background: #00000061;
        height: 250px;
    }
    .title-register {
        color: #fff;
        font-size: 23px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .sub-title {
        color: #fff;
    }
    .button-register {
        margin-top: 20px;
        a {
            margin-bottom: 0px !important;
        }
    }
    .register-company {
        margin-top: 50px;
        .btn {
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            font-weight: 500 !important;
            line-height: 36px;
            margin: 0 0 2em;
            max-width: 190px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
        }

        .btn-1 {
            transition: all 0.25s;
            svg {
                height: 45px;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }

            rect {
                fill: none;
                stroke: #fff;
                stroke-width: 2;
                stroke-dasharray: 422, 0;
                transition-delay: none;
            }
        }

        .btn-1:hover {
            font-weight: 900;
            letter-spacing: 2px;
            rect {
                stroke-width: 5;
                stroke-dasharray: 47, 310;
                stroke-dashoffset: 48;
                transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }

        .btn-1:hover {
            color: #fff;
            rect {
                stroke: #fff;
            }
        }
    }
}

.statistical {
    margin-bottom: 20px;
    .statistical-item {
        a {
            display: block;
            text-align: center;
            img {
                width: 100px;
            }
        }
        .icon-box-text {
            margin-top: 10px;
            h4 {
                color: #ec1f27;
            }
            p {
                font-size: 20px;
                font-weight: 500;
                color: #0a0a0a;
                text-transform: capitalize;
            }
        }
    }
}

// responsive
@media (max-width: 575px) {
    .w-75 {
        width: 100% !important;
    }
    .header-bot .content-header-bot {
        padding-top: 40px;
    }
    .nav-tabs .nav-item {
        width: 115px;
    }
    .nav-link {
        padding-right: 5px;
        padding-left: 5px;
    }
    .header-bot .nav-tabs-header li a i {
        display: none;
    }
    .block-register,
    .block-register .register-inner {
        height: 200px;
    }
    .block-register .register-company {
        margin-top: 30px;
    }
    .block-register .title-register {
        font-size: 19px;
        text-transform: capitalize;
    }
    .block-register .sub-title {
        font-size: 14px;
    }
    .statistical .statistical-item a img {
        width: 85px;
    }
    .statistical .statistical-item .icon-box-text h4 {
        font-size: 21px;
    }
    .statistical .statistical-item .icon-box-text p {
        font-size: 16px;
    }
    .modal-dialog {
        max-width: 85% !important;
        margin: auto;
    }
    .item-logo {
        margin-bottom: 15px;
       
    }
    section.ads-company .list-logo .item-logo p {
        padding-top: 2px;
        line-height: 20px;
    }
    .title-main p {
        font-size: 21px;
        line-height: 25px;
    }
    section.ads-company {
        margin-bottom: 20px;
    }
}
