<!-- start header bot-->
<div class="header-bot">
  <div class="overlay-header-bot">
    <div class="container w-75">
      <div class="content-header-bot">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-header">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#job"><i class="fas fa-briefcase"></i>Tìm việc
              làm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#candidate"><i class="far fa-address-card"></i>Tìm ứng
              viên</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#company"><i class="far fa-building"></i>Tìm công ty</a>
          </li>
        </ul>
        <!-- end nav tabs -->

        <!-- content tab -->
        <div class="tab-content tab-content-header pt-0">

          <!-- start tab job -->
          <div id="job" class="container tab-pane active"><br>
            <div class="row">

              <!-- title -->
              <div class="col-md-12 relative title-search">
                <i class="fas fa-briefcase"></i>
                <input type="email" class="form-control" id="exampleFormControlInput1"
                  placeholder="Tiêu đề công việc bạn muốn tìm..." [(ngModel)]="keyword">
              </div>

              <div class="col-md-12 pt-3">
                <div class="row">

                  <!-- ngành nghề -->
                  <div class="col-md-4">
                    <div class="form-group select-custom">
                      <i class="fas fa-list-ul"></i>
                      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="career">
                        <option *ngFor="let item of listCareer" [value]="item.id">{{item.name}}</option>
                      </select>
                    </div>
                  </div>

                  <!-- địa điểm -->
                  <div class="col-md-4">
                    <div class="form-group select-custom">
                      <i class="fas fa-map-marker-alt"></i>
                      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="city">
                        <option *ngFor="let item of listCity" [value]="item.id">{{item.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3 btn-search">
                    <button (click)="onSearchJobClick()"><span><i class="fas fa-search"></i>TÌM KIẾM</span></button>
                    <a class="find-advance" data-toggle="modal" data-target="#modalFindAdvance">Tìm kiếm
                      nâng cao <i class="fas fa-angle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end tab job -->

          <!-- start tab candidate-->
          <div id="candidate" class="container tab-pane fade"><br>
            <div class="row">
              <div class="col-md-12 relative title-search">
                <i class="fas fa-briefcase"></i>
                <input type="email" class="form-control" id="exampleFormControlInput1"
                  placeholder="Nhập tên ứng viên bạn muốn tìm..." [(ngModel)]="keyword">
              </div>
              <div class="col-md-12 pt-3">
                <div class="row">

                  <!-- ngành nghề -->
                  <div class="col-md-4">
                    <div class="form-group select-custom">
                      <i class="fas fa-list-ul"></i>
                      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="career">
                        <option *ngFor="let item of listCareer" [value]="item.id">{{item.name}}</option>
                      </select>
                    </div>
                  </div>

                  <!-- địa điểm -->
                  <div class="col-md-4">
                    <div class="form-group select-custom">
                      <i class="fas fa-map-marker-alt"></i>
                      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="city">
                        <option *ngFor="let item of listCity" [value]="item.id">{{item.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3 btn-search">
                    <button (click)="onSearchCandidateClick()"><span><i class="fas fa-search"></i>TÌM
                        KIẾM</span></button>
                    <a class="find-advance" data-toggle="modal" data-target="#modalFindCandidateAdvance">Tìm
                      kiếm
                      nâng cao <i class="fas fa-angle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end tab candidate -->

          <!-- start tab company -->
          <div id="company" class="container tab-pane fade"><br>
            <div class="row">

              <!-- từ khóa -->
              <div class="col-md-12 relative title-search">
                <div class="form-group">
                  <i class="far fa-building"></i>
                  <input type="email" class="form-control" id="exampleFormControlInput1"
                    placeholder="Nhập tên công ty bạn muốn tìm..." [(ngModel)]="keyword">
                </div>
              </div>

              <!-- ngành nghề -->
              <div class="col-md-4">
                <div class="form-group select-custom">
                  <i class="fas fa-list-ul"></i>
                  <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="career">
                    <option *ngFor="let item of listCareer" [value]="item.id">{{item.name}}</option>
                  </select>
                </div>
              </div>

              <!-- địa điểm -->
              <div class="col-md-4">
                <div class="form-group select-custom">
                  <i class="fas fa-map-marker-alt"></i>
                  <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="city">
                    <option *ngFor="let item of listCity" [value]="item.id">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 btn-search">
                <button (click)="onSearchCompanyClick()"><span><i class="fas fa-search"></i>TÌM KIẾM</span></button>
              </div>
            </div>
          </div>
          <!-- end tab company -->

        </div>
        <!-- content tab -->

        <!-- start modal find advance job-->
        <div class="modal fade" id="modalFindAdvance" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-search pr-2"></i>Tìm kiếm công việc
                  mơ ước</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <!-- modal body -->
              <div class="modal-body" id="find-advance">
                <div class="row">
                  <div class="col-md-12 relative title-search">
                    <i class="fas fa-briefcase"></i>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                      placeholder="Tên công việc bạn muốn tìm..." [(ngModel)]="keyword">
                  </div>

                  <!-- ngành nghề -->
                  <div class="col-md-12 pt-3">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group select-custom">
                          <i class="fas fa-list-ul"></i>
                          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="career">
                            <option *ngFor="let item of listCareer" [value]="item.id">{{item.name}}</option>
                          </select>
                        </div>
                      </div>

                      <!-- địa điểm -->
                      <div class="col-md-4">
                        <div class="form-group select-custom">
                          <i class="fas fa-map-marker-alt"></i>
                          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="city">
                            <option *ngFor="let item of listCity" [value]="item.id">{{item.name}}</option>
                          </select>
                        </div>
                      </div>

                      <!-- lương -->
                      <div class="col-md-4">
                        <div class="form-group select-custom">
                          <i class="fas fa-dollar-sign"></i>
                          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="salary">
                            <option *ngFor="let item of salaries" [value]="item.value">{{item.viewValue}}</option>
                          </select>
                        </div>
                      </div>

                      <!-- kinh nghiệm -->
                      <div class="col-md-4">
                        <div class="form-group select-custom">
                          <i class="far fa-clock"></i>
                          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="exp">
                            <option *ngFor="let item of expYears" [value]="item.value">{{item.viewValue}}</option>
                          </select>
                        </div>
                      </div>

                      <!-- loại hình công việc -->
                      <div class="col-md-4">
                        <div class="form-group select-custom">
                          <i class="fas fa-laptop-house"></i>
                          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="typeofwork">
                            <option *ngFor="let item of typeOfWork" [value]="item.value">{{item.viewValue}}</option>
                          </select>
                        </div>
                      </div>

                      <!-- giới tính -->
                      <div class="col-md-4">
                        <div class="form-group select-custom">
                          <i class="fas fa-venus-mars"></i>
                          <select class="form-control" id="exampleFormControlSelect1"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sex">
                            <option *ngFor="let item of sexs" [value]="item.value">{{item.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3 btn-search mx-auto">
                        <button (click)="onSearchJobClick()" data-dismiss="modal"><span><i class="fas fa-search"></i>TÌM
                            KIẾM</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="close-find-advance" data-dismiss="modal">Đóng tìm kiếm nâng cao <i
                    class="fas fa-angle-right"></i></a>
              </div>
              <!-- end modal body -->

            </div>
          </div>
        </div>
        <!-- end modal find advance job -->

        <!-- start modal find advance candidate-->
        <div class="modal fade" id="modalFindCandidateAdvance" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-search pr-2"></i>Tìm kiếm công việc
                  mơ ước Candidate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <!-- modal body -->
              <div class="modal-body" id="find-advance">
                <div class="row">
                  <div class="col-md-12 relative title-search">
                    <i class="fas fa-briefcase"></i>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                      placeholder="Tên ứng viên bạn muốn tìm" [(ngModel)]="keyword">
                  </div>

                  <!-- ngành nghề -->
                  <div class="col-md-12 pt-3">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group select-custom">
                          <i class="fas fa-list-ul"></i>
                          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="career">
                            <option *ngFor="let item of listCareer" [value]="item.id">{{item.name}}</option>
                          </select>
                        </div>
                      </div>

                      <!-- địa điểm -->
                      <div class="col-md-4">
                        <div class="form-group select-custom">
                          <i class="fas fa-map-marker-alt"></i>
                          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="city">
                            <option *ngFor="let item of listCity" [value]="item.id">{{item.name}}</option>
                          </select>
                        </div>
                      </div>

                      <!-- lương -->
                      <div class="col-md-4">
                        <div class="form-group select-custom">
                          <i class="fas fa-dollar-sign"></i>
                          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="salary">
                            <option *ngFor="let item of salaries" [value]="item.value">{{item.viewValue}}</option>
                          </select>
                        </div>
                      </div>

                      <!-- kinh nghiệm -->
                      <div class="col-md-4">
                        <div class="form-group select-custom">
                          <i class="far fa-clock"></i>
                          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="exp">
                            <option *ngFor="let item of expYears" [value]="item.value">{{item.viewValue}}</option>
                          </select>
                        </div>
                      </div>

                      <!-- loại hình công việc -->
                      <div class="col-md-4">
                        <div class="form-group select-custom">
                          <i class="fas fa-laptop-house"></i>
                          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="typeofwork">
                            <option *ngFor="let item of typeOfWork" [value]="item.value">{{item.viewValue}}</option>
                          </select>
                        </div>
                      </div>

                      <!-- giới tính -->
                      <div class="col-md-4">
                        <div class="form-group select-custom">
                          <i class="fas fa-venus-mars"></i>
                          <select class="form-control" id="exampleFormControlSelect1"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sex">
                            <option *ngFor="let item of sexs" [value]="item.value">{{item.viewValue}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3 btn-search mx-auto">
                        <button (click)="onSearchCandidateClick()" data-dismiss="modal"><span><i
                              class="fas fa-search"></i>TÌM
                            KIẾM</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="close-find-advance" data-dismiss="modal">Đóng tìm kiếm nâng cao <i
                    class="fas fa-angle-right"></i></a>
              </div>
              <!-- end modal body -->

            </div>
          </div>
        </div>
        <!-- end modal find advance candidate -->

      </div>
      <!-- end content-header-bot -->
    </div>
  </div>
</div>
<!-- end header bot-->

<!-- ads-company -->
<section class="ads-company">
  <div class="container">
    <div class="title-main">
      <p>Top nhà tuyển dụng thương hiệu hàng đầu</p>
    </div>
    <div class class="row list-logo" *ngIf="listAdsCompany!=null">
      <div class="col-md-2 col-6 item-logo" *ngFor="let item of listAdsCompany" (click)="onDetailCompanyClick(item.id)">
        <a><img src="{{item.logo}}" alt="logo"></a>
        <p>{{item.companyname}}</p>
      </div>
    </div>
  </div>
</section>
<!--end - ads-company -->

<!-- job hot -->
<section class="job-hot">
  <div class="container">
    <div class="block-title">
      <h3 class="title-left">
        <span class="text">
          Việc làm HOT
        </span>
        <span class="line"></span>
      </h3>
    </div>

    <!-- start slide -->
    <div class="row">
      <div class="col-md-12">
        <div id="job-hot-slide" class="carousel slide carousel-fade" data-ride="carousel">
          <!-- start carousel-inner-->
          <div class="carousel-inner">

            <div class="carousel-item" [ngClass]="{'active': slideItem.active}" *ngFor="let slideItem of listHotJob">
              <div class="row" *ngFor="let rowSlide of slideItem.rowSlide">
                <div class="col-md-6" *ngFor="let colSlide of rowSlide">
                  <div class="job-item d-flex">
                    <a class="thumb-img d-block" target="_blank"><img src="{{colSlide.logo}}" alt="logo"
                        class="img-fluid d-block"></a>
                    <div class="desc-job">
                      <a class="position" title="{{colSlide.position}}"
                        (click)="onDetailJobClick(colSlide.id)">{{colSlide.position}}
                      </a>
                      <img (click)="onDetailJobClick(colSlide.id)" class="hot-new" src="../../../../assets/img/hot_new.png" alt="logo">
                      <p class="name-company" (click)="onDetailCompanyClick(colSlide.idcomapny)">
                        {{colSlide.companyname}}</p>
                      <div class="address d-flex">
                        <div class="location">
                          <i class="fas fa-map-marker-alt"></i>
                          <span>Đà Nẵng: Ngũ Hành Sơn</span>
                        </div>
                        <div class="salary">
                          <strong>{{colSlide.salary}} triệu</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end carousel-inner -->

          <!-- start indicators -->
          <ol class="carousel-indicators">
            <li data-target="#job-hot-slide" class="active" data-slide-to="0"></li>
            <li data-target="#job-hot-slide" data-slide-to="1"></li>
          </ol>
          <!-- end indicators -->
        </div>
      </div>
    </div>
    <!-- end slide -->

  </div>
</section>
<!-- end hot job -->

<!-- start block register -->
<section class="block-register">
  <div class="register-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-6 text-center register-company">
          <p class="title-register">
            Đăng ký công ty
          </p>
          <div class="sub-title">
            Đăng công việc của bạn và bắt đầu tuyển dụng
          </div>
          <div class="button-register">
            <a routerLink="/registercompany" class="btn btn-1">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
              </svg>
              Đăng Ký Ngay
            </a>
          </div>
        </div>
        <div class="col-md-6 col-6 text-center register-company">
          <p class="title-register">
            Đăng ký ứng viên
          </p>
          <div class="sub-title">
            Tìm kiếm công việc bạn mơ ước
          </div>
          <div class="button-register">
            <a routerLink="/registercandidate" class="btn btn-1">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
              </svg>
              Đăng Ký Ngay
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- end  block register -->

<!-- job ads -->
<section class="job-hot">
  <div class="container">
    <div class="block-title">
      <h3 class="title-left">
        <span class="text">
          Việc làm Đề Xuất
        </span>
        <span class="line"></span>
      </h3>
    </div>
    <!-- start slide -->
    <div class="row">
      <div class="col-md-12">
        <div id="job-offer-slide" class="carousel slide carousel-fade" data-ride="carousel">
          <!-- start carousel-inner-->
          <div class="carousel-inner">
            <div class="carousel-item" [ngClass]="{'active': slideItem.active}" *ngFor="let slideItem of listJobAds">
              <div class="row" *ngFor="let rowSlide of slideItem.rowSlide">
                <div class="col-md-6" *ngFor="let colSlide of rowSlide">
                  <div class="job-item d-flex">
                    <a class="thumb-img d-block" target="_blank"><img src="{{colSlide.logo}}" alt="logo"
                        class="img-fluid d-block"></a>
                    <div class="desc-job">
                      <a class="position" title="{{colSlide.position}}"
                        (click)="onDetailJobClick(colSlide.id)">{{colSlide.position}}
                      </a>
                      <img (click)="onDetailJobClick(colSlide.id)" class="hot-new" src="../../../../assets/img/hot_new.png" alt="logo">
                      <p class="name-company" (click)="onDetailCompanyClick(colSlide.idcomapny)">
                        {{colSlide.companyname}}</p>
                      <div class="address d-flex">
                        <div class="location">
                          <i class="fas fa-map-marker-alt"></i>
                          <span>{{colSlide.addresswork}}</span>
                        </div>
                        <div class="salary">
                          <strong>{{colSlide.salary}} Triệu</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- end carousel-inner -->

          <!-- start indicators -->
          <ol class="carousel-indicators">
            <li data-target="#job-offer-slide" class="active" data-slide-to="0"></li>
            <li data-target="#job-offer-slide" data-slide-to="1"></li>
          </ol>
          <!-- end indicators -->
        </div>

      </div>
    </div>
    <!-- end slide -->

  </div>
</section>
<!-- end job-offer -->

<!-- start statistical -->
<section class="statistical">
  <div class="container">
    <div class="title-main">
      <p>Số liệu thống kê</p>
    </div>
    <div class="row">
      <div class="col-md-3 col-6 statistical-item">
        <a><img src="../../../../assets/img/company.png" alt="logo"></a>
        <div class="icon-box-text text-center">
          <h4>{{totalCompany}}</h4>
          <p>Nhà tuyển dụng</p>
        </div>
      </div>
      <div class="col-md-3 col-6 statistical-item">
        <a><img src="../../../../assets/img/candidate.png" alt="logo"></a>
        <div class="icon-box-text text-center">
          <h4>{{totalCandidate}}</h4>
          <p>Ứng viên</p>
        </div>
      </div>
      <div class="col-md-3 col-6 statistical-item">
        <a><img src="../../../../assets/img/job.png" alt="logo"></a>
        <div class="icon-box-text text-center">
          <h4>{{totalJob}}</h4>
          <p>Việc làm</p>
        </div>
      </div>
      <div class="col-md-3 col-6 statistical-item">
        <a><img src="../../../../assets/img/apply.png" alt="logo"></a>
        <div class="icon-box-text text-center">
          <h4>{{totalApply}}</h4>
          <p>Lượt ứng tuyển</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end start statistical -->