<mat-card class="border border-info">	
    <div class="alert alert-info text-center" role="alert">	
        <h5 class="text-uppercase font-weight-bolder">Thông tin B1ManagerUser</h5>	
    </div>	
	
    <mat-card-content class="custom-overflow">	
        <!-- username field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.username" [required]="'true'" placeholder="Username">	
        </mat-form-field>	
	
        <!-- password field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.password" [required]="'true'" placeholder="Password">	
        </mat-form-field>	
	
        <!-- address field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.address" [required]="'true'" placeholder="Address">	
        </mat-form-field>	
	
        <!-- phone field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.phone" [required]="'true'" placeholder="Phone">	
        </mat-form-field>	
	
        <!-- born field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.born" [required]="'true'" placeholder="Born">	
        </mat-form-field>	
	
        <!-- sex field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.sex" [required]="'true'" placeholder="Sex">	
        </mat-form-field>	
	
        <!-- email field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.email" [required]="'true'" placeholder="Email">	
        </mat-form-field>	
	
    </mat-card-content>	
	
    <div class="text-center">	
        <button *ngIf="type == 1" (click)="onDeleteClick()" class="btn btn-danger custom-margin-button" mat-button>Xóa	
        </button>	
        <button class="btn btn-warning custom-margin-button" mat-button [mat-dialog-close]="data.animal">Đóng</button>	
        <button cdkFocusInitial (click)="onOkClick()" class="btn btn-info custom-margin-button" mat-button>Đồng	
            ý</button>	
    </div>	
	
</mat-card>	
