<div class="alert alert-info text-center" role="alert">	
<h5 class="text-uppercase font-weight-bolder">Hệ thống Quản Lý Đại Lý</h5>	
</div>	
	
<div class="text-center">	
<button (click)="onInsertData()" class="btn btn-info custom-margin-button" mat-button 	
cdkFocusInitial>Thêm Đại Lý</button>	
</div>	
	
<mat-form-field>	
<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm giao dịch">	
</mat-form-field>	
	
<div class="mat-elevation-z8">	
<table mat-table [dataSource]="dataSource" matSort>	
	
        <!-- id Column -->	
        <ng-container matColumnDef="id">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>	
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>	
        </ng-container>	
	
        <!-- username Column -->	
        <ng-container matColumnDef="username">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>	
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>	
        </ng-container>	
	
        <!-- password Column -->	
        <ng-container matColumnDef="password">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>	
          <td mat-cell *matCellDef="let element"> {{element.password}} </td>	
        </ng-container>	
	
        <!-- address Column -->	
        <ng-container matColumnDef="address">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>	
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>	
        </ng-container>	
	
        <!-- phone Column -->	
        <ng-container matColumnDef="phone">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>	
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>	
        </ng-container>	
	
        <!-- born Column -->	
        <ng-container matColumnDef="born">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Born </th>	
          <td mat-cell *matCellDef="let element"> {{element.born}} </td>	
        </ng-container>	
	
        <!-- sex Column -->	
        <ng-container matColumnDef="sex">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sex </th>	
          <td mat-cell *matCellDef="let element"> {{element.sex}} </td>	
        </ng-container>	
	
        <!-- email Column -->	
        <ng-container matColumnDef="email">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>	
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>	
        </ng-container>	
	
	
	
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>	
<tr mat-row (dblclick)="onUpdateData(row)" class="example-element-row" *matRowDef="let row; columns: displayedColumns;">	
</tr>	
</table>	
	
<mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" showFirstLastButtons></mat-paginator>	
</div>	
