.header {
    .thumb {
        text-align: center;
        img {
            width: 179px;
            height: 109px;
            object-fit: contain;
        }
    }
    .title {
        font-weight: 700;
        font-size: 26px;
        color: #333;
        margin-bottom: 20px;
    }
}
.statistical {
    margin-top: 30px;
    margin-bottom: 30px;
    .statistical-item {
        padding: 25px 25px 25px 25px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s, opacity 0.3s;
        @media (max-width: 575px) {
            margin-bottom: 20px;
        }
        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
            transform: translateY(-6px);
            transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s, opacity 0.3s;
        }
        i {
            font-size: 200%;
            color: #22924c;
        }
        h3 {
            font-size: 200%;
            color: #22924c;
            margin-bottom: 0px;
        }
        p {
            font-weight: bold;
            color: #333;
        }
    }
}
.staffs {
    .title {
        font-weight: 700;
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .staff {
        text-align: center;
        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
        .name {
            font-weight: 700;
            font-size: 21px;
            color: #333;
            margin-top: 5px;
            margin-bottom: 0px;
        }
        .position {
            font-weight: 500;
            font-size: 16px;
            margin: 0;
        }
        .desc {
            font-size: 16px;
            color: #999;
            margin-top: 0px;
        }
    }
}

.intro {
    background-color: rgb(242, 240, 240);
    padding-bottom: 30px;
    .desc-info {
        padding: 20px 40px 0px 40px;
        background: #fff;
    }
}
