<mat-card class="border border-info">	
    <div class="alert alert-info text-center" role="alert">	
        <h5 class="text-uppercase font-weight-bolder">Thông tin B4ManagerStaff</h5>	
    </div>	
	
    <mat-card-content class="custom-overflow">	
        <!-- username field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.username" [required]="'true'" placeholder="Username">	
        </mat-form-field>	
	
        <!-- password field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.password" [required]="'true'" placeholder="Password">	
        </mat-form-field>	
	
        <!-- status field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.status" [required]="'true'" placeholder="Status">	
        </mat-form-field>	
	
        <!-- startdate field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.startdate" [required]="'true'" placeholder="Startdate">	
        </mat-form-field>	
	
        <!-- permission field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.permission" [required]="'true'" placeholder="Permission">	
        </mat-form-field>	
	
    </mat-card-content>	
	
    <div class="text-center">	
        <button *ngIf="type == 1" (click)="onDeleteClick()" class="btn btn-danger custom-margin-button" mat-button>Xóa	
        </button>	
        <button class="btn btn-warning custom-margin-button" mat-button [mat-dialog-close]="data.animal">Đóng</button>	
        <button cdkFocusInitial (click)="onOkClick()" class="btn btn-info custom-margin-button" mat-button>Đồng	
            ý</button>	
    </div>	
	
</mat-card>	
