<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Cập nhật huấn luyện viên</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom contain-dialog">
    <div class="row">
        <form [formGroup]="form" class="col-md-12">
            <div class="row">
                <!-- Tên huấn luyện viên -->
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Tên huấn luyện viên <span class="text-red">*</span></mat-label>
                        <input formControlName="coachName" matInput placeholder="Tên huấn luyện viên..." [(ngModel)]="input.fullname" />
                    </mat-form-field>

                    <div *ngIf="form.controls['coachName'].invalid && (form.controls['coachName'].dirty || form.controls['coachName'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['coachName'].errors.required">
                            Bắt buộc nhập tên huấn luyện viên
                        </div>
                        <div *ngIf="form.controls['coachName'].errors.maxlength">
                            Bạn không được nhập quá {{maxCoachName}} ký tự
                        </div>
                        <div *ngIf="form.controls['coachName'].errors.minlength">
                            Bạn vui lòng nhập ít nhất {{minCoachName}} ký tự
                        </div>
                        <div *ngIf="form.controls['coachName'].errors.pattern">
                            Bạn vui lòng không nhập ký tự đặc biệt/ký tự có dấu/ký tự trắng đầu tiên
                        </div>
                    </div>
                </div>

                <!-- Năm sinh -->
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Ngày sinh <span class="text-red">*</span></mat-label>
                        <input [min]="minDate" onkeypress="return false" [max]="maxDate" formControlName="coachBorn" matInput type="date" placeholder="Ngày sinh (DD/MM/YYYY)" [(ngModel)]="input.born" />
                        <!-- <mat-datepicker-toggle matSuffix [for]="picker"  ></mat-datepicker-toggle>
                        <mat-datepicker #picker disabled="false"></mat-datepicker> -->
                    </mat-form-field>

                    <div *ngIf="form.controls['coachBorn'].invalid && (form.controls['coachBorn'].dirty || form.controls['coachBorn'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['coachBorn'].errors.required">
                            Bắt buộc chọn ngày sinh
                        </div>

                    </div>

                </div>

                <!-- Giới tính -->
                <div class="col-md-6">
                    <mat-form-field class="example-half-width">
                        <mat-label>Giới tính <span class="text-red">*</span></mat-label>
                        <mat-select formControlName="coachGender" [(ngModel)]="input.sex">
                            <mat-option *ngFor="let genderItem of genders" [value]="genderItem.value">
                                {{genderItem.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div *ngIf="form.controls['coachGender'].invalid && (form.controls['coachGender'].dirty || form.controls['coachGender'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['coachGender'].errors.required">
                            Bắt buộc chọn giới tính
                        </div>
                    </div>
                </div>

                <!-- Số điện thoại  -->
                <div class="col-md-6">
                    <mat-form-field class="example-half-width ">
                        <mat-label>Số điện thoại<span class="text-red">*</span></mat-label>
                        <input type="tel" formControlName="coachPhone" matInput placeholder="Nhập số điện thoại.." [(ngModel)]="input.phone">
                    </mat-form-field>

                    <div *ngIf="form.controls['coachPhone'].invalid && (form.controls['coachPhone'].dirty || form.controls['coachPhone'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['coachPhone'].errors.required">
                            Bắt buộc nhập số điện thoại huấn luyện viên
                        </div>
                        <div *ngIf="form.controls['coachPhone'].errors.maxlength">
                            Bạn không được nhập quá {{maxCoachPhone}} số
                        </div>
                        <div *ngIf="form.controls['coachPhone'].errors.minlength">
                            Bạn vui lòng nhập it nhất {{minCoachPhone}} số
                        </div>
                        <div *ngIf="form.controls['coachPhone'].errors.pattern">
                            Vui lòng chỉ nhập số
                        </div>
                    </div>
                </div>

                <!-- Địa chỉ -->
                <div class="col-md-6">
                    <mat-form-field class="example-half-width ">
                        <mat-label>Địa chỉ<span class="text-red">*</span></mat-label>
                        <input formControlName="coachAddress" matInput placeholder="Nhập địa chỉ.." [(ngModel)]="input.address">

                    </mat-form-field>

                    <div *ngIf="form.controls['coachAddress'].invalid && (form.controls['coachAddress'].dirty || form.controls['coachAddress'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['coachAddress'].errors.required">
                            Bắt buộc nhập địa chỉ
                        </div>
                        <div *ngIf="form.controls['coachAddress'].errors.maxlength">
                            Bạn không được nhập quá {{maxCoachAddress}} ký tự
                        </div>
                        <div *ngIf="form.controls['coachAddress'].errors.minlength">
                            Bạn vui lòng nhập ít nhất {{minCoachAddress}} ký tự
                        </div>
                        <div *ngIf="form.controls['coachAddress'].errors.pattern">
                            Bạn vui lòng không nhập ký tự có dấu/ký tự trắng đầu tiên
                        </div>
                    </div>
                </div>

                <!-- Địa chỉ -->
                <div class="col-md-6">
                    <mat-form-field class="example-half-width ">
                        <mat-label>Email<span class="text-red">*</span></mat-label>
                        <input type="email" [email]="true" formControlName="coachEmail" matInput placeholder="Nhập địa chỉ.." [(ngModel)]="input.email">

                    </mat-form-field>

                    <div *ngIf="form.controls['coachEmail'].invalid && (form.controls['coachEmail'].dirty || form.controls['coachEmail'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['coachEmail'].errors.required">
                            Bắt buộc nhập Email
                        </div>
                        <div *ngIf="form.controls['coachEmail'].errors.maxlength">
                            Bạn không được nhập quá {{maxCoachEmail}} ký tự
                        </div>
                        <div *ngIf="form.controls['coachEmail'].errors.minlength">
                            Bạn vui lòng nhập ít nhất {{minCoachEmail}} ký tự
                        </div>
                        <div *ngIf="form.controls['coachEmail'].errors.pattern">
                            Yêu cầu nhập đúng email
                        </div>
                        Vui lòng nhập lại
                    </div>
                </div>

                <!-- Giới thiệu bản thân -->
                <div class="col-md-6">
                    <mat-label>Giới thiệu bản thân <span class="text-red">*</span> </mat-label>
                    <ckeditor formControlName="coachAbout" [(ngModel)]="input.about" [config]="{uiColor: '#2BBBAD'}" [readonly]="false" debounce="500">
                    </ckeditor>
                    <div *ngIf="form.controls['coachAbout'].invalid && (form.controls['coachAbout'].dirty || form.controls['coachAbout'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['coachAbout'].errors.required">
                            Bạn vui lòng không nhập trường này
                        </div>
                        <div *ngIf="form.controls['coachAbout'].errors.maxlength">
                            Bạn vui lòng không nhập vượt quá {{maxCoachAboutAndSKill}} ký tự
                        </div>
                    </div>

                </div>

                <!-- Skill tư vấn -->
                <div class="col-md-6">
                    <mat-label>Kỹ năng tư vấn <span class="text-red">*</span> </mat-label>
                    <ckeditor formControlName="coachSkill" [(ngModel)]="input.skill" [config]="{uiColor: '#2BBBAD'}" [readonly]="false" debounce="500">
                    </ckeditor>
                    <div *ngIf="form.controls['coachSkill'].invalid && (form.controls['coachSkill'].dirty || form.controls['coachSkill'].touched)" class="alert alert-danger">
                        <div *ngIf="form.controls['coachSkill'].errors.required">
                            Bạn vui lòng không nhập trường này
                        </div>
                        <div *ngIf="form.controls['coachSkill'].errors.maxlength">
                            Bạn vui lòng không nhập vượt quá {{maxCoachAboutAndSKill}} ký tự
                        </div>
                    </div>
                </div>

                <!-- Hình đại diện -->
                <div class="col-md-12 title-main">
                    <div class="container">
                        <h3>Hình đại diện</h3>
                        <img *ngIf="isUpload==true" [src]="imgPreviewURL" width="200px" />
                        <img *ngIf="isUpload==false" [src]="input.avatar" width="200px" />
                        <!-- Hình đại diện -->
                        <mat-card style="box-shadow:none; padding-left: 0;">
                            <mat-card-actions style="margin: 0; padding: 0;">
                                <button style="border:1px solid red; border-radius:3px;" mat-button color="warn" (click)="onOpenUploadFileClick()">  
                                <mat-icon>file_upload</mat-icon>  
                                Cập nhật hình đại diện
                                </button>
                                <input #file type="file" formControlName="coachAvatar" #fileUpload id="fileUpload" name="fileUpload" style="display:none;" multiple="multiple" accept="image/*" (change)="previewImage(file.files)" />
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>

            </div>
        </form>

    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button *ngIf="type == 1" (click)="onDeleteClick()" class="mb-2 mr-2 btn-transition btn btn-danger button-update">Xóa
                </button>
                <button (click)="onOkClick()" class="mb-2 mr-2 btn-transition btn btn-primary button-update">Cập
                    nhật
                </button>
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-destroy" [mat-dialog-close]="data.animal" click="onNoClick()">Hủy bỏ
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end select-top -->