<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Danh sách huấn luyện viên</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
    <form [formGroup]="formSearch">
        <div class="row"> 
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Tên huấn luyện viên</mat-label>
                    <input formControlName="coachName" [(ngModel)]="nameCoach" matInput placeholder="Nhập tên huấn luyện viên..." />            
                </mat-form-field>
                <div *ngIf="formSearch.controls['coachName'].invalid && (formSearch.controls['coachName'].dirty || formSearch.controls['coachName'].touched)"
                    class="alert alert-danger">
                        <div *ngIf="formSearch.controls['coachName'].errors.maxlength">
                            Bạn không được nhập quá 50 ký tự
                        </div>  
                </div> 
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Giới tính:</mat-label>
                    <mat-select formControlName="coachGender"  [(ngModel)]="genderId">
                        <mat-option *ngFor="let genderItem of genders" [value]="genderItem.value">
                            {{genderItem.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="example-button-row contain-button-filter">
                <button (click)="onFilterClick()" class="mb-2 mr-2 btn-transition btn btn-outline-primary button-filter">Lọc
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end select-top -->

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12">
            <a  routerLink="/manager/admin/e1-manager-coaching"   (click)="openDialogInsert()"  class="button-action add">
                <i class="fa fa-fw" aria-hidden="true" title="Thêm mới"></i>
                <span>Thêm mới</span>
            </a>
            <a (click)="onDeleteClick()" routerLink="/manager/admin/e1-manager-coaching" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->

<!-- table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 grid-data-custom">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- STT Column -->
    <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let element">{{element.stt}}</td>
    </ng-container>

    <!-- name -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Tên</th>
        <td mat-cell *matCellDef="let element">{{element.fullname}}</td>
    </ng-container>

    <!-- Avatar -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <!-- Gioi tinh-->
    <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef>Giới tính</th>
        <td mat-cell *matCellDef="let element" >{{getNameGenderByGenderNumber(element.sex)}}</td>
    </ng-container>

    <!-- Năm sinh -->
    <ng-container matColumnDef="born">
        <th mat-header-cell *matHeaderCellDef>Ngày sinh</th>
        <td mat-cell *matCellDef="let element">{{element.born  | date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- Số điện thoại -->
    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Số điện thoại</th>
        <td mat-cell *matCellDef="let element">{{element.phone}}</td>
    </ng-container>

    <!-- Địa chỉ -->
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Địa chỉ</th>
        <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>

    <!-- skill -->
    <ng-container matColumnDef="skill">
        <th mat-header-cell *matHeaderCellDef  >Kỹ năng</th>
        <td mat-cell *matCellDef="let element" >{{shortenString(element.skill)}}</td>
    </ng-container>

    <!-- experience -->
    <ng-container matColumnDef="about">
        <th mat-header-cell *matHeaderCellDef>Kinh nghiệm</th>
        <td mat-cell *matCellDef="let element">{{shortenString(element.about)}}</td>
    </ng-container>

    <!-- order  -->
    <ng-container matColumnDef="account_order">
        <th mat-header-cell *matHeaderCellDef>Được order</th>
        <td mat-cell *matCellDef="let element">{{element.account_order}} lần</td>
    </ng-container>

    <!-- sửa -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>
            Sửa
        </th>
        <td mat-cell *matCellDef="let element">
           <i style="cursor: pointer;" class="fa fa-fw icon-update" aria-hidden="true" title="Sửa" (click)="openDialogUpdate(element)"></i>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
</table>
<!-- end table -->

<!-- button crud -->
<mat-card class="button-system-custom button-system-custom-footer">
    <div class="row">
        <div class="col-md-12">
            <a   routerLink="/manager/admin/e1-manager-coaching" (click)="openDialogInsert()"  class="button-action add">
                <i class="fa fa-fw" aria-hidden="true" title="Thêm mới"></i>
                <span >Thêm mới</span>
            </a>
            <a (click)="onDeleteClick()" routerLink="/manager/admin/e1-manager-coaching" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->
<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>