$color-main: #22924c;
.wp-inner {
    background: #eff3f6;
}
.block-breadcrumb {
    .breadcrumb {
        background: none;
        margin-bottom: 0px;
        .breadcrumb-item {
            a {
                color: $color-main;
            }
        }
    }
}
.header-detail {
    .detail-inner {
        padding: 10px 16px;
        background-color: #fff;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;
        .detail-left {
            margin-top: 10px;
            .logo {
                padding-right: 0px;
                @media (max-width: 575px) {
                    padding-right: 15px;
                }
                .thumb-logo {
                    width: 166px;
                    height: 166px;
                    margin-bottom: 5px;
                    padding: 2px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    border: 1px solid #eee;
                    border-radius: 3px;
                    overflow: hidden;
                    padding: 5px;
                    &:hover {
                        border: 1px solid #6be197;
                        opacity: 0.6;
                    }
                    img {
                        height: 150px;
                        object-fit: contain;
                    }
                    @media (max-width: 575px) {
                        margin: 0 auto 10px;
                    }
                }
            }
            .info-job {
                padding-left: 0px;
                @media (max-width: 575px) {
                    padding-left: 15px;
                }
                .title {
                    margin-bottom: 10px;
                    @media (max-width: 575px) {
                        text-align: center;
                    }
                    p {
                        font-size: 22px;
                        font-weight: 600;
                        margin-bottom: 0px;
                        text-transform: capitalize;
                        cursor: pointer;
                        @media (max-width: 575px) {
                            font-size: 20px;
                            text-align: center;
                            margin-bottom: 7px;
                        }
                    }
                    a {
                        color: #22924c;
                        display: block;
                        font-size: 18px;
                        font-weight: 500;
                        text-transform: capitalize;
                        @media (max-width: 575px) {
                            font-size: 15px;
                        }
                        i {
                            padding-right: 10px;
                        }
                    }
                }
                .desc {
                    margin-bottom: 15px;
                    p {
                        font-weight: 500;
                        margin-bottom: 5px;
                        font-size: 14px;
                        color: #353535;
                        button {
                            background-color: rgba(18, 167, 0, 0.1);
                            border-color: rgba(146, 237, 0, 0.2);
                            color: #22924c;
                            height: 20px;
                            line-height: 13px;
                            margin-right: 4px;
                        }
                        .salary {
                            color: #fc205c;
                        }
                        .post-at {
                            font-weight: 400;
                            color: #353535;
                        }
                    }
                }
                .block-btn {
                    .un-save-button{
                        background-color:#22924c!important;
                        color:#fff!important;
                    }
                    .un-apply-button{
                        background-color:#ff9a00!important;
                        color:#fff!important;
                    }
                    button:first-child {
                        background: #fff;
                        border: 1px solid #bfcbd9;
                        color: #1f2d3d;
                        margin-right: 10px;
                        &:hover {
                            border: 1px solid #22924c;
                            color: #22924c;
                        }
                        i {
                            padding-right: 5px;
                        }
                    }
                    button:last-child {
                        background: #fff;
                        border: 1px solid #bfcbd9;
                        color: #1f2d3d;
                        margin-right: 10px;
                        &:hover {
                            border: 1px solid #ff9a00;
                            color: #e59212;
                            background: #fff;
                        }
                        i {
                            padding-right: 5px;
                        }
                    }
                }
            }
        }
        .sidebar {
            margin-top: 20px;
            text-align: center;
            button {
                background-color: #e93e3e;
                color: #fff;
                margin-bottom: 20px;
                @media (max-width: 575px) {
                    margin-bottom: 10px;
                    height: 40px;
                    line-height: 25px;
                }
                i {
                    padding-right: 5px;
                }
            }
            .info {
                p {
                    font-weight: 500;
                    margin-bottom: 5px;
                    span {
                        font-weight: 400;
                    }
                }
            }
        }
        @media (max-width: 575px) {
            padding: 0 10px;
        }
    }
}
.block-title {
    .title-left {
        overflow: hidden;
        font-weight: 700;
        font-size: 19px;
        border-left: 5px solid $color-main;
        padding: 0 10px;
        line-height: 29px;
        margin-bottom: 15px;
        padding-right: 0;
        position: relative;
        margin-bottom: 0px;

        .line {
            background-color: #d7d7d7;
            bottom: 0;
            height: 1px;
            margin-bottom: auto;
            margin-left: 10px;
            margin-top: auto;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}
.body-detail {
    .body-detail-inner {
        .body-detail-content {
            padding: 10px 16px;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            margin-bottom: 20px;
            .info-fast {
                margin-top: 20px;
                border-bottom: dotted 1px #ebebeb;
                p {
                    font-weight: 500;
                    font-size: 15px;
                    color: #1f1f1f;
                    i {
                        padding-right: 5px;
                        color: $color-main;
                    }
                    span {
                        font-size: 14px;
                        color: #1f1f1f;
                        font-weight: 400;
                    }
                    button {
                        height: 24px;
                        padding: 3px 8px;
                        background: #f0f0f0;
                        color: #267d79;
                        margin-right: 7px;
                        line-height: 18px;
                        border-radius: 2px;
                        text-decoration: none !important;
                        border: 1px solid #e6e6e6;
                    }
                }
            }
            .block-desc {
                margin-top: 15px;
                .desc-job {
                    padding-top: 10px;
                }
            }
        }
        .info-contact {
            padding: 10px 16px;
            padding-bottom: 20px;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            margin-bottom: 20px;
            p {
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 13px;
            }
            .title-info {
                p {
                    font-weight: 500;
                    line-height: 24px;
                    font-size: 15px;
                    margin-bottom: 10px;
                }
            }
            .block-btn {
                .un-apply-button{
                    background-color:#ff9a00!important;
                    color:#fff!important;
                }
                button:first-child {
                    background: #fff;
                    border: 1px solid #bfcbd9;
                    color: #1f2d3d;
                    margin-right: 10px;
                    &:hover {
                        border: 1px solid #22924c;
                        color: #22924c;
                    }
                    i {
                        padding-right: 5px;
                    }
                }
                button:last-child {
                    background: #fff;
                    border: 1px solid #bfcbd9;
                    color: #1f2d3d;
                    margin-right: 10px;
                    &:hover {
                        border: 1px solid #ff9a00;
                        color: #e59212;
                        background: #fff;
                    }
                    i {
                        padding-right: 5px;
                    }
                }
            }
        }
        .body-detail-sidebar {
            .content-company-info {
                background: #fff;
                border-radius: 3px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                margin-bottom: 20px;
                padding: 0 10px;
                padding-bottom: 30px;
                .thumb-logo {
                    width: 256px;
                    min-height: 180px;
                    margin-bottom: 5px;
                    margin: auto;
                    text-align: center;
                    padding-top: 40px;
                    padding-bottom: 20px;

                    img {
                        object-fit: content;
                    }
                }
                .name {
                    line-height: 30px;
                    font-size: 17px;
                    text-align: center;
                    color: #22924c;
                    margin-bottom: 10px;
                    @media (max-width: 575px) {
                        margin-bottom: 5px;
                    }
                }
                .address {
                    padding: 4px 0;
                    cursor: pointer;
                    text-align: center;
                    font-size: 15px;
                    margin-bottom: 0px;
                    i {
                        padding-right: 5px;
                        color: #403b3b;
                    }
                    label {
                        padding-right: 5px;
                        font-weight: bold;
                        color: #353535;
                    }
                    span {
                        font-size: 15px;
                    }
                }
                .block-btn {
                    button:first-child {
                        background: #fff;
                        border: 1px solid #bfcbd9;
                        color: #1f2d3d;
                        margin-right: 10px;
                        &:hover {
                            border: 1px solid #22924c;
                            color: #22924c;
                        }
                        i {
                            padding-right: 5px;
                        }
                    }
                }
                .info-more {
                    text-align: center;
                    @media (max-width: 575px) {
                        margin: auto;
                    }
                    .total-job {
                        border: 1px solid $color-main;
                        border-radius: 3px;
                        padding: 0;
                        @media (max-width: 575px) {
                            margin-right: 45px;
                        }
                        .title {
                            margin: auto;
                            padding: 10px 20px;
                            background: $color-main;
                            color: #fff;
                            font-size: 18px;
                        }
                        .number {
                            color: $color-main;
                            font-size: 40px;
                        }
                    }
                    .confirm {
                        padding: 8px;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        padding-top: 15px;
                    }
                }
            }
            .map-company {
                background: #fff;
                border-radius: 3px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                margin-bottom: 20px;
                padding: 15px;
            }
        }
    }
}
