<div class="wp-inner">
    <div class="block-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="b1-list-work/0/0/none/none/none/none/none">Tuyển dụng</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{job.position}}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="header-detail">
        <div class="container">
            <div class="detail-inner">
                <div class="row">
                    <div class="col-md-9 detail-left">
                        <div class="row">
                            <div class="col-md-3 logo">
                                <a href="" class="thumb-logo d-block">
                                    <img class="img-fluid"
                                        src="{{job.logo}}"
                                        alt="{{job.logo}}">
                                </a>
                            </div>
                            <div class="col-md-9 info-job">
                                <div class="title">
                                    <p>{{job.position}}</p>
                                    <a href=""><i class="far fa-building"></i>{{job.companyname}}</a>
                                </div>
                                <div class="desc">
                                    <p>Địa điểm tuyển dụng: <button type="button"
                                            class="btn btn-primary btn-sm">{{job.addressworkmain}}</button> </p>
                                    <p>Mức lương: <span class="salary">{{job.salary}} triệu</span></p>
                                    <p>Hạn nộp hồ sơ: <span
                                            class="post-at">{{job.deadlineapply | date: 'dd/MM/yyyy'}}</span></p>
                                </div>
                                <div class="block-btn">
                                    <button *ngIf="isSaved==false" (click)="saveOrDeleteWork()" type="button"
                                        class="btn btn-outline-secondary"><i class="far fa-heart"></i>Lưu công
                                        việc</button>
                                    <button *ngIf="isSaved==true" (click)="saveOrDeleteWork()" type="button"
                                        class="btn btn-outline-secondary un-save-button"><i class="far fa-heart"></i>Bỏ
                                        Lưu công
                                        việc</button>
                                    <button *ngIf="isApllied==false" (click)="applyOrUnapplyWork()" type="button"
                                        class="btn btn-outline-secondary"><i class="fas fa-id-badge"></i>Ứng tuyển
                                        ngay</button>
                                    <button *ngIf="isApllied==true" (click)="applyOrUnapplyWork()" type="button"
                                        class="btn btn-outline-secondary un-apply-button"><i
                                            class="fas fa-id-badge"></i>Bỏ Ứng tuyển
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sidebar">
                            <button type="button" class="btn btn-lg"><i class="fas fa-file-signature"></i>Tin xác
                                thực</button>
                            <div class="info">
                                <p>Lượt xem: <span>{{job.numberview}}</span></p>
                                <p>Ngày đăng: <span>{{job.postdate | date: 'dd/MM/yyyy'}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-detail">
        <div class="container">
            <div class="row body-detail-inner">
                <div class="col-md-8">
                    <div class="body-detail-content">
                        <div class="block-title">
                            <h3 class="title-left">
                                <span class="text" (click)="onLoadDataJob()">
                                    Thông tin tuyển dụng nhanh
                                </span>
                                <span class="line"></span>
                            </h3>
                        </div>
                        <div class="row info-fast">
                            <div class="col-md-6">
                                <p><i class="fas fa-briefcase"></i>Chức vụ: <span>Nhân viên</span></p>
                                <p><i class="fas fa-laptop-house"></i>Loại hình công việc:
                                    <span>{{convertTOWNumberToTOWName(job.typeofwork)}}</span></p>
                                <p><i class="fas fa-venus-mars"></i>Yêu cầu giới tính:
                                    <span>{{convertSexNumberToSexName(job.sex)}}</span></p>

                            </div>
                            <div class="col-md-6">
                                <p><i class="far fa-clock"></i>Kinh nghiệm:
                                    <span>{{convertExpYeasNumberToExpYeasName(job.exprience)}}</span></p>
                                <p><i class="far fa-id-card"></i>Yêu cầu bằng cấp: <span>Trung học trở lên</span></p>
                                <p><i class="fas fa-users"></i>Số lượng cần tuyển: <span>10 ứng viên</span></p>
                            </div>
                            <div class="col-12">
                                <p><i class="fas fa-globe"></i> Ngành nghề: <button type="button"
                                        class="btn btn-primary btn-sm">{{job.careermain}}</button></p>

                            </div>
                        </div>
                        <!-- desc job -->
                        <div class="block-desc">
                            <div class="block-title">
                                <h3 class="title-left">
                                    <span class="text">
                                        Mô tả công việc
                                    </span>
                                    <span class="line"></span>
                                </h3>
                            </div>
                            <div class="row desc-job pb-2">
                                <div class="col-12">
                                    <div>
                                        {{job.descriptionwork}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end desc job -->

                        <!-- require job -->
                        <div class="block-require">
                            <div class="block-title">
                                <h3 class="title-left">
                                    <span class="text">
                                        Yêu cầu công việc
                                    </span>
                                    <span class="line"></span>
                                </h3>
                            </div>
                            <div class="row require-job">
                                <div class="col-12">
                                    <div>
                                        {{job.requirementwork}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end require job-->

                        <!-- benefit job -->
                        <div class="block-desc">
                            <div class="block-title">
                                <h3 class="title-left">
                                    <span class="text">
                                        Quyền lợi được hưởng
                                    </span>
                                    <span class="line"></span>
                                </h3>
                            </div>
                            <div class="row desc-job">
                                <div class="col-12">
                                    <div>
                                        {{job.benefit}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end benefit job -->

                        <!-- document job -->
                        <div class="block-desc">
                            <div class="block-title">
                                <h3 class="title-left">
                                    <span class="text">
                                        Hồ sơ bao gồm
                                    </span>
                                    <span class="line"></span>
                                </h3>
                            </div>
                            <div class="row desc-job">
                                <div class="col-12">
                                    {{job.requirementdocument}}
                                </div>
                            </div>
                        </div>
                        <!-- end document job -->
                    </div>
                    <div class="info-contact">
                        <div class="block-title">
                            <h3 class="title-left">
                                <span class="text">
                                    Thông tin tuyển dụng nhanh
                                </span>
                                <span class="line"></span>
                            </h3>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3 col-6 title-info">
                                <p>Người liên hệ:</p>
                                <p>Email:</p>
                                <p>Địa chỉ công ty:</p>
                                <p>Hạn nộp hồ sơ:</p>
                            </div>
                            <div class="col-md-9 col-6">
                                <p>{{job.personalcontact}}</p>  
                                <p>{{job.personalemail}}</p>
                                <p>{{job.addresscompany}}</p>
                                <p>{{job.deadlineapply | date: 'dd/MM/yyyy'}}</p>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="block-btn">
                                    <button type="button" class="btn btn-outline-secondary"><i
                                            class="far fa-comment-dots"></i>Gửi tin nhắn</button>
                                    <button *ngIf="isApllied==false" (click)="applyOrUnapplyWork()" type="button"
                                        class="btn btn-outline-secondary"><i class="fas fa-id-badge"></i>Ứng tuyển
                                        ngay</button>
                                    <button *ngIf="isApllied==true" (click)="applyOrUnapplyWork()" type="button"
                                        class="btn btn-outline-secondary un-apply-button"><i
                                            class="fas fa-id-badge"></i>Bỏ Ứng tuyển
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 body-detail-sidebar">
                    <div class="content-company-info">
                        <div class="thumb-logo">
                            <img src="{{job.logo}}" alt="" class="img-fluid">
                        </div>
                        <a href="" class="name d-block">{{job.companyname}}</a>
                        <p class="address"><i class="fas fa-map-marker-alt"></i><label>Địa
                                chỉ:</label><span>{{job.addresscompany}}</span></p>
                        <p class="address"><i class="fas fa-users"></i><label>Quy mô nhân
                                sự:</label><span>{{job.personalscale}}</span></p>
                        <div class="block-btn text-center mt-2 mb-3">
                            <button type="button" class="btn btn-outline-secondary"><i
                                    class="far fa-comment-dots"></i>Gửi tin nhắn</button>
                            <a href="" class="d-inline-block" title="Xem thêm về công ty abc xyz">
                                <button type="button" class="btn btn-outline-secondary"><i
                                        class="far fa-share-square"></i></button>
                            </a>
                        </div>
                        <hr>
                        <div class="row info-more">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-4 md-offset-1 col-5 total-job mr-md-2">
                                <p class="title">
                                    Việc làm
                                </p>
                                <p class="number">
                                    {{totalJobOfCompany}}
                                </p>
                            </div>
                            <div class="col-md-4 col-5 confirm">
                                <!-- <img src="https://mywork.com.vn/_nuxt/img/taikhoanxacthuc.14305b0.png" alt=""> -->
                            </div>
                        </div>
                    </div>
                    <div class="map-company">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.157911381231!2d108.22072771416902!3d16.005293145401115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421a10ed15ea33%3A0x8dad050a02aae05d!2zMTgzIFF1w6FjaCBUaOG7iyBUcmFuZywgSG_DoCBYdcOibiwgQ-G6qW0gTOG7hywgxJDDoCBO4bq1bmcgNTUwMDAwLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1589760857899!5m2!1sen!2s"
                            width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>