<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Cập nhật ứng viên</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom contain-dialog">
    <div class="row">
        <!-- Tên ứng viên -->
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Tên ứng viên</mat-label>
                <input matInput placeholder="Nhập tên ứng viên..." [(ngModel)]="input.fullname" />
            </mat-form-field>
        </div>

        <!-- Email -->
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Email </mat-label>
                <input disabled matInput placeholder="Email ứng viên..." [(ngModel)]="input.email" />
            </mat-form-field>
        </div>

        <!-- số điện thoại -->
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Số điện thoại </mat-label>
                <input disabled matInput placeholder="Số điện thoại ứng viên..." [(ngModel)]="input.phone" />
            </mat-form-field>
        </div>

        <!-- tên địa chỉ -->
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Địa chỉ </mat-label>
                <input disabled matInput placeholder="Địa chỉ ứng viên..." [(ngModel)]="input.address" />
            </mat-form-field>
        </div>


        <!-- Vị trí ứng tuyển -->
        <div class="col-md-6">
            <mat-form-field class="example-half-width">
                <mat-label>Vị trí ứng tuyển</mat-label>
                <input disabled matInput placeholder="Vị trí ứng tuyển..." [(ngModel)]="input.positionapply" />
            </mat-form-field>
        </div>

        <!-- giới tính -->
        <div class="col-md-6">
            <mat-form-field class="example-half-width">
                <mat-label>Giới tính</mat-label>
                <mat-select disabled [(ngModel)]="input.sex">
                    <mat-option *ngFor="let sexItem of sex" [value]="sexItem.value">
                        {{sexItem.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Trình độ học vấn -->
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Trình độ học vấn</mat-label>
                <input disabled matInput placeholder="Trình độ học vấn..." [(ngModel)]="input.academiclevel" />
            </mat-form-field>
        </div>

        <!-- Loại hình công việc -->
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Loại hình công việc</mat-label>
                <mat-select disabled [(ngModel)]="input.typeofwork">
                    <mat-option *ngFor="let typeOfWordItem of typeOfWord" [value]="typeOfWordItem.value">
                        {{typeOfWordItem.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Cấp bậc mong muốn -->
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Cấp bậc mong muốn</mat-label>
                <input disabled matInput placeholder="Cấp bậc mong muốn..." [(ngModel)]="input.academiclevel" />
            </mat-form-field>
        </div>

        <!-- Mức lương mong muốn -->
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Mức lương mong muốn</mat-label>
                <input disabled matInput placeholder="Mức lương mong muốn..." [(ngModel)]="input.salary" />
                <!-- [(ngModel)]="{{input.salary | currency:'VND': true}}" /> -->
            </mat-form-field>
        </div>

        <!-- Số năm kinh nghiệm -->
        <div class="col-md-6">
            <mat-form-field class="example-half-width">
                <mat-label>Số năm kinh nghiệm</mat-label>
                <mat-select disabled [(ngModel)]="input.yearsofexperience">
                    <mat-option *ngFor="let expYearsItem of expYears" [value]="expYearsItem.value">
                        {{expYearsItem.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Nơi làm việc -->
        <div class="col-md-6">
            <mat-form-field>
                <mat-label>Nơi làm việc:</mat-label>
                <mat-select disabled [(ngModel)]="input.workingplace">
                    <mat-option *ngFor="let cityItem of listCity" [value]="cityItem.id">
                        {{cityItem.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!--  Mục tiêu nghề nghiệp -->
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Mô tả mục tiêu nghề nghiệp</mat-label>
                <textarea disabled matInput class="mh-50" [(ngModel)]="input.descriptionstargetjob"></textarea>
            </mat-form-field>
        </div>

        <!--  Kỹ năng bản thân -->
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Mô tả kỹ năng bản thân</mat-label>
                <textarea disabled matInput class="mh-50" [(ngModel)]="input.descriptionskill"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button (click)="onDeleteClick()" class="mb-2 mr-2 btn-transition btn btn-danger button-update">Xóa
                </button>
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-destroy" [mat-dialog-close]>Đóng
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end select-top -->