<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Danh sách ứng viên</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
    <div class="row">
        <!-- name -->
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Tên ứng viên</mat-label>
                <input matInput placeholder="Nhập tên ứng viên..." [(ngModel)]="name" />
            </mat-form-field>
        </div>

        <!-- giới tính -->
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Giới tính</mat-label>
                <mat-select [(ngModel)]="sexId">
                    <mat-option *ngFor="let sexItem of sex" [value]="sexItem.value">
                        {{sexItem.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- occupation -->
        <div class="col-md-6">
            <mat-form-field>
                <mat-label>Ngành nghề:</mat-label>
                <mat-select [(ngModel)]="occupationId">
                    <mat-option *ngFor="let itemOccupation of occupation" [value]='itemOccupation.id'>
                        {{itemOccupation.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- loại hình công việc -->
        <div class="col-md-6">
            <mat-form-field>
                <mat-label>Loại hình công việc:</mat-label>
                <mat-select [(ngModel)]="typeOfWordId">
                    <mat-option *ngFor="let itemTypeOfWord of typeOfWord" [value]='itemTypeOfWord.value'>
                        {{itemTypeOfWord.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Nơi làm việc -->
        <div class="col-md-6">
            <mat-form-field>
                <mat-label>Nơi làm việc:</mat-label>
                <mat-select [(ngModel)]="cityId">
                    <mat-option *ngFor="let cityItem of city" [value]="cityItem.id">
                        {{cityItem.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field>
                <mat-label>Số năm kinh nghiệm:</mat-label>
                <mat-select [(ngModel)]="expYearId">
                    <mat-option *ngFor="let itemExpYears of expYears" [value]='itemExpYears.value'>
                        {{itemExpYears.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="example-button-row contain-button-filter">
                <button class="mb-2 mr-2 btn-transition btn btn-outline-primary button-filter" (click)="onFilterClick()">Lọc
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end select-top -->

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12">
            <a (click)="onDelClick()" routerLink="/d1-manager-candidate" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa ứng viên</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->

<!-- table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 grid-data-custom">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- STT Column -->
    <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let element">{{element.stt}}</td>
    </ng-container>

    <!-- name -->
    <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef>Tên ứng viên</th>
        <td mat-cell *matCellDef="let element">{{element.fullname}}</td>
    </ng-container>

    <!-- phone -->
    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Số điện thoại</th>
        <td mat-cell *matCellDef="let element">{{element.phone}}</td>
    </ng-container>

    <!-- Địa chỉ -->
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Địa chỉ</th>
        <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>

    <!-- view -->
    <ng-container matColumnDef="numberview">
        <th mat-header-cell *matHeaderCellDef>Số lượt xem</th>
        <td mat-cell *matCellDef="let element">{{element.numberview}} </td>
    </ng-container>

    <!-- sửa -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class=" text-center">
            Chi tiết
        </th>
        <td mat-cell *matCellDef="let element" class=" text-center">
            <i class="fa fa-eye icon-update" aria-hidden="true" title="Xem thêm" (click)="openDialogUpdate(element)"></i>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
</table>
<!-- end table -->

<!-- button crud -->
<mat-card class="button-system-custom button-system-custom-footer">
    <div class="row">
        <div class="col-md-12">

            <a (click)="onDelClick()" routerLink="/d1-manager-candidate" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa ứng viên</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->
<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>