<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Danh sách hộp thư</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Chọn công ty</mat-label>
                <mat-select [(ngModel)]="companyId">
                    <mat-option *ngFor="let company of companies" [value]="company.id">
                        {{company.companyname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <div class="example-button-row contain-button-filter">
                <button (click)="onFilterClick()" class="mb-2 mr-2 btn-transition btn btn-outline-primary button-filter">Lọc
                </button>
            </div>
        </div>
    </div>
    
</mat-card>
<!--  end select-top -->

<div class="row">
    <div class="col-md-4 sidebar-chat">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="search-block">
                    <input placeholder="Tìm kiếm cuộc trò chuyện" type="text"
                        class="mb-2 form-control search-message"><i class="pe-7s-search"> </i>
                </div>

                <!-- 

                    <div class="chat-item active online">
                        <img class="chat-item-img"
                            src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-1/p100x100/79196379_1218094088394030_3993798579977191424_o.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_oc=AQnEPA4q6x414iiFdroUe84c9t6hoU9uKGoDnDbkutrqqdV1fTZbL1pJ0AK7hFZ8jV4&_nc_ht=scontent.fdad3-1.fna&_nc_tp=6&oh=9b4c30f392a0208dae250c513e9457a6&oe=5EC74564"
                            alt="">
                        <div class="chat-item-text">
                            <p class="name">Lương Thanh bình</p>
                            <p class="status">Đang hoạt động</p>
                        </div>
                        <i class="fa fa-fw icon-online" aria-hidden="true" title="online"></i>
                        <span class="fa fa-fw load-message" aria-hidden="true"></span>
                    </div>
                 -->
                <div class="list-chat" >
                    <div class="chat-item online" *ngFor="let listChatCandidateItem of listChatCandidate">
                        <img class="chat-item-img"
                            src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-1/p100x100/79196379_1218094088394030_3993798579977191424_o.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_oc=AQnEPA4q6x414iiFdroUe84c9t6hoU9uKGoDnDbkutrqqdV1fTZbL1pJ0AK7hFZ8jV4&_nc_ht=scontent.fdad3-1.fna&_nc_tp=6&oh=9b4c30f392a0208dae250c513e9457a6&oe=5EC74564"
                            alt="">
                        <div class="chat-item-text">
                            <p class="name">{{listChatCandidateItem.fullname}}</p>
                            <p class="status">Đang hoạt động</p>
                        </div>
                        <i class="fa fa-fw icon-online" aria-hidden="true" title="online"></i>
                        <span class="fa fa-fw load-message" aria-hidden="true"></span>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-content-chat">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="content-chat">
                    <div class="header">
                        <img
                            src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-1/p100x100/79196379_1218094088394030_3993798579977191424_o.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_oc=AQnEPA4q6x414iiFdroUe84c9t6hoU9uKGoDnDbkutrqqdV1fTZbL1pJ0AK7hFZ8jV4&_nc_ht=scontent.fdad3-1.fna&_nc_tp=6&oh=9b4c30f392a0208dae250c513e9457a6&oe=5EC74564">
                        <div class="header-text">
                            <p class="name">Lương Thanh bình</p>
                            <p class="status">Đang hoạt động</p>
                        </div>
                    </div>
                    <div class="body">

                        <!-- ----------------------------------- candidate chat -->
                        <div class="candidate_chat">
                            <img
                                src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-1/p100x100/79196379_1218094088394030_3993798579977191424_o.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_oc=AQnEPA4q6x414iiFdroUe84c9t6hoU9uKGoDnDbkutrqqdV1fTZbL1pJ0AK7hFZ8jV4&_nc_ht=scontent.fdad3-1.fna&_nc_tp=6&oh=9b4c30f392a0208dae250c513e9457a6&oe=5EC74564">
                            <div class="content">
                                <p>Tiền thân của Vingroup là Tập đoàn Technocom, thành lập năm 1993 tại Ucraina.Đến
                                    tháng 1/2012, Công ty CP Vincom và Công ty CP Vinpearl sáp nhập, chính thức hoạt
                                    động dưới mô hình Tập đoàn với tên gọi Tập đoàn Vingroup – Công ty CP </p>
                            </div>
                        </div>

                        <!-- ----------------------------------- employer chat -->
                        <div class="employer_chat">
                            <img
                                src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-1/p100x100/79196379_1218094088394030_3993798579977191424_o.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_oc=AQnEPA4q6x414iiFdroUe84c9t6hoU9uKGoDnDbkutrqqdV1fTZbL1pJ0AK7hFZ8jV4&_nc_ht=scontent.fdad3-1.fna&_nc_tp=6&oh=9b4c30f392a0208dae250c513e9457a6&oe=5EC74564">
                            <div class="content">
                                <p>Alo em ơi</p>
                            </div>
                        </div>

                        <!-- ----------------------------------- candidate chat -->
                        <div class="candidate_chat">
                            <img
                                src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-1/p100x100/79196379_1218094088394030_3993798579977191424_o.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_oc=AQnEPA4q6x414iiFdroUe84c9t6hoU9uKGoDnDbkutrqqdV1fTZbL1pJ0AK7hFZ8jV4&_nc_ht=scontent.fdad3-1.fna&_nc_tp=6&oh=9b4c30f392a0208dae250c513e9457a6&oe=5EC74564">
                            <div class="content">
                                <p>Alo em ơi</p>
                            </div>
                        </div>

                        <!-- ----------------------------------- employer chat -->
                        <div class="employer_chat">
                            <img
                                src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-1/p100x100/79196379_1218094088394030_3993798579977191424_o.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_oc=AQnEPA4q6x414iiFdroUe84c9t6hoU9uKGoDnDbkutrqqdV1fTZbL1pJ0AK7hFZ8jV4&_nc_ht=scontent.fdad3-1.fna&_nc_tp=6&oh=9b4c30f392a0208dae250c513e9457a6&oe=5EC74564">
                            <div class="content">
                                <p>Tiền thân của Vingroup là Tập đoàn Technocom, thành lập năm 1993 tại Ucraina.Đến tháng 1/2012, Công ty CP Vincom và Công ty CP Vinpearl sáp nhập, chính thức hoạt động dưới mô hình Tập đoàn với tên gọi Tập đoàn Vingroup – Công ty CP</p>
                            </div>
                        </div>

                        <div class="candidate_chat">
                            <img
                                src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-1/p100x100/79196379_1218094088394030_3993798579977191424_o.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_oc=AQnEPA4q6x414iiFdroUe84c9t6hoU9uKGoDnDbkutrqqdV1fTZbL1pJ0AK7hFZ8jV4&_nc_ht=scontent.fdad3-1.fna&_nc_tp=6&oh=9b4c30f392a0208dae250c513e9457a6&oe=5EC74564">
                            <div class="content">
                                <p>Alo em ơi</p>
                            </div>
                        </div>

                        <!-- ----------------------------------- employer chat -->
                        <div class="employer_chat">
                            <img
                                src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-1/p100x100/79196379_1218094088394030_3993798579977191424_o.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_oc=AQnEPA4q6x414iiFdroUe84c9t6hoU9uKGoDnDbkutrqqdV1fTZbL1pJ0AK7hFZ8jV4&_nc_ht=scontent.fdad3-1.fna&_nc_tp=6&oh=9b4c30f392a0208dae250c513e9457a6&oe=5EC74564">
                            <div class="content">
                                <p>Alo em ơi</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>