<!-- Hồ sơ đã lưu -->
<mat-card class="title-block col-md-12">
    <div class="row">
        <div class="col-md-12 title-main">
            <p> Quản lý danh mục </p>
        </div>
    </div>
</mat-card>

<mat-card class="system-custom col-md-12">
    <div class="row content">
        <div class="col-md-12 title-main">
            <mat-card class="button-system-custom title-header-crud card-add">
                <div class="row">
                    <div class="col-md-12 col-add">
                        <a (click)="onInsertDialogClick()" routerLink="/c1-saved-profile" class="button-action add">
                            <i class="fa fa-fw" aria-hidden="true" title="Thêm mới"></i>
                            <span> Thêm danh mục</span>
                        </a>
                    </div>
                </div>
            </mat-card>

            <!-- add account -->            
            <mat-card *ngIf="insertFlag" class="system-custom col-md-12">
                <div class="row">
                    <div class="col-md-12 title-main">

                        <!-- Thêm danh mục -->
                        <mat-form-field class="example-half-width ">
                            <mat-label>Tên danh mục<span class="text-red">*</span></mat-label>
                            <input matInput placeholder="Nhập tên danh mục">
                        </mat-form-field>

                        <!-- button update - destroy -->
                        <div class="example-button-row text-center">
                            <button class="mb-2 mr-2 btn-transition btn btn-primary button-update">Thêm mới
                            </button>
                            <button class="mb-2 mr-2 btn-transition btn btn-primary button-destroy">Hủy bỏ
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card>
            <!-- end add account -->

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-children">

                 <!-- Số thứ tự -->
                 <ng-container matColumnDef="stt" >
                    <th mat-header-cell *matHeaderCellDef> Số thứ tự </th>
                    <td mat-cell *matCellDef="let element" > {{element.stt}}</td>
                </ng-container>

                <!-- category Column -->              
                <ng-container  matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>
                        Danh mục
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <form class="example-form form-sort">
                            <mat-form-field class="example-full-width">
                                <input [value]="element.category" matInput
                                     />
                            </mat-form-field>
                        </form>
                    </td>
                </ng-container>

                <!-- sửa -->
                <!-- <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>
                        Sửa
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <i (click)="onEditDialogClick()" class="fa fa-fw icon-update text-center" aria-hidden="true" title="Sửa"></i>
                    </td>
                </ng-container> -->

                <!-- Xoá -->
                <ng-container matColumnDef="unsave">
                    <th mat-header-cell *matHeaderCellDef>
                        Xoá
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <i class="fa fa-trash icon-trash text-center" aria-hidden="true" title="Bỏ lưu"> </i>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    <!-- End Hồ sơ đã lưu-->