<mat-card class="title-block col-md-12">
    <div class="row">
        <div class="col-md-12 title-main">
            <p> Sửa danh mục </p>
        </div>
    </div>
</mat-card>

<!-- edit category -->
<mat-card class="system-custom col-md-12">
    <div class="row">
        <div class="col-md-12 title-main">            

            <!--  danh mục -->
            <mat-form-field class="example-half-width ">
                <mat-label>Tên danh mục<span class="text-red">*</span></mat-label>
                <input matInput placeholder="Nhập tên danh mục">
            </mat-form-field>

            <!-- Ghi chú -->
            <mat-form-field class="example-half-width ">
                <mat-label>Ghi chú<span class="text-red">*</span></mat-label>
                <input matInput placeholder="Nhập ghi chú">
            </mat-form-field>

            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-update">Cập nhật
                </button>
                <button class="mb-2 mr-2 btn-transition btn btn-primary button-destroy">Hủy bỏ
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!-- end edit category -->