<!-- Hồ sơ đã lưu -->
<mat-card class="title-block col-md-12">
    <div class="row">
        <div class="col-md-12 title-main">
            <p> Hồ sơ đã lưu </p>
        </div>
    </div>
</mat-card>

<mat-card class="system-custom col-md-12">
    <div class="row content">
        <div class="col-md-12 title-main">
            <mat-form-field class="example-full-width">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Nhập từ khoá">
            </mat-form-field>  
            <div class="col-md-12">     
                <a (click)="onDeleteClick()" routerLink="/d1-manager-support-online" class="button-action del">
                    <i  class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                    <span>Xóa</span>
                </a>
                <div class="clear"></div>
            </div>        

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-children">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Số thứ tự -->
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element"> {{element.stt}}</td>
                </ng-container>

                <!-- Họ tên -->
                <ng-container matColumnDef="fullname">
                    <th mat-header-cell *matHeaderCellDef> Họ và Tên </th>
                    <td mat-cell *matCellDef="let element"> {{element.fullname1}}</td>
                </ng-container>

                <!-- savedate Column -->
                <ng-container matColumnDef="startdate">
                    <th mat-header-cell *matHeaderCellDef> Ngày lưu </th>
                    <td mat-cell *matCellDef="let element"> {{element.startdate | date:'dd/MM/yyyy' }} </td>
                    
                </ng-container>

                <!-- Xem -->
                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef>
                        Xem
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <a routerLink="#" class="button-action add">
                            <i class="fa fa-eye" aria-hidden="true" title="Xem"> </i>
                        </a>
                    </td>
                </ng-container>

                <!-- Xoá-->
                <ng-container matColumnDef="unsave">
                    <th mat-header-cell *matHeaderCellDef>
                        Bỏ lưu
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <i (click)="onDeleteClick()" class="fa fa-trash icon-trash text-center"
                            aria-hidden="true" title="Bỏ lưu"> </i>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    <!-- End Hồ sơ đã lưu-->
    <mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>