<!-- Thông tin tài khoản -->
<mat-card class="title-block col-md-12">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Thông tin tài khoản </p>
        </div>
    </div>
</mat-card>
<mat-card class="system-custom col-md-12">
    <div class="row content">
        <div class="col-md-12 title-main">
            <table class="table-dialog">
                <tr>
                    <th>Tên đăng nhập:</th>
                    <td>luongthanhbinh45@gmail.com</td>
                </tr>
                <tr>
                    <th>Số điểm tài khoản:</th>
                    <td><span class="a-point">500</span>
                        <a (click)="openCheckoutDialog()" routerLink="/b3-ads-company" class="a-information">
                            <i class="nav-link-icon nav-menu-icon fa fa-university"> </i>
                            Nạp thêm</a></td>
                </tr>
            </table>
        </div>
    </div>
</mat-card>
<!-- end Thông tin tài khoản -->

<!-- Quảng cáo tin tuyển dụng -->
<mat-card class="title-block col-md-12">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Quảng cáo công ty </p>
        </div>
    </div>
</mat-card>
<mat-card class="system-custom col-md-12">
    <div class="row content">
        <div class="col-md-12 title-main">
            <form [formGroup]="form">
                <div class="row">
                    <!-- Số điểm  -->
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width ">
                            <mat-label>Số điểm tối thiểu : 500<span class="text-red">*</span></mat-label>
                            <input formControlName="pointcompany" [(ngModel)]="input.pointcompany" matInput
                                placeholder="Nhập số điểm">
                        </mat-form-field>
                        <div *ngIf="form.controls['pointcompany'].invalid && (form.controls['pointcompany'].dirty || form.controls['pointcompany'].touched)"
                            class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['pointcompany'].errors.required">
                                Bạn phải nhập số điểm
                            </div>
                            <div *ngIf="form.controls['pointcompany'].errors.maxlength">
                                Tên công ty không quá 11 ký tự
                            </div>
                            <div *ngIf="form.controls['pointcompany'].errors.pattern">
                                Bạn chỉ được nhập số
                            </div>
                            <div *ngIf="form.controls['pointcompany'].errors.min">
                                Bạn phải nhập lớn hơn hoặc bằng 500 điểm
                            </div>
                        </div>
                    </div>

                    <!-- Thời gian  -->
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Thời gian<span class="text-red">*</span></mat-label>
                            <mat-select formControlName="endads" [(ngModel)]="input.endads">
                                <mat-option *ngFor="let time of times " [value]="time.value">
                                    {{time.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="form.controls['endads'].invalid && (form.controls['endads'].dirty || form.controls['endads'].touched)"
                            class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['endads'].errors.required">
                                Bạn phải chọn thời gian
                            </div>
                        </div>
                    </div>

                    <!-- ngày bắt đầu -->
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Ngày bắt đầu quảng cáo<span class="text-red">*</span></mat-label>
                            <input [min]="minDate" formControlName="startads" [(ngModel)]="input.startads" matInput
                                [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <div *ngIf="form.controls['startads'].invalid && (form.controls['startads'].dirty || form.controls['startads'].touched)"
                            class="alert alert-danger form-custom">
                            <div *ngIf="form.controls['startads'].errors.required">
                                Bạn phải nhập ngày bắt đầu
                            </div>
                            Bạn phải nhập đúng định dạng ngày
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- update image logo company -->
        <div class="col-md-6" style="text-align: center">
            <img *ngIf="isUpdate == true" [src]="imgURL" width="200px" style="margin-top: 10px;" />
            <img *ngIf="isUpdate == false" [src]="input.logo" width="200px" style="margin-top: 10px;" />
            <div class="logo-company">
                <div style="text-align:center; margin-top: 30px;">
                    <input #file type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple"
                        accept="image/*" style="display:none;" (change)="preview(file.files)" />
                    <mat-card style="box-shadow:none;">
                        <mat-card-actions style="margin-bottom:2px;">
                            <button mat-button color="warn" (click)="onClick()"
                                style="padding: 3px;width: 200px;text-align: center;background: #2bbbad;box-shadow: 1px 1px 6px 1px;;color:#fff">
                                <mat-icon>file_upload</mat-icon>
                                Hình ảnh LOGO
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-md-12 title-main">
            <!-- table -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ads">

                <!-- Vị trí  -->
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>Vị trí</th>
                    <td mat-cell *matCellDef="let row">{{row.stt}}</td>
                </ng-container>

                <!-- Tên nhà tuyển dụng -->
                <ng-container matColumnDef="companyname">
                    <th mat-header-cell *matHeaderCellDef>Tên nhà tuyển dụng</th>
                    <td mat-cell *matCellDef="let row">{{row.companyname}}</td>
                </ng-container>

                <!-- Tiêu đề -->
                <ng-container matColumnDef="pointcompany">
                    <th mat-header-cell *matHeaderCellDef>Point</th>
                    <td mat-cell *matCellDef="let row">{{row.pointcompany}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
            </table>
            <!-- end table -->

            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button (click)="onOkClick()" class="mb-2 mr-2 btn-transition btn btn-primary button-update">Đăng quảng
                    cáo
                </button>
                <button (click)="onClickClear()" class="mb-2 mr-2 btn-transition btn btn-primary button-destroy">Hủy bỏ
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!-- end Quảng cáo tin tuyển dụng -->