<!-- start main right -->
<div class="employer-right el-col el-col-21">
    <div class="candidate-profile el-row">
        <div class="el-col el-col-24">
            <div class="el-breadcrumb">
                <span>
                    <span class="el-breadcrumb__item__inner">Dashboard</span>
                <span> / </span>
                <span style="color: #97a8be;">Cập nhật hồ sơ</span>
                </span>
            </div>
        </div>
        <!-- start update profile-->
        <div class="el-col el-col-24">
            <div class="sbox">
                <div class="vue-form-wizard sm">
                    <div class="wizard-navigation">
                        <!-- time line-->
                        <div class="box">
                            <div class="wizard-progress-with-circle">
                                <div class="wizard-progress-bar background-progress-bar"> </div>
                            </div>
                            <!-- global menu update document -->
                            <ul class="wizard-nav wizard-nav-pills" style="margin-bottom: 0">
                                <li class="active">
                                    <a routerLink="/manager/candidate/b1-infomation-personal">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container  background-active">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info">Thông Tin Cá Nhân</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b2-infomation-document">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-info" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Thông Tin hồ sơ</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b3-education">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Học vấn bằng cấp</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b4-experient">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Kinh nghiệm làm việc</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b5-skill-work">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-handshake" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Ký Năng làm việc </p>
                                    </a>
                                </li>
                                <button (click)="onUpdateCandidate()" type="button" class="btn btn-primary">Đăng Hồ
                                    Sơ</button>
                            </ul>
                            <!-- end global menu update document -->
                        </div>
                        <!-- end time line-->
                        <div class="wizard-tab-content box">
                            <div class="wizard-tab-container">
                                <div class="block">
                                    <h4 class="heading-title">
                                        Thông Tin Cá Nhân
                                    </h4>
                                    <hr>

                                </div>
                            </div>
                            <!-- star form-->
                            <div class="form">
                                <form [formGroup]="form">
                                    <div class="row">

                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="fullname"><b style="color: red;">*</b> Họ
                                                    tên </label>
                                                <input [(ngModel)]="candidate.fullname" type="text" class="form-control" placeholder="Nhập họ và tên..." formControlName="fullname" pattern="[a-zA-Z ]*">
                                                <div *ngIf="form.controls['fullname'].invalid && (form.controls['fullname'].dirty || form.controls['fullname'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['fullname'].errors.required">
                                                        Bạn phải nhập họ và tên
                                                    </div>
                                                    <div *ngIf="form.controls['fullname'].errors.pattern">
                                                        Tên không đúng, tên không thể có kí tự đặc biệt
                                                    </div>
                                                    <div *ngIf="form.controls['fullname'].errors.maxlength">
                                                        Họ tên không quá 30 ký tự
                                                    </div>
                                                    <div *ngIf="form.controls['fullname'].errors.minlength">
                                                        Họ tên phải trên 5 ký tự
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="phone"><b style="color: red;">*</b> Số điện
                                                    thoại:</label>
                                                <input [(ngModel)]="candidate.phone" type="text" class="form-control" placeholder="Nhập số điện thoại..." formControlName="phone">
                                                <div *ngIf="form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['phone'].errors.required">
                                                        Bạn phải nhập số điện thoại
                                                    </div>
                                                    <div *ngIf="form.controls['phone'].errors.pattern">
                                                        Bạn phải nhập đúng số điện thoại
                                                    </div>
                                                    <div *ngIf="form.controls['phone'].errors.minlength">
                                                        Số điện thoại không dưới 10 chữ số
                                                    </div>
                                                    <div *ngIf="form.controls['phone'].errors.maxlength">
                                                        Số điện thoại không quá 11 chữ số
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="email"><b style="color: red;">*</b> Địa chỉ
                                                    email:</label>
                                                <input formControlName="email" [(ngModel)]="candidate.email" type="email" class="form-control" placeholder="Vui lòng nhập email...">
                                                <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['email'].errors.required">
                                                        Bạn phải nhập email
                                                    </div>
                                                    <div *ngIf="form.controls['email'].errors.maxlength">
                                                        Email không quá 30 ký tự
                                                    </div>
                                                    <div *ngIf="form.controls['email'].errors.pattern">
                                                        Bạn phải nhập đúng email
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="born"><b style="color: red;">*</b> Ngày
                                                    sinh:</label>
                                                <input class="form-control" formControlName="born" [(ngModel)]="candidate.born" type="date" [max]="maxDate" onkeydown="return false">
                                                <div *ngIf="form.controls['born'].invalid && (form.controls['born'].dirty || form.controls['born'].touched)" class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['born'].errors.required">
                                                        Bạn phải nhập ngày sinh
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12 info-address">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label for="address"><b style="color: red;">*</b> Quốc
                                                            Tịch:</label>
                                                        <select formControlName="country" [(ngModel)]="candidate.country" class="custom-select" style="width:100%;">
                                                            <option *ngFor="let country of countrys"
                                                                [value]="country.value">
                                                                {{country.viewValue}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="form.controls['country'].invalid && (form.controls['country'].dirty || form.controls['country'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['country'].errors.required">
                                                                Bạn phải nhập quốc tịch
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label for="city"><b style="color: red;">*</b>
                                                            Tỉnh/Thành Phố:</label>
                                                        <select formControlName="city" [(ngModel)]="candidate.city" class="custom-select" style="width:100%;" (change)="loadDataDistric()">
                                                            <option *ngFor="let city of citys" [value]="city.id">
                                                                {{city.name}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="form.controls['city'].invalid && (form.controls['city'].dirty || form.controls['city'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['city'].errors.required">
                                                                Bạn phải nhập tên thành phố
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label for="provine"><b style="color: red;">*</b>
                                                            Quận/Huyện:</label>
                                                        <select formControlName="provine" [(ngModel)]="candidate.provine" class="custom-select" style="width:100%;">
                                                            <option *ngFor="let provine of provines"
                                                                [value]="provine.id">
                                                                {{provine.name}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="form.controls['provine'].invalid && (form.controls['provine'].dirty || form.controls['provine'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['provine'].errors.required">
                                                                Bạn phải nhập quận/huyện
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label for="address"><b style="color: red;">*</b> Địa
                                                            Chỉ:</label>
                                                        <input formControlName="address" [(ngModel)]="candidate.address" type="text" class="form-control" placeholder="Nhập địa chỉ...">
                                                        <div *ngIf="form.controls['address'].invalid && (form.controls['address'].dirty || form.controls['address'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['address'].errors.required">
                                                                Bạn phải nhập địa chỉ
                                                            </div>
                                                            <div *ngIf="form.controls['address'].errors.minlength">
                                                                Bạn phải nhập ít nhất 5 ký tự
                                                            </div>
                                                            <div *ngIf="form.controls['address'].errors.maxlength">
                                                                Địa chỉ của bạn đã vượt quá 101 ký tự
                                                            </div>
                                                            <div *ngIf="form.controls['address'].errors.pattern">
                                                                Địa chỉ không đúng hoặc dùng quá nhiều khoảng trắng
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label for="address"><b style="color: red;">*</b>
                                                            Giới tính:</label>
                                                        <select formControlName="sex" [(ngModel)]="candidate.sex" class="custom-select" style="width:100%;">
                                                            <option *ngFor="let sex of sexs" [value]="sex.value">
                                                                {{sex.viewValue}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="form.controls['sex'].invalid && (form.controls['sex'].dirty || form.controls['sex'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['sex'].errors.required">
                                                                Bạn phải nhập giới tính
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label for="address"><b style="color: red;">*</b>
                                                            Tình trạng kết hôn:</label>
                                                        <select formControlName="marriage" [(ngModel)]="candidate.marriage" class="custom-select" style="width:100%;">
                                                            <option *ngFor="let marriage of marriages"
                                                                [value]="marriage.value">
                                                                {{marriage.viewValue}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="form.controls['marriage'].invalid && (form.controls['marriage'].dirty || form.controls['marriage'].touched)" class="alert alert-danger form-custom">
                                                            <div *ngIf="form.controls['marriage'].errors.required">
                                                                Bạn phải nhập tình trạng hôn nhân
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <button (click)="onUpdateCandidate()" type="button" class="btn btn-primary">Cập
                                    nhật</button>
                                <button (click)="onCancel()" type="button" class="btn btn-warning">Huỷ</button>
                                <!-- </form> -->
                            </div>
                            <!-- end form-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end update profile-->
    </div>
</div>
<!--end info-->
<!-- end main right -->