<div class="alert alert-info text-center" role="alert">	
<h5 class="text-uppercase font-weight-bolder">Hệ thống Quản Lý Đại Lý</h5>	
</div>	
	
<div class="text-center">	
<button (click)="onInsertData()" class="btn btn-info custom-margin-button" mat-button 	
cdkFocusInitial>Thêm Đại Lý</button>	
</div>	
	
<mat-form-field>	
<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm giao dịch">	
</mat-form-field>	
	
<div class="mat-elevation-z8">	
<table mat-table [dataSource]="dataSource" matSort>	
	
        <!-- id Column -->	
        <ng-container matColumnDef="id">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>	
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>	
        </ng-container>	
	
        <!-- idaccount Column -->	
        <ng-container matColumnDef="idaccount">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Idaccount </th>	
          <td mat-cell *matCellDef="let element"> {{element.idaccount}} </td>	
        </ng-container>	
	
        <!-- idstaff Column -->	
        <ng-container matColumnDef="idstaff">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Idstaff </th>	
          <td mat-cell *matCellDef="let element"> {{element.idstaff}} </td>	
        </ng-container>	
	
        <!-- status Column -->	
        <ng-container matColumnDef="status">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>	
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>	
        </ng-container>	
	
        <!-- type Column -->	
        <ng-container matColumnDef="type">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>	
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>	
        </ng-container>	
	
        <!-- startdate Column -->	
        <ng-container matColumnDef="startdate">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Startdate </th>	
          <td mat-cell *matCellDef="let element"> {{element.startdate}} </td>	
        </ng-container>	
	
        <!-- money Column -->	
        <ng-container matColumnDef="money">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Money </th>	
          <td mat-cell *matCellDef="let element"> {{element.money}} </td>	
        </ng-container>	
	
        <!-- comment Column -->	
        <ng-container matColumnDef="comment">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Comment </th>	
          <td mat-cell *matCellDef="let element"> {{element.comment}} </td>	
        </ng-container>	
	
	
	
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>	
<tr mat-row (dblclick)="onUpdateData(row)" class="example-element-row" *matRowDef="let row; columns: displayedColumns;">	
</tr>	
</table>	
	
<mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" showFirstLastButtons></mat-paginator>	
</div>	
