<div class="employer-right el-col el-col-21">
    <div class="candidate-profile el-row">
        <div class="el-col el-col-24">
            <div class="el-breadcrumb">
                <span>
                    <span class="el-breadcrumb__item__inner">Dashboard</span>
                    <span> / </span>
                    <span style="color: #97a8be;">Cập nhật hồ sơ</span>
                </span>
            </div>
        </div>
        <!-- start update profile-->
        <div class="el-col el-col-24">
            <div class="sbox">
                <div class="vue-form-wizard sm">
                    <div class="wizard-navigation">
                        <!-- time line-->
                        <div class="box">
                            <div class="wizard-progress-with-circle">
                                <div class="wizard-progress-bar background-progress-bar"> </div>
                            </div>
                            <!-- global menu update document -->
                            <ul class="wizard-nav wizard-nav-pills" style="margin-bottom: 0">
                                <li class="active">
                                    <a routerLink="/manager/candidate/b1-infomation-personal">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active active-custom">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info">Thông Tin Cá Nhân</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b2-infomation-document">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-info" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Thông Tin hồ sơ</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b3-education">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Học vấn bằng cấp</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b4-experient">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container-1  background-active">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Kinh nghiệm làm việc</p>
                                    </a>
                                </li>
                                <li class="active">
                                    <a routerLink="/manager/candidate/b5-skill-work">
                                        <div class="wizard-icon-circle md checked border-color">
                                            <div class="wizard-icon-container  background-active">
                                                <i class="fa fa-handshake" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="info-pro">Kỹ Năng làm việc </p>
                                    </a>
                                </li>
                                <button (click)="onUpdateCandidate()" type="button" class="btn btn-primary">Đăng Hồ
                                    Sơ</button>
                            </ul>
                            <!-- end global menu update document -->

                        </div>
                        <!-- end time line-->
                        <div class="wizard-tab-content box">
                            <div class="wizard-tab-container">
                                <div class="block">
                                    <h4 class="heading-title">
                                        Thông Tin Hồ Sơ
                                    </h4>
                                    <hr>

                                </div>
                            </div>
                            <!-- star form-->
                            <div class="form">
                                <form [formGroup]="form">
                                    <div class="row">

                                        <!--contact form-->
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="lever"> Mô tả kỹ năng công việc công việc:</label>
                                                <div class="md-form">
                                                    <ckeditor formControlName="descriptionskill"
                                                        [(ngModel)]="candidate.descriptionskill"
                                                        [config]="{uiColor: '#2BBBAD'}" [readonly]="false"
                                                        debounce="500">
                                                    </ckeditor>
                                                </div>
                                            </div>
                                        </div>

                                        <!--check box-->
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="menu1">
                                                    Kỹ năng giao tiếp
                                                </mat-checkbox>
                                            </div>
                                            <div class="checkbox">
                                                <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="menu2">
                                                    Kỹ năng tổ chức
                                                </mat-checkbox>
                                            </div>
                                            <div class="checkbox ">
                                                <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="menu3">
                                                    Kỹ năng làm việc theo nhóm
                                                </mat-checkbox>
                                            </div>
                                            <div class="checkbox ">
                                                <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="menu4">
                                                    Kỹ năng giản quyết vấn đề
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">

                                                <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="menu5">
                                                    Kỹ năng lãnh đạo
                                                </mat-checkbox>
                                            </div>
                                            <div class="checkbox">

                                                <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="menu6">
                                                    Kỹ năng thuyết trình
                                                </mat-checkbox>
                                            </div>
                                            <div class="checkbox ">

                                                <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="menu7">
                                                    Lập kế hoạch
                                                </mat-checkbox>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="menu8">
                                                    Quản lý thời gian hiệu quả
                                                </mat-checkbox>
                                            </div>
                                            <div class="checkbox">
                                                <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="menu9">
                                                    Dễ dàng thích nghi với môi trường mới
                                                </mat-checkbox>
                                            </div>
                                            <div class="checkbox ">
                                                <mat-checkbox [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="menu10">
                                                    Tư duy sáng tạo
                                                </mat-checkbox>
                                            </div>

                                        </div>
                                        <!--end check box-->

                                        <!--table-->
                                        <div class="col-md-6" style="margin-top: 20px;">
                                            <div class="form-group">
                                                <label for="lever"><b style="color: red;">*</b> Trình độ ngoại
                                                    ngữ:</label>
                                                <select formControlName="language" [(ngModel)]="candidate.language"
                                                    class="custom-select" style="width:100%;">
                                                    <option *ngFor="let language of languages" [value]="language.value">
                                                        {{language.viewValue}}
                                                    </option>
                                                </select>
                                                <div *ngIf="form.controls['language'].invalid && (form.controls['language'].dirty || form.controls['language'].touched)"
                                                    class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['language'].errors.required">
                                                        Bạn phải nhập trình độ ngoại ngữ
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="margin-top: 20px;">
                                            <div class="form-group">
                                                <label for="lever"><b style="color: red;">*</b> Trình độ công nghệ thông
                                                    tin</label>
                                                <select formControlName="infomation" [(ngModel)]="candidate.infomation"
                                                    class="custom-select" style="width:100%;">
                                                    <option *ngFor="let infomation of infomations" [value]="infomation.value">
                                                        {{infomation.viewValue}}
                                                    </option>
                                                </select> 
                                                <div *ngIf="form.controls['infomation'].invalid && (form.controls['infomation'].dirty || form.controls['infomation'].touched)"
                                                    class="alert alert-danger form-custom">
                                                    <div *ngIf="form.controls['infomation'].errors.required">
                                                        Bạn phải nhập trình độ công nghệ
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!--end table-->

                                    </div>
                                </form>

                            </div>
                            <hr>
                            <button (click)="onUpdateCandidate()" type="button" class="btn btn-primary">Cập
                                Nhật</button>
                            <button (click)="onCancel()" type="button" class="btn btn-warning">Huỷ</button>
                        </div>
                        <!-- end form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>