<mat-card class="border border-info">	
    <div class="alert alert-info text-center" role="alert">	
        <h5 class="text-uppercase font-weight-bolder">Thông tin Ticket</h5>	
    </div>	
	
    <mat-card-content class="custom-overflow">	
        <!-- idCompany field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.idCompany" [required]="'true'" placeholder="IdCompany">	
        </mat-form-field>	
	
        <!-- idTrain field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.idTrain" [required]="'true'" placeholder="IdTrain">	
        </mat-form-field>	
	
        <!-- idTrip field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.idTrip" [required]="'true'" placeholder="IdTrip">	
        </mat-form-field>	
	
        <!-- idUser field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.idUser" [required]="'true'" placeholder="IdUser">	
        </mat-form-field>	
	
        <!-- numberSeat field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.numberSeat" [required]="'true'" placeholder="NumberSeat">	
        </mat-form-field>	
	
        <!-- isDebt field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.isDebt" [required]="'true'" placeholder="IsDebt">	
        </mat-form-field>	
	
        <!-- startDate field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.startDate" [required]="'true'" placeholder="StartDate">	
        </mat-form-field>	
	
        <!-- status field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.status" [required]="'true'" placeholder="Status">	
        </mat-form-field>	
	
        <!-- price field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.price" [required]="'true'" placeholder="Price">	
        </mat-form-field>	
	
        <!-- timeCheckIn field -->	
        <mat-form-field class="example-full-width">	
          <input matInput [(ngModel)]="input.timeCheckIn" [required]="'true'" placeholder="TimeCheckIn">	
        </mat-form-field>	
	
    </mat-card-content>	
	
    <div class="text-center">	
        <button *ngIf="type == 1" (click)="onDeleteClick()" class="btn btn-danger custom-margin-button" mat-button>Xóa	
        </button>	
        <button class="btn btn-warning custom-margin-button" mat-button [mat-dialog-close]="data.animal">Đóng</button>	
        <button cdkFocusInitial (click)="onOkClick()" class="btn btn-info custom-margin-button" mat-button>Đồng	
            ý</button>	
    </div>	
	
</mat-card>	
