<div class="alert alert-info text-center" role="alert">	
<h5 class="text-uppercase font-weight-bolder">Hệ thống Quản Lý Đại Lý</h5>	
</div>	
	
<div class="text-center">	
<button (click)="onInsertData()" class="btn btn-info custom-margin-button" mat-button 	
cdkFocusInitial>Thêm Đại Lý</button>	
</div>	
	
<mat-form-field>	
<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm giao dịch">	
</mat-form-field>	
	
<div class="mat-elevation-z8">	
<table mat-table [dataSource]="dataSource" matSort>	
	
        <!-- id Column -->	
        <ng-container matColumnDef="id">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>	
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>	
        </ng-container>	
	
        <!-- idCompany Column -->	
        <ng-container matColumnDef="idCompany">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> IdCompany </th>	
          <td mat-cell *matCellDef="let element"> {{element.idCompany}} </td>	
        </ng-container>	
	
        <!-- idTrain Column -->	
        <ng-container matColumnDef="idTrain">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> IdTrain </th>	
          <td mat-cell *matCellDef="let element"> {{element.idTrain}} </td>	
        </ng-container>	
	
        <!-- idTrip Column -->	
        <ng-container matColumnDef="idTrip">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> IdTrip </th>	
          <td mat-cell *matCellDef="let element"> {{element.idTrip}} </td>	
        </ng-container>	
	
        <!-- idUser Column -->	
        <ng-container matColumnDef="idUser">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> IdUser </th>	
          <td mat-cell *matCellDef="let element"> {{element.idUser}} </td>	
        </ng-container>	
	
        <!-- numberSeat Column -->	
        <ng-container matColumnDef="numberSeat">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> NumberSeat </th>	
          <td mat-cell *matCellDef="let element"> {{element.numberSeat}} </td>	
        </ng-container>	
	
        <!-- isDebt Column -->	
        <ng-container matColumnDef="isDebt">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> IsDebt </th>	
          <td mat-cell *matCellDef="let element"> {{element.isDebt}} </td>	
        </ng-container>	
	
        <!-- startDate Column -->	
        <ng-container matColumnDef="startDate">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> StartDate </th>	
          <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>	
        </ng-container>	
	
        <!-- status Column -->	
        <ng-container matColumnDef="status">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>	
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>	
        </ng-container>	
	
        <!-- price Column -->	
        <ng-container matColumnDef="price">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>	
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>	
        </ng-container>	
	
        <!-- timeCheckIn Column -->	
        <ng-container matColumnDef="timeCheckIn">	
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TimeCheckIn </th>	
          <td mat-cell *matCellDef="let element"> {{element.timeCheckIn}} </td>	
        </ng-container>	
	
	
	
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>	
<tr mat-row (dblclick)="onUpdateData(row)" class="example-element-row" *matRowDef="let row; columns: displayedColumns;">	
</tr>	
</table>	
	
<mat-paginator [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>	
</div>	
